ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

ul{
    &.list-inline{
        list-style: none;
        padding: 0;
        > li{
            display: inline-block;
            margin-right: 15px;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}