table {
	margin: 0 0 1.5em;
	width: 100%;	
	text-align: left;
	thead, tbody, tfoot {
		th, td {
			padding-top: 10px;
			padding-bottom: 10px;
			border-bottom: 1px solid #ccc;
		}
		td#next {
			text-align: right;
		}
	}
	tbody {
		tr:last-child {
			th, td {
				border-bottom: 0
			}
		}
	}
}