.widget_products {
	.product_list_widget {
	  margin-top: 0;
	  & > li {
	    display: flex;
	    padding-top: 0;
		margin-bottom: 15px;
		padding-bottom: 13px;
	    & > a {
	      flex: 0 0 25%;
	    }
	    & > .widget-product-meta {
	      flex: 0 0 75%;
	      padding-left: 15px;
	    }

	    &:first-child {
	    	padding-top: 3px;
	    }
	  }
	  .product-title {
	    margin-bottom: 5px;
	    a {
	    	font-weight: 600;
	    	&:hover {
	    		text-decoration: none;
	    	}
	    }
	  }
	  .product .star-rating {
	    margin-bottom: 5px;
	  }
		.widget-product-meta {
			del {
				font-size: 14px;
			}
			> span.amount,
			ins {
				font-weight: 600;
			}
		}
	}
}