.style-3.nb-social-icons{
	a{
		border:none;
	}
}
.meta-align-center{
	article.post{
		text-align: center;
		.entry-title a:before{
			left:50%;
			transform: translateX(-50%);
		}
		.entry-text{
			text-align:left;
		}
	}
}
.meta-align-right{
	article{
		text-align: right;
		.entry-title a:before{
			right:0;
		}
		.entry-text{
			text-align:left;
		}
	}
}
.blogs{
	article{
		.entry-content{
			div.entry-image{
				margin-bottom:35px;
			}
		}
		.entry-cat{
			text-transform: uppercase;
			margin-bottom: 5px;
		}
		.entry-title{
			margin-bottom: 15px;
			a{
				position: relative;
				display: inline-block;
				padding-bottom:15px;
				&:before{
					content:'';
					position: absolute;
					height: 2px;
					width: 40px;
					background:#555555;
					bottom:0;
				}
			}
		}
		.entry-wrap{
			text-transform: uppercase;
			.entry-meta{
				display: inline-block;
				>span{
					&:after{
						content:'-';
						margin-left:10px;
						margin-right:10px;
					}
				}
				.byline{
					color:#999999;
					a{
						text-transform: uppercase;
					}
				}	
			}
			.tags-links{
				color:#999999;
			}
			>span:not(:last-child){
				&:after{
					content:'-';
					margin-left:10px;
					margin-right:10px;
				}
			}
		}
		.entry-text{
			margin-bottom:20px;
			.entry-summary{
				margin-top:20px;
				margin-bottom:25px;
			}
		}
		.entry-footer{
			span{
				text-transform: uppercase;
			}
			.social-section{
				display:inline-block;
				padding-left:0;
				.social-item{
					display: inline-block;
					margin-right:15px;
				}
			}
		}
	}
}