.content-search > article {
    .entry-content {
        //padding-bottom: 20px;
    }
    .entry-meta,
    .comments-link {
        display: inline-block;
        margin-bottom: 15px;
        > span {
            display: inline-block;
            margin-right: 15px;
            @include media-breakpoint-down(xs) {
                margin-right: 9px;
            }
        }
    }
    .entry-meta {
	    color: #999;
	    font-size: 14px;
	    margin-bottom: 10px;
		> span {
		    margin-right: 5px;
		    &.byline {
		    	margin-left: 5px;
		    }
		    &.no-comments {
		    	margin-left: 6px;
		    }
		}
    }
    .entry-title {
        margin-top: 0;
        margin-bottom: 0px;
        
    }
    .entry-text {
        margin-bottom: 30px;
        &:after{
            display: table;
            content: '';
            clear: both;
        }
    }
	.entry-summary{
		margin-top: 0;
	}
    .entry-footer {
        border-top: 1px solid;
        padding-top: 15px;
        @include flex();
        @include justify(space-between);
        span:before {
            margin-right: 5px;
        }
        .tags-links, .comments-link {
            font-size: .9em;
            font-style: italic;
        }
    }
}

.content-search{
    > article {
        @include media-breakpoint-up(lg){
            @include flex();
            @include justify(space-between);
        }
		&:not(:last-of-type) {
			margin-bottom: 30px;
			border-bottom: 1px solid #d7d7d7;
		}
		&:last-of-type{
			margin-bottom: 0;
		}
        .entry-title{
            font-size: 20px;
        }
        .entry-image {
            flex: 0 0 15%;
            margin-right: 30px !important;
			margin-bottom: 15px !important;
			@include media-breakpoint-up(lg){
				margin-bottom: 30px !important;
			}
        }
        .entry-content {
            flex: 1 0 80%;
        }
        .entry-summary{
            margin: 15px 0;
        }
    }
    .page-title{
        border-bottom: 3px double #d7d7d7;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
}

.blog {
	.classic {
		@include make-row();
		margin-left: 0;
		margin-right: 0;
		.post {	
			.entry-title {
				margin-top: 6px;
				margin-bottom: 10px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.entry-meta {
				font-size: 12.63px;
				color: #888888;
			}
		}
	}	
	&.style-2 {
		.post {
			margin-bottom: 60px;
			.entry-image {
				margin-bottom: 0;
			}
		}
	}
	&.classic-1-columns, .classic--columns {
		.post{
			width: 100%;
			border-bottom: 1px solid #d7d7d7;		
			margin-bottom: 60px;
			padding-bottom: 15px;
			&:last-child {
				border-bottom: 0;
				margin-bottom: 0;
			}
			.entry-image {
				img {
					width: 100%;
				}
			}
			.entry-text {
				margin-top: 18px;
			}
		}
	}
	&.classic-2-columns {
		.blog-wrapper-columns {
			display: flex;
			flex-wrap: wrap;
		}
		.post {
			@include make-col-ready();
			@include make-col(6);
			margin-bottom: 45px;
			.entry-image {
				img {
					width: 100%;
				}
			}

			.read-more-link {
				padding-bottom: 30px
			}

			&:nth-child(2n+2) {
			    &:after {
					right: 0px;
					width: auto;
			    }
			}
		}		
	}
	&.classic-3-columns {
		.blog-wrapper-columns {
			display: flex;
			flex-wrap: wrap;
		}
		.post {
			@include make-col-ready();
			@include make-col(4);
			margin-bottom: 45px;
			.entry-image {
				img {
					width: 100%;
				}
			}

			.read-more-link {
				padding-bottom: 30px
			}

			&:nth-child(3n+3) {
			    &:after {
					right: 0px;
					width: auto;
			    }
			}
		}
	}
}