.blog {
  .classic,.modern{
    .post{
      .entry-meta{
        >span{
					margin-right:10px;
				}
      }
    }
  }
  .post {
    .entry-content {
      overflow: auto;
    }
    .entry-image {
      img {
        max-width: 100%;
        height: auto;
        vertical-align: middle;
      }
    }
    .entry-image {
      position: relative;
      margin-bottom: 22px;
      .image-mask {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        color: #fff;
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease;
        span {
          @include centerer;
          color: #fff;
          text-transform: capitalize;
          font-size: 16px;
        }
      }
      .read-time {
        bottom: -30px;
        transition: all .3s;
        position: absolute;
        margin-left: 30px;
        margin-right: 30px;
        width: calc(100% - 60px);
        text-align: center;
        border-top: 1px solid;
        padding-top: 5px;
        padding-bottom: 5px;
        color: #fff;
      }
      &:hover {
        .image-mask {
          opacity: 1;
          visibility: visible;
          .read-time {
            bottom: 0px;
          }
        }
      }
    }
    .entry-meta {
      .byline {
        a {
          text-transform: capitalize;
        }
      }
      //font-size: .9em;
      //.posted-on:not(:last-child) {
      //  &:after {
      //    font-family: 'printcart-ico';
      //    content: '\e80c';
      //    margin-left: 4px;
      //  }
      //}
      //.read-time:not(:first-child) {
      //  &:after {
      //    font-family: 'printcart-ico';
      //    content: '\e80c';
      //    margin-left: 4px;
      //  }
      //}
    }
    .entry-cat {
      a {
        display: inline-block;
		text-transform: uppercase;
		font-size: 12.63px;
		line-height: 20px;
      }
    }
	.entry-title {
		a{
			font-weight: 500;
			line-height: 20px;
		}

	}
	.entry-summary {
		line-height: 26px;
		color: #666666;
		margin: 18px 0 0;
	}
	.read-more-link {
		margin-top: 20px;
		a{
			padding: 9px 17px;
			border-radius: 5px;
			text-transform: capitalize;
			line-height: 20px;
			height: auto;
			border: 1px solid;
			text-decoration: none;
		}
    > a {
      padding: 5px 17px;
    }
	}
  }
  .no-sidebar {
    #primary {
      width: 100%;
    }
  }
  &.meta-align-center {
    .post {
      .entry-meta, .read-more-link {
        text-align: center;
      }
    }
  }
  &.meta-align-right {
    .post {
      .entry-meta, .entry-title, .entry-cat, .read-more-link {
        text-align: right;
      }
    }
  }
  .site-content {
    margin-top: 60px;
  }
}

.site-main.modern {
  .posted-on, .byline a, .entry-meta {
    color: #888888;
    font-size: 13px;
  }
  .entry-title {
    margin-bottom: 7px
  }
}
#entry-swiper{
	margin-bottom:60px;
	.swiper-container {
		width: 100%;
	}
	.swiper-slide {
		text-align: center;
		width: 70%;
	}
	.entry-image{
		img{
			width:100%;
		}
	}
	.image-mask{
		display: none;
	}
	.swiper-slide-active{
		.entry-content{
			opacity: 1;
		}
	}
	.entry-content{
		transition:2s;
		opacity: 0;
		background:#fff;
		border:none;
		outline: none;
		padding: 30px;
		.entry-cat{
			margin-bottom:6px;
			a{
				text-transform: uppercase;
			}
		}
		h3.entry-title{
			a{
				position: relative;
				display: inline-block;
				padding-bottom:13px;
				&:before{
					content:'';
					position: absolute;
					height: 2px;
					width: 40px;
					bottom:0px;
					left:50%;
					transform: translateX(-50%);
					background: #555555;
				}
			}
		}
		.entry-meta{
			margin-bottom:25px;
			text-transform: uppercase;
			.byline{
				color:#999999;
			}
			>span:not(:last-child):after{
				content:'-';
				margin-left:10px;
				margin-right:10px;
			}
		}
	}
	.entry-image ~ .entry-content{
		position: absolute;
		left:50%;
		top:50%;
		transform: translateX(-50%) translateY(-50%);
		width: 50%;
	}
}
article{
  .more-link{
    font-size:18px;
    .meta-nav{
      margin-left:5px;
      animation:more-link 1s linear infinite;
    }
  }
}

@keyframes more-link{
  0%{margin-left:5px;}
  50%{margin-left:10px;}
  100%{margin-left:5px;}
}

.related-post-wrap{
  .owl-nav{
    >div{
      position: absolute;
      height:100%;
      width:40px;
      height: 40px;
      transform: translateY(-50%);
      top: 50%;
      font-size:36px;
      background-color: rgba(255,255,255,0.7);
      display: flex;
      justify-content: center;
      align-items: center;
      &.owl-prev{
        left:0;
      }
      &.owl-next{
        right:0;
      }
    }
  }
}
.nbd-gallery-con{
  padding-left:1px;
  .nbd-sidebar-con-inner {
    ul{
      padding-left:0;
      li {
        a {
          span{
            white-space:normal;
          }
        }
      }
    }
  }
}