.layout-1-columns{
	.post {
		.entry-content{
			overflow: visible;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			>div{
				width: calc(50% - 15px);
			}
			.entry-title{
				margin-bottom:3px;
			}
			.entry-text{
				.entry-summary{
					margin-top:20px;
					margin-bottom:20px;
					line-height: 24px;
				}
			}
		}
	}
}

.layout-2-columns,.layout-3-columns{
	.layout{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-right:-15px;
		margin-left:-15px;
		article{
			padding-right:15px;
			padding-left:15px;
			.entry-title{
				a{
					position: relative;
					display: inline-block;
					padding-bottom:13px;
					&:before{
						content:'';
						position: absolute;
						height: 2px;
						width: 40px;
						bottom:0px;
						background: #555555;
					}
				}
			}
			.entry-summary{
				margin-top:20px;
				margin-bottom:20px;
				line-height: 24px;
			}
		}
	}
}

.layout-2-columns{
	.layout{
		article{
			flex:0 0 50%;
			max-width: 50%;
		}
	}
}

.layout-3-columns{
	.layout{
		article{
			flex:0 0 33.3%;
			max-width: 33.3%;
		}
	}
}

.layout{
	.image-mask{
		display: none;
	}
	.entry-thumb{
		position: relative;
		margin-bottom:25px;
		.entry-number{
			position: absolute;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;	
			background:rgba(0,0,0,0.65);
			opacity: 0;	
			transition:0.5s;
			span{
				color:#fff;
				i{
					margin-right:10px;
				}
				a{
					color:#fff;
				}
			}
			>span:not(:last-child){
				margin-right:30px;
			}
		}
		&:hover{
			.entry-number{
				opacity:1;
			}
		}
	}
	.entry-cat{
		text-transform: uppercase;
	}
	.entry-meta{
		span,span.byline span.author a{
			text-transform: uppercase;
		}
		>span.byline{
			color:#999999;
		}
		>span:not(:last-child):after{
			content:'-';
			margin-left:15px;
			margin-right:15px;
		}
	}
	.entry-footer{
		margin-top:20px;
		text-transform: uppercase;
		.social-section{
			display: inline-block;
			padding-left:0;
			.social-item{
				display: inline-block;
				margin-right:10px;
			}
		}
	}
}
.enable{
	#secondary{
		.side-wrap{
			text-align:center;
			border-bottom:1px solid ;
			margin-bottom:20px;
			h3.widget-title{
				display: inline-block;
				border-bottom:none;
				margin-bottom:0;
				&:before{
					left:50%;
					width: 100%;
					height: 2px;
					transform: translateX(-50%);
				}
			}
		}
	}
}

@media screen and( max-width:991px ){
	.layout-3-columns {
		.layout {
			article{
				flex:0 0 50%;
				max-width:50%;
			}
		}
	}
}
@media screen and( max-width:575px ){
	.layout-3-columns,.layout-2-columns {
		.layout {
			article{
				flex:0 0 100%;
				max-width:100%;
			}
		}
	}
	.layout-1-columns {
		.post {
			.entry-content{
				flex-wrap:wrap;
				>div{
					flex: 0 0 100%;
					max-width: 100%;
				}
			}
		}
	}
}