.blog .modern article {
  margin-bottom:30px;
  display: flex;


  @include media-breakpoint-down(md){
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 30px;
  }

  @include media-breakpoint-down(sm){
    flex-wrap: wrap;
  }

  &:last-child {
    @include media-breakpoint-down(md){
      border-bottom: 0;
    }
  }
  .entry-image {
      position: relative;
      margin-bottom: 0px;
      flex-basis: 370px;
      min-width: 370px;
      margin-right: 30px;

      @include media-breakpoint-down(sm){
        flex: 0 0 100%;
        margin-right: 0;
        margin-bottom: 10px;


      }
      a{
        display: block;
        max-height: 250px;
        overflow: hidden;
      }
  }
}
