.single-blog {
    margin-bottom: 60px;

    &.no-sidebar {
        #primary {
            width: 100%;
        }
    }

    .entry-image {
        margin-bottom: 30px;
    }

    .entry-content {
        padding-right: 15px;
        padding-bottom: 30px;
    }

    .social-section {
        text-align: center;
        text-transform: uppercase;
        color: #999999;
        padding-left: 0;

        .social-item {
            display: inline-block;
            margin-right: 10px;
        }
    }

    .entry-wrap {
        text-align: center;
        margin-bottom: 20px;

        span {
            text-transform: uppercase;
        }

        .entry-meta {
            display: inline-block;

            >span {
                &:not(:last-child):after {
                    content: '-';
                    margin-right: 15px;
                    margin-left: 15px;
                }
            }
        }

        .entry-tags {
            display: inline-block;

            &:before {
                content: '-';
                margin-right: 15px;
                margin-left: 15px;
            }

            label {
                text-transform: uppercase;
            }
        }
    }

    .entry-title {
        margin-top: 0;
        margin-bottom: 20px;
        text-align: center;

        a {
            position: relative;
            padding-bottom: 10px;
            display: block;
            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                height: 2px;
                background: #555555;
                width: 40px;
            }
        }
    }

    .entry-cat {
        text-align: center;

        a {
            display: inline-block;
            background: #fff;
            text-transform: uppercase;
            padding: 8px;
        }
    }

    .entry-text {
        margin-bottom: 30px;
    }

    .entry-share {
        .social-section {
            display: inline-block;
        }
    }

    div.entry-recent {
        margin-bottom: 65px;

        .related-post-wrap {
            margin: 0;

            .related-item {
                padding: 0;
            }
        }
    }

    .read-more-link {
        text-align: center;

        a {
            display: inline-block;
            border: 2px solid;
            padding: 5px 10px;
        }
    }

    .entry-footer {
        display: block;
        border-bottom: 1px solid;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 30px;

        span:before {
            margin-right: 5px;
        }

        .tags-links {
            font-style: italic;
        }
    }

    .tags-links:before {
        display: none;
    }

    .entry-author {
        padding: 0;
        display: flex;
        margin-bottom: 65px;

        .author-image {
            margin-right: 30px;
        }

        .author-name {
            font-weight: 700;
            margin-bottom: 10px;
            font-size: 18px;
            margin-bottom: 20px;
            text-transform: capitalize;
        }

        .author-description {
            line-height: 24px;
            margin-bottom: 10px;
        }
    }

    .single-blog-nav {
        position: relative;
        padding-top: 30px;
        margin-bottom: 75px;
        overflow: hidden;
        .prev,
        .next {
            width: 45%;

            >span {
                display: block;
            }

            &:hover {
                .meta-nav {
                    opacity: 1;
                    visibility: visible;
                }
            }

            a {
                display: flex;
            }

            .thumb {
                img {
                    width: 100px;
                    max-width: none;
                }
            }

            .navi {
                font-size: 16px;
                font-weight: bold;

                span {
                    display: block;
                    text-transform: uppercase;
                    color: #999999;
                    font-size: 12px;
                    font-weight: normal;
                }
            }
        }

        .prev {
            float: left;
            .meta-nav {
                left: -30px;
            }

            &:hover {
                .meta-nav {
                    left: -20px;
                }
            }

            .navi {
                margin-left: 30px;
            }
        }

        .next {
            float:right;
            text-align: right;

            .meta-nav {
                right: -30px;
            }

            &:hover {
                .meta-nav {
                    right: -20px;
                }
            }

            a {
                justify-content: flex-end;
            }

            .navi {
                margin-right: 30px;
            }
        }

        .meta-nav {
            position: absolute;
            top: 3px;
            font-size: 12px;
            transition: all .2s ease;
            opacity: 0;
            visibility: hidden;
        }
    }

    &.meta-align-center {

        .entry-meta,
        .entry-title,
        .entry-cat {
            text-align: center;
        }
    }

    &.meta-align-right {

        .entry-meta,
        .entry-title,
        .entry-cat {
            text-align: right;
        }
    }

    .author-image {
        min-width: 165px;

        img {
            width: 100%;
        }
    }

    .author-title,
    .related-title,
    .comment-title {
        text-align: center;
        border-bottom: 1px solid #f2f2f2;
        margin-bottom: 45px;

        h2 {
            display: inline-block;
            margin-bottom: 0;
            padding-bottom: 25px;
            position: relative;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 600;

            &:after {
                content: '';
                position: absolute;
                height: 2px;
                width: 100%;
                background: #555555;
                bottom: 0;
                left: 0;
            }
        }
    }

    #comments {
        padding: 0;

        .comment-respond {
            #reply-title {
                display: none;
            }
        }

        .comments-title {
            display: none;
        }

        .comment-list {
            margin-bottom: 50px;

            .comment-meta {
                margin-bottom: 25px;
            }

            .comment-author {
                font-size: 16px;
                margin-bottom: 5px;

                span {
                    display: none;
                }
            }

            .comment-metadata {
                time {
                    text-transform: uppercase;
                    font-size: 12px;
                }
            }

            .comment-content {
                line-height: 24px;
            }

            .comment-body {
                position: relative;

                .reply {
                    position: absolute;
                    right: 0;
                    top: 0;
                }
            }
        }

        #respond {
            text-align: center;

            h3 {
                display: inline-block;
                position: relative;
                font-size: 18px;
                margin-bottom: 45px;
                padding-bottom: 25px;

                &:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    height: 2px;
                    width: 100%;
                    background: #555555;
                    transform: translateX(-50%);
                }
            }

            form {
                display: flex;
                flex-wrap: wrap;
                margin-left: -15px;
                margin-right: -15px;

                .comment-form-comment {
                    width: 100%;
                }
            }

            input:not([type='submit']) {
                padding-left: 15px;
                width: 100%;
            }

            .form-submit {
                justify-content: center;
                width: 100%;

                input {
                    flex: none;
                }
            }

            p {
                padding-right: 15px;
                padding-left: 15px;
                margin-bottom: 30px;
				
                &[class*='comment-form']:not(.comment-form-comment) {
                    width: 33.3%;
					display: inline-block;
					@include media-breakpoint-down(sm){
						width: 100%;
					}
				}
				
				&[class*='comment-form'].comment-form-cookies-consent{
					width: 100%;
					order: 1;
					text-align: left;
					align-items: center;
					input{
						width: auto;
						height: auto;
						position: static;
						margin-top: 4px;
					}
				}

				&.form-submit{
					order: 2;
				}

                textarea {
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }
        }
    }
}

.single-post {
    .site-content {
        margin-top: 60px;
    }

    .nb-page-title {
        .entry-cat {
            a {
                display: inline-block;
                padding: 8px;
            }
        }
    }

    .entry-image {
        img {
            width: 100%;
        }
    }

    .nb-page-title-wrap {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 45px;

        span {
            margin: 0px 8px;
        }

        nav {
            color: #fff;

            a {
                color: #fff;
            }
        }
    }

    .entry-content {
        .single-post {
            .entry-text {
                .entry-footer {
                    display: none;
                }
            }
        }
    }

    .entry-footer {
        display: flex;
        justify-content: space-between;
        border: 1px solid;
        padding: 14px 20px;

        .entry-tags {
            label {
                margin-right: 5px;
            }

            .tags-links {
                font-style: normal;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .single-blog {
        .entry-author {
            flex-direction: column;

            .author-image {
                margin-bottom: 30px;
                margin-right: 0px;
            }
        }

        .single-blog-nav {
            .next,
            .prev {
                .thumb {
                    display: none;
                }
            }
            .next .navi{
                margin-right: 0;
            }
            .prev .navi{
                margin-left: 0;
            }
        }

        .related-post {
            flex-wrap: wrap;

            .related-content {
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 30px;
            }
        }
    }
}

@media screen and (max-width:480px) {
    .single-blog {
        .related-post {
            .related-content {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}