.single-product {
	h1.product_title {
		font-weight: 600;
		margin-bottom: 0px;
		line-height: 40px;
	}
	.woocommerce-product-rating {
		.star-rating {
			&:before, span {
				color: #ffcc00;
			}
			
		}
	}
	.single-product-wrap,
	.single_variation_box {

		.price {
			> span.amount {
				font-weight: 700;
				line-height: 21px;
				margin-top: 5px;
				display: inline-block;
			}

			.nbtwccs_price_code {

				> span.amount {
					font-weight: 700;
					line-height: 21px;
					margin-top: 5px;
				}
			}
		}
	}

	.single-product-wrap {
		margin-bottom: 30px;
	}

	.single_variation_box {
		.price {
			margin-bottom: 5px;
		}
	}

	.product_meta {
		line-height: 21px;
		.wc-availability {
			display: inline-block;
			margin-right: 16px;
			.in-stock {
				color: #99cc33;
			}
		}
		.sku_wrapper {
			display: inline-block;
		}
	}

	.wc-single-online-desginer {
		border-bottom: 1px solid #e3e4e5;
		padding-bottom: 30px;
		h4 {
			text-transform: uppercase;
			color: #444444;
			font-weight: 500;
			margin-bottom: 6px;
		}
		h6 {
			color: #666666;
		}
		.nbdesigner_frontend_container {
			p {
				display: inline-block;
				&#nbd-share-group {
					position: relative;
					left: 10px;
					top: 8px;
				}
			}
			.nbdesigner-upload-title{
				display: none !important;
			}
			#nbdesigner_upload_preview {
				margin-bottom: 15px;
				flex: 0 0 65%;
				text-align: right;
				margin-top: -27px;

				.img-con {
					padding: 0;
					border-radius: 5px;
					border: 1px solid #d7d7d7;

					img {
						display: block;
						width: 87px;
						height: 87px;
					}
					.nbd-file-title {
						display: none;
					}

					&:last-child {
						margin-right: 0;
					}
				}


			}
		}
	}

	.nbdesign-button {
		font-weight: 300;
		line-height: 21px;
		border-radius: 3px;
		padding: 12px 25px;
		border: 0;
	}
	#nbdesigner-upload-title {
		display: none;
	}

	.nbt-section-cart{
		background-color: #e6eefb;
	}
	.yith-func-wrap {
		display: flex;
		.yith-button-wrap,
		.yith-share-wrap{

			display: flex;
			flex: 0 0 50%;
			flex-wrap: nowrap;
		}
		.yith-button-wrap {
			.yith-wcwl-add-to-wishlist,
			.compare.button {
				display: block;
				border: 1px solid #ccc;
				background-color: transparent;
				width: 40px;
				height: 40px;
				line-height: 40px;
				border-radius: 5px;
				text-align: center;

				a{
					text-decoration: none;
				}
				> .yith-wcwl-wishlistaddedbrowse,
				> .yith-wcwl-wishlistexistsbrowse{
					padding-top: 0;
				}
				.icon-heart{
					color: #999999;
					&:before{
						margin-right: 0;
					}
				}
			}
			.compare.button {
				.fa{
					font-family: 'printcart-ico';
					color: #999999;
					&:before{
						content: "\e800";
					}
				}
			}
		}

		.yith-share-wrap{
			text-transform: uppercase;
			justify-content: flex-end;
			ul{
				margin: 0;
				padding: 0;
				list-style: none;
				li{
					display: inline-block;
					a{
						color: #666666;
					}
				}
			}
		}

	}

	.nbt-variations {
		display: flex;
		padding-bottom: 30px;
		h4 {
			text-transform: uppercase;
			color: #444444;	
			font-weight: 500;
			line-height: 21px;
			margin-bottom: 6px;
			padding-bottom: 0;
		}
		p {
			color: #666666;
			line-height: 21px;
		}
		.variations,
		.single_variation_wrap {
			flex: 0 0 50%;

		}

		.variations {
			.item-variations{
				margin-bottom: 6px;
				label {
					color: #666666;
					line-height: 21px;
					margin-bottom: 0;
				}
				.reset_variations {
					font-size: 13px;
				}
			}

			.variations-wrap{
				background: #f9f9f9;
				padding: 30px 30px 0px;
				.nbtcs-swatches[data-attribute_name="Color"]{
					span{
						position: relative;
						&.selected:after{
							content:'';
							position: absolute;
							height: 10px;
							width: 5px;
							border-bottom: 2px solid #fff;
							border-right: 2px solid #fff;
							top: 50%;
							left:50%;
							transform: translateX(-50%) translateY(-50%) rotate(47deg);
						}
					}
				}
			}
		}

		.single_variation_wrap {
			padding-left: 15px;
			.addtocart-wrap {
				background: #f9f9f9;
				padding: 26px 30px 23px;
			}

			.qty-buttons {
				span {
					background: transparent;
				}
			}

			.input-text {
				background: transparent;
			}
		}

	}

	.single_add_to_cart_button {
		line-height: 24px;
		height: auto;
		padding: 8.5px 65px;
	}

	&.has-price-matrix:not(.has-color_swatches) {
		.variations,
		.nbt-variations > .table-responsive {
			display: none;
		}

		.single_variation_wrap {
			flex: 0 0 100%;
			padding-left: 0;
		}

		.table-responsive {
			margin-bottom: 25px !important;
		}

		.woocommerce-variation.single_variation {
			margin-bottom: 20px;
		}

		@include media-breakpoint-down(lg){
			.single_variation_wrap {
				width: 100%;
				flex: auto;
			}
		}
	}

}


#back-to-top-button {
	width: 45px;
	height: 45px;
	text-align: center;
	text-decoration: none;
	i {
		position: relative;
		top: 2px;
	}
}