.cart-notice-wrap {
  position: fixed;
  top: 60px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  transition: all .4s ease;
  z-index: 9999;
  .cart-notice {
    border: 2px solid;
    padding: 20px;
    background-color: #fff;
  }
  .cart-url {
    text-align: center;
    border: 1px solid;
    padding: 10px 0;
    margin-bottom: 0;
    width: 100%;
    a {
      color: #fff;
      text-decoration: none
    }
  }
  &.active {
    opacity: 1;
    visibility: visible;
  }
  span {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
  }
}

@media screen and (max-width: 992px) {
  .cart-notice-wrap {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    .cart-notice {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 230px;
    }
  }
}