.woocommerce-checkout {
  #primary {
    width: 100%;
    .woocommerce-checkout{
      margin-bottom: 60px;
    }
  }
  #customer_details {
    p.form-row-first, p.form-row-last {
      width: 50%;
      float: left;
    }
    p.form-row-first {
      padding-right: 15px;
    }
    p.form-row-last {
      padding-left: 15px;
    }
    .form-row {
      label {
        display: block;
        font-weight: bold;
        margin-bottom: 7px;
      }
      input.input-text {
        height: 45px;
        line-height: 45px;
        border-radius: 2px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
      }
      textarea.input-text {
        padding-left: 10px;
        padding-right: 10px;
        min-height: 110px;
      }
      .select2-container {
        line-height: 45px;
        height: 45px;
        .select2-selection--single {
          height: 45px;
          padding-top: 7px;
          border-color: #cccccc;
          .select2-selection__arrow {
            top: 8px;
          }
        }
      }

      &#order_comments_field {
        margin-bottom: 30px;
      }
    }
  }
}

.checkout_coupon {
  .form-row {
    display: inline-block;
  }
  .input-text {
    border-color: transparent;
    border-bottom-color: #ccc;
    margin-right: 15px;
    font-size: 16px;
    &:focus {
      outline: 0;
    }
  }
}

.shop_table.woocommerce-checkout-review-order-table {
  .cart-subtotal, .order-total {
    .amount {
      font-weight: bold;
      font-size: 1.5em;
    }
  }
  .product-total, .cart-subtotal td, .order-total td, .shipping td {
    text-align: right;
  }
}

.wc_payment_methods {
  padding-left: 0;
  list-style-type: none;
  .payment_method_paypal {
    img {
      display: block;
    }
  }
}

.woocommerce-order-received {
  .woocommerce-order {
    margin-bottom: 60px;
    .btn-pdf-preview {
      padding: 5px 15px;
    }
  }

}