.woocommerce, .woocommerce-page {
  .woocommerce-message, .woocommerce-error, .woocommerce-info {
    width: 100%;
    position: relative;
    list-style-type: none;
    padding: 15px 15px 15px 60px;
    margin-bottom: 45px;
    &:before {
      font-family: 'printcart-ico';
      font-size: 20px;
      position: absolute;
      left: 22px;
      top: 12px;
    }
    .woocommerce-Button {
      padding-left: 15px;
      padding-right: 15px;
      margin-right: 15px;
    }
  }
  .woocommerce-message {
    border-top: 3px solid #5b9a5c;
    background: #dff0d8;
    color: #3c763d;
    .wc-forward {
      padding: 2px 15px;
      text-align: center;
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
    &:before {
      content: '\e915';
      color: #66BB6A
    }
  }
  .woocommerce-error {
    border-top: 3px solid #ef5350;
    background: #f7e5e5;
    color: #ef5350;
    &:before {
      content: '\e914';
      color: #ef5350
    }
  }
  .woocommerce-info {
    border-top: 3px solid #42A5F5;
    background: #bde1ff;
    color: #42A5F5;
    &:before {
      content: '\e915';
      color: #42A5F5
    }
  }
}