.woocommerce-account {
    .woocommerce {
        @include make-row();
        margin-bottom: 60px;
        .woocommerce-MyAccount-navigation {
            @include make-col-ready();
            @include make-col-lg(4);
            > ul {
                list-style-type: none;
                padding-left: 0;
                margin: 0;
            }
            .woocommerce-MyAccount-navigation-link {
                padding-top: 25px;
                padding-bottom: 25px;
                &:not(:last-child) {
                    border-bottom: 1px solid #ebebeb;
                }
            }
        }
        .woocommerce-MyAccount-content {
            @include make-col-ready();
            @include make-col-lg(8);
            padding-top: 25px;
            padding-bottom: 25px;
            border: 1px solid #ebebeb;
            .u-columns {
                @include make-row();
                .woocommerce-Address {
                    flex: auto;
                    max-width: 50%;
                }
            }
            .u-column1, .u-column1 {
                @include make-col-ready();
                @include make-col-lg(6);
            }
            .woocommerce-Input, .input-text {
                width: 100%;
                min-height: 40px;
                margin-top: 10px;
                padding-left: 10px;
            }
            input[name="save_account_details"] {
                margin-top: 30px;
                padding: 15px 30px;
            }
            .woocommerce-button.view {
                display: inline-block;
                padding: 5px 10px;
            }
            button.button {
                position: relative;
                top: 15px;
                padding: 5px 15px;
            }
            .select2-container .select2-selection--single {
                height: 40px;
            }
            .select2-container--default {
                .select2-selection--single {
                    .select2-selection__rendered {
                        line-height: 40px;
                    }
                    .select2-selection__arrow {
                        height: 35px;
                    }
                }
            }
        }    
    }    
}

.custom-login-wrap {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ebebeb;
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;    
    &:not(.has-register-form) {
        padding: 30px;
        .custom-login {
            width: 100%;
        }
    }
    &.has-register-form {
        padding: 15px;
        .custom-login, .custom-register {
            @include make-col-ready();
            @include make-col(12);
            @include make-col-lg(6);
        }
        @include media-breakpoint-down(md) {
            .custom-login {
                margin-bottom: 45px;
            }
        }
    }    
    .woocommerce-Input {
        width: 100%;
        min-height: 40px;
        padding-left: 10px;
        margin-top: 10px;
    }
    .rememberme-wrap {
        margin: 15px 0px;
    }
    .lost_password {
        margin-top: 10px;
    }
}