.single-product-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0px;
    .product-image {
        width: 100%;
        .thumb-gallery {
            .swiper-slide {
                box-sizing: border-box;
                img {
                    cursor: pointer;
                }
                &.swiper-slide-active {
                    img {
                        border: 1px solid #00adef;
                    }
                }
            }
        }
    }
    .woocommerce-product-gallery__wrapper {
        margin-top: 0;
        .woocommerce-product-gallery__image {
            width: 100%;
        }
        .featured-gallery {
            margin-bottom: 10px;
            cursor: pointer;
            .previous,
            .next {
                background: transparent;
                opacity: 0;
                visibility: hidden;
                transition: all .2s ease;
            }
            &:hover {
                .previous,
                .next {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .entry-summary {
        .price {
            margin-bottom: 7px;
            del {
                font-size: 1.5em;
                .amount {
                    opacity: .5;
                    margin-right: 10px;
                }
            }
        }
        .yith-wcwl-add-to-wishlist,
        .compare {
            display: none;
        }
    }
    .woocommerce-variation-price {
        margin-bottom: 15px;
    }
    .woocommerce-review-link {
        display: inline-block;
    }
    .woocommerce-product-details__short-description,
    .product_meta {
        margin-bottom: 45px;
    }
    .woocommerce-product-details__short-description {
        color: #666;
        border-bottom: 1px solid #e3e4e5;
        margin-bottom: 0px;
        padding-bottom: 4px;
        padding-top: 23px;
        clear: both;
        p {
            line-height: 24px;
        }
    }
    .wc-single-online-desginer {
        padding-top: 30px;
    }
    .single-product-wrap .summary .clearfix {
        padding-top: 30px;
    }
    .cart {
        // display: inline-block;
        max-width: 100%;
        margin-right: 12px;
        margin-top: 25px;
        @include media-breakpoint-down(sm) {
            margin-top: 5px;
        }
    }
    .product_meta {
        width: 100%;
        color: #666666;
        border-bottom: 1px solid #e3e4e5;
        padding-bottom: 24px;
        margin-bottom: 0px;
        .meta-name {
            display: inline-block;
            min-width: 30px;
        }
        .availability_wrapper {
            .stock {
                display: inline-block;
                color: #fff;
                padding: 5px;
            }
            .in-stock {
                background-color: #8BAD42;
            }
            .out-stock {
                background-color: #D52A2A;
            }
        }
    }
    .yith-wcwl-add-to-wishlist {
        margin-top: 0;
        display: inline-block;
        position: relative;
        border: 0;
        text-align: center;
        color: #fff;
        height: 50px;
        width: 50px;
        &>.yith-wcwl-wishlistaddedbrowse,
        &>.yith-wcwl-wishlistexistsbrowse {
            padding-top: 14px;
            height: 100%;
        }
        .add_to_wishlist {
            display: flex;
            justify-content: center;
            text-decoration: none;
            .icon-heart {
                margin-right: 0;
                margin-top: 0;
                &:before {
                    font-family: 'printcart-ico';
                    content: "\f102";
                    font-style: normal;
                    margin-right: 0;
                }
            }
        }
        i {
            color: #afafaf;
            &.icon-heart {
                margin-right: 0;
                &:before {
                    margin-right: 5px;
                }
            }
        }
    }

    .nbdesigner_frontend_container {
        margin-top: 30px;
        .nbdesign-button {
            border: 0;
            font-weight: normal;
        }
    }

    .clearfix {
        p.stock {
            display: none;
        }
    }
}

.woocommerce-tabs {
    .accordion-title-wrap:hover {
        cursor: pointer;
    }
}

.mfp-figure:after {
    background-color: transparent !important;
}

.shop-main {
    width: 100%;
    margin-bottom: 75px;
    &.left-thumb {
        .product {
            .single-product-wrap {
                .product-image {
                    .onsale {
                        display: none;
                    }
                }
            }
        }
    }
    .swiper-button-next,
    .swiper-button-prev,
    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        background-size: 20px 44px;
        opacity: 0;
    }
    .swiper-button-next,
    .swiper-button-prev {
        height: 100%;
        top: 0;
        margin-top: 0;
    }
    .swiper-pagination {
        width: 100%;
        position: relative;
    }
    .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        margin-left: 5px;
    }
    .product:hover {
        .swiper-button-next,
        .swiper-button-prev {
            opacity: 1;
        }
        .swiper-button-disabled {
            opacity: .35;
        }
    }
    &.bottom-thumb {
        .thumb-gallery {
            .swiper-wrapper {
                // margin-left: calc(-36% - 10px);
            }
            .woocommerce-product-gallery__image {
                width: 25%;
                margin-right: 10px;
            }
        }
    }
    &.left-thumb {
        .woocommerce-product-gallery__wrapper {
            display: flex;
            flex-wrap: wrap;
            .featured-gallery {
                flex-basis: 80%;
                max-width: 80%;
                order: 2;
            }
            .thumb-gallery {
                flex-basis: 20%;
                max-width: 20%;
                padding-right: 10px;
                .swiper-wrapper {
                    // margin-top: calc(-175% - 5px);
                    height: 250px;
                }
                .swiper-slide {
                    height: auto !important;
                } //.flickity-slider, .flickity-viewport {
                //  transform: none !important;
                //  overflow: visible !important;
                //  height: auto !important;
                //}
                //.flickity-viewport {
                //  cursor: default;
                //}
                //.woocommerce-product-gallery__image {
                //  margin-bottom: 10px;
                //  position: relative !important;
                //  left: 0 !important;
                //  max-width: 100% !important;
                //  min-height: 0 !important;
                //  margin-left: 1px;
                //  width: 100% !important;
                //  right: 0 !important;
                //}
            }
        }
    }
    &.inside-thumb {
        .woocommerce-product-gallery__wrapper {
            position: relative;
        }
        .thumb-gallery {
            width: 20%;
            height: 100%;
            position: absolute;
            top: 10px;
            left: 10px;
            .swiper-wrapper {
                // margin-top: calc(-200% - 5px);
            }
            .swiper-slide {
                height: auto;
            } //.flickity-slider, .flickity-viewport {
            //  transform: none !important;
            //  overflow: visible !important;
            //  height: auto !important;
            //}
            //.flickity-viewport {
            //  cursor: default;
            //}
            //.woocommerce-product-gallery__image {
            //  margin-bottom: 10px;
            //  position: relative !important;
            //  left: 0 !important;
            //  max-width: 100% !important;
            //  min-height: 0 !important;
            //  margin-left: 1px;
            //  width: 100% !important;
            //  right: 0 !important;
            //}
        }
    }
    &.right-dots {
        //.flickity-page-dots {
        //  top: 44%;
        //  right: 10px;
        //  display: inline-block;
        //  left: auto;
        //  width: 20px;
        //}
    }
    .related {
        .product {
            width: 100%;
        }
    }
    @include media-breakpoint-up(sm) {
        &.related-3-columns,
        &.related-4-columns {
            .related {
                .product {
                    width: 50%;
                }
            }
        }
    }
    @include media-breakpoint-up(md) {
        &.related-2-columns {
            .related {
                .product {
                    width: 50%;
                }
            }
        }
        &.related-3-columns,
        &.related-4-columns {
            .related {
                .product {
                    width: 50%;
                }
            }
        }
    }
    @include media-breakpoint-up(lg) {
        &.related-4-columns {
            .related {
                .product {
                    width: 25%;
                }
            }
        }
    }
    .related,
    .upsells {
        position: relative;
        .products {
            margin-left: -15px;
            margin-right: -15px;
            &:hover {}
            .product-description {
                margin-top: 5px;
            }
        }
    }
    .upsells {
        .product {
            width: 100%;
        }
    }
    @include media-breakpoint-up(sm) {
        &.upsells-3-columns,
        &.upsells-4-columns {
            .upsells {
                .product {
                    width: 50%;
                }
            }
        }
    }
    @include media-breakpoint-up(md) {
        &.upsells-2-columns {
            .upsells {
                .product {
                    width: 50%;
                }
            }
        }
        &.upsells-3-columns,
        &.upsells-4-columns {
            .upsells {
                .product {
                    width: 33.33333%;
                }
            }
        }
    }
    @include media-breakpoint-up(lg) {
        &.upsells-4-columns {
            .upsells {
                .product {
                    width: 25%;
                }
            }
        }
    }
}

.wc-pd-no-sidebar {
    .shop-main {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 15px;
    }
}

.variations {
    padding-right: 15px;
    .list-variations {
        @include make-row();
        .item-variations {
            @include make-col-ready();
            @include make-col-lg(6);
        }
    }
}

.single-product-wrap {
    .woocommerce-product-rating {
        display: inline-block;
        width: 100%;
        margin-bottom: 22px;
        margin-top: 11px;
        padding-bottom: 24px;
        border-bottom: 1px solid #e3e4e5;
        .wc-link-review {
            color: #888888;
            font-size: 12.63px;
            line-height: 21px;
            margin-top: 2px;
            a {
                color: #888888;
            }
            >span {
                display: inline-block;
                margin: 0 13px;
            }
        }
    }
    .star-rating {
        font-size: 18px;
        width: 90px;
        display: inline-block;
        float: left;
        margin-right: 20px;
        margin-bottom: 0;
    }
    ins {
        span {
            font-weight: 700;
        }
    }
    .price {
        &>span {
            .amount {
                display: inline-block;
            }
        }
    }
}

.nbt-results {
    display: none;
    .woocommerce-product-rating {
        * {
            color: #fc0;
        }
        .star-rating {
            overflow: hidden;
            position: relative;
            height: 1em;
            line-height: 1;
            font-family: 'printcart-ico';
            margin-bottom: 10px;
            &:before {
                content: '\e9d7\e9d7\e9d7\e9d7\e9d7';
                float: left;
                top: 0;
                left: 0;
                position: absolute;
            }
            span {
                overflow: hidden;
                float: left;
                top: 0;
                left: 0;
                position: absolute;
                padding-top: 1.5em;
                &:before {
                    content: "\e9d9\e9d9\e9d9\e9d9\e9d9";
                    top: 0;
                    position: absolute;
                    left: 0;
                }
            }
        }
    }
}

.single-social-simple {
    display: flex;
    border-top: 1px solid #e3e4e5;
    margin-top: 30px;
    padding-top: 24px;
    @include media-breakpoint-down(sm) {
        flex-wrap: wrap;
    }
    .single-social-simple-left {
        display: flex;
        flex: 0 0 50%;
        @include media-breakpoint-down(sm) {
            flex: 0 0 100%;
            margin-bottom: 10px;
        }
        .yith-wcwl-add-to-wishlist {
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            width: 45px;
            height: 45px;
            margin-right: 15px;
            margin-top: 0;
            text-align: center;
            a {
                display: flex;
                justify-content: center;
                text-decoration: none;
                color: #afafaf;
            }
            .yith-wcwl-add-button,
            .yith-wcwl-wishlistexistsbrowse,
            .yith-wcwl-wishlistaddedbrowse {
                width: 45px;
                height: 45px;
                line-height: 45px;
                padding-top: 0;
                &:hover {
                    background-color: #4285f4;
                    .fa,
                    a {
                        color: #fff;
                    }
                }
            }
            .yith-wcwl-add-button {
                position: relative;
            }
            .yith-wcwl-add-button:hover {
                background-color: transparent;
            }
            i {
                font-size: 18px;
                top: 13px;
                margin-right: 0;
                &:before {
                    font-family: 'printcart-ico';
                    content: '\a910';
                    font-style: normal;
                    margin: 0;
                }
            }
            &:hover {
                i {
                    color: #fff;
                }
                .tooltip {
                    top: -40px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
        .compare-button {
            margin-right: 15px;
            position: relative;
            .compare {
                background-color: #fff;
                border: 1px solid #d7d7d7;
                border-radius: 5px;
                color: #afafaf !important;
                width: 45px;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                .fa {
                    font-family: 'printcart-ico' !important;
                    font-size: 18px;
                    &:before {
                        content: "\e800";
                    }
                }
                &:hover {
                    background-color: #4285f4;
                    i {
                        color: #fff;
                    }
                    .tooltip {
                        top: -40px;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
        .share-envelope {
            position: relative;
            background-color: #fff;
            border: 1px solid #d7d7d7;
            border-radius: 5px;
            color: #afafaf !important;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            &:hover {
                background-color: #4285f4;
                i {
                    color: #fff;
                }
                .tooltip {
                    top: -40px;
                    opacity: 1;
                    visibility: visible;
                }
            }
            i {
                font-size: 18px;
            }
        }
        .tooltip {
            position: absolute;
            white-space: nowrap;
            font-size: 12px;
            top: -50px;
            background: rgba(0, 0, 0, 0.7);
            text-transform: uppercase;
            padding: 6px 10px;
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease;
            color: #fff;
            z-index: 99;
            line-height: 20px;
            &:before {
                content: "";
                position: absolute;
                border: 5px solid transparent;
                bottom: -10px;
                right: calc(50% - 5px);
                border-top: 5px solid rgba(0, 0, 0, 0.7);
            }
        }
    }
    .single-social-simple-right {
        flex: 0 0 50%;
        text-align: right;
        padding-top: 9px;
        @include media-breakpoint-down(sm) {
            flex: 0 0 100%;
            text-align: left;
        }
        span {
            display: inline-block;
            text-transform: uppercase;
            margin-right: 20px;
        }
        ul {
            display: inline-block;
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                display: inline-block;
                margin-right: 10px;
                a {
                    color: #666666;
                    text-decoration: none;
                    &:hover {
                        color: #4285f4;
                    }
                }
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.wc-tabs-wrapper {
    margin-top: 40px;
}

.single-product {
    .has-separated-border {
        .products{
            margin-right: -15px;
            margin-left: -15px;
            .product{
                border-right: 0;
                border-bottom: 0;
                margin-bottom: 0;
                padding: 15px;
            }
        }
    }
    .related {
        h2 {
            text-transform: uppercase;
            color: #444444;
            font-weight: 600;
        }
    }
    .nbt-variations {
        padding-top: 0px;
        .list-variations{
			.swatch-color{
				&.selected:before{
					border-color:#fff;
				}
			}
		}
		.single_variation_wrap{
			.single_variation_box{
				.woocommerce-variation-add-to-cart.variations_button{
                    .nb-quantity{
                        display: inline-block;
                    }
					button{
                        padding:8.5px 5px;
                        text-align:center;
                        white-space: nowrap;
						width:calc(100% - 107px);
						@media (max-width:320px){
							text-transform:capitalize;
						}
					}
					@include media-breakpoint-down(sm) {
						.nb-quantity{
							margin-bottom:0;
						}
					}	
				}
			}
		}
    }
}

.has-order-upload {
    .ou-tabcontent {
        margin-top: 20px;
    }
}

.woocommerce-variation-price {
    .nbtwccs_price_code {
        .woocommerce-Price-amount {
            font-weight: 700;
        }
    }
}

.single-product {
    .woocommerce-product-gallery {
        opacity: 1 !important;
    }
}

main.shop-main.left-thumb {
    .woocommerce-product-gallery__wrapper {
        .featured-gallery {
            flex-basis: 75%;
            max-width: 75%;
        }
        .thumb-gallery {
            flex-basis: 25%;
            max-width: 25%;
            img {
                height: auto !important;
            }
        }
    }
}