/*=======================
* MODAL POPUP STYLE
========================*/

html.yith-quick-view-is-open,
html.yith-quick-view-is-open body {
  overflow: hidden;
}

#yith-quick-view-modal {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1400;
  opacity: 0;
  text-align: center;
  transition: all 0.3s;
}

#yith-quick-view-modal:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  width: 0;
}

#yith-quick-view-modal .yith-quick-view-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba( 0, 0, 0, 0.8);
}

#yith-quick-view-modal .yith-wcqv-wrapper {
  display: inline-block;
  vertical-align: middle;
  visibility: hidden;
  backface-visibility: hidden;
  text-align: left;
  height: 600px;
  width: 1000px;
}

#yith-quick-view-modal .yith-wcqv-main {
  transform: translateY(20%);
  opacity: 0;
  height: 100%;
  transition: all 0.3s;
}

#yith-quick-view-modal.open,
#yith-quick-view-modal.open .yith-wcqv-wrapper {
  visibility: visible;
  opacity: 1;
}

#yith-quick-view-modal #yith-quick-view-content {
  height: 100%;
}

#yith-quick-view-modal .yith-wcqv-main:after,
#yith-quick-view-modal .yith-wcqv-main:before {
  content: '';
  display: table;
  clear: both;
}
#yith-quick-view-modal.open .yith-wcqv-main {
  transform: translateY(0);
  opacity: 1;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  background: #fff;
}
#yith-quick-view-close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 18px;
  z-index: 2;
  opacity: 0.5;
}
#yith-quick-view-close:hover {
  opacity: 1;
  transition: all 0.2s ease;
}
li.product .yith-wcqv-button .blockUI.blockOverlay:before {
  background: none;
}

@media( max-width: 480px ) {
  #yith-quick-view-content div.images,
  #yith-quick-view-content div.summary {
    width: 100%;
    float: none;
  }
  #yith-quick-view-content div.summary {
    margin: 0;
    padding: 15px;
    width: 100%;
    float: left;
  }
}

#yith-quick-view-content {
  .shop-main {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 60px;
  }
  .nb-social-icons {
    display: none;
  }
  div.images {
    opacity: 1 !important;
  }
  .product_meta {
    padding-top: 30px;
    float: left;
    width: 100%;
  }
  .cart {
    width: 100%;
  }
}

.shop_table.wishlist_table {
  .product-add-to-cart {
     i {
       display: none;
     }
    .tooltip {
      position: static;
      opacity: 1;
      line-height: 40px;
      padding: 0 20px;
    }
  }
}