.nb-row {
    margin-right: -15px;
    margin-left: -15px;
}
.home {
    .shop-main {
        padding: 0px;
    }
}
.shop-main {
    padding-left: 15px;
    padding-right: 15px;
    .products {
        .product {
            @include make-col-ready();
            margin-bottom: 30px;
            text-align: left;
        }
        .alt-button-2 {
            .product-action.horizontal {
                > .button {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 50%;
                    flex: 0 0 50%;
                }
            }
        }
        .alt-button-3 {
            .product-action.horizontal {
                > .button {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 33.333333%;
                    flex: 0 0 33.333333%;
                }
            }
        }
        .alt-button-4 {
            .product-action.horizontal {
                > .button {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 25%;
                    flex: 0 0 25%;
                }
            }
        }
        .alt-button-5 {
            .product-action.horizontal {
                > .button {
                    -webkit-box-flex: 0;
                    -ms-flex: 0 0 20%;
                    flex: 0 0 20%;
                }
            }
        }
    }
    .shop-banner {
        margin-bottom: 30px;
    }
    
    &.right-images {
        .single-product-wrap {
            .product-image {
                @include media-breakpoint-up(sm) {
                    order: 2;
                }
            }
        }
    }
    &.wide {
        .single-product-wrap {
            .product-image {
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 30px;
            }
            .entry-summary {
                flex: 0 0 100%;
                max-width: 100%;
            }
            .pd-meta-left, .pd-meta-right {
                display: inline-block;
                width: 50%;
                .price {
                    line-height: 1;
                }
            }
            .pd-meta-left {
                padding-right: 15px;
            }
            .pd-meta-right {
                padding-left: 15px;
                vertical-align: top;
            }
            .wc-single-online-desginer {
                padding-top: 0;
            }
        }
    }
    &.left-images {
        .entry-summary {
            padding-left: 30px
        }
    }
    &.right-images {
        .entry-summary {
            padding-right: 30px
        }
    }
}

.two-columns {
    .products {
        .product {
            @include make-col-md(6);
        }
    }
}
.three-columns {
    .products {
        .product {
            @include make-col-md(4);

            @include media-breakpoint-only(md) {
                @include make-col-md(6);
            }
        }
    }
}
.four-columns {
    .products {
        .product {
            @include make-col-md(3);

            @include media-breakpoint-only(md) {
                @include make-col-md(6);
            }

            @include media-breakpoint-only(lg) {
                @include make-col-md(4);
            }
        }
    }
}
.five-columns {
    .products {
        .product {
            flex: 0 0 20%;
            max-width: 20%;

            @include media-breakpoint-only(md) {
                @include make-col-md(6);
            }

            @include media-breakpoint-only(lg) {
                @include make-col-md(4);
            }

            @include media-breakpoint-down(md) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
}

.products {
    .product {
        .product-title {
            margin-top: 25px;
            margin-bottom: 10px;
            a {
                font-size: 18px;
                font-weight: 500;
                text-decoration: none;
            }
        }
        .product-action {
            display: flex;
            flex-wrap: wrap;
            width: 40px;
            position: absolute;
            bottom: 15px;
            right: 0px;
            opacity: 0;
            visibility: hidden;
            transition: all .2s ease;
            z-index: 9;

            &.center {
                justify-content: center;
            }

            .bt-4 {
                border-radius: 0;
                height: 45px;
                display: flex;
                justify-content: center;
                align-items: center;
                    i{
                        font-size: 22px;
                        line-height: 1;
                    }

                .show {
                    .icon-heart {
                        color: #999;
                        &:before {
                            font-family: 'printcart-ico';
                            content: "\f102";
                            font-style: normal;
                        } 
                    }
                }
                
                .yith-wcwl-wishlistexistsbrowse,
                .yith-wcwl-wishlistaddedbrowse {
                    .icon-heart {
                        color: #999;
                        &:before {
                            content: "\a903";
                        } 
                    }
                }
                &:hover {
                   background-color: #4285f4;
                   text-decoration: none !important;
                    i {
                        color: #fff !important;
                    }

                    i:before {
                        color: #fff !important;
                    }

                    &.added, &.start-design {
                        &:before {
                            color: #fff !important;
                        }
                    }
                }
            }

            .button {
                position: relative;
                width: 45px;
                border: 0;
                text-align: center;
                color: #fff;
                margin-bottom: 0;
                background-color: #fff;

                i {
                    color: #999999;
                }

                &.start-design {
                    order: 5;
                    font-size: 0;
                    &:before {
                        font-size: 22px;
                        font-family: 'printcart-ico';
                        content: "\a904";
                        font-style: normal;
                        color: #999;

                    }
                }
                
                &.wishlist-btn {
                    order: 1;

                    .yith-wcwl-add-to-wishlist {
                        height: 45px;
                        margin-top: 0px;
                        padding-top: 8px;

                        .yith-wcwl-add-button {

                        }

                        a {
                            text-decoration: none;
                            height: 30px;
                            display: block;
                            &:focus {
                                outline: 0;
                            }
                        }
                        i {
                            
                            &.icon-heart {
                                margin-right: 0;
                            }
                        }
                        .ajax-loading {
                            position: absolute;
                            top: 6px;
                            left: calc(50% - 10px);
                            margin-left: 0;
                            visibility: visible;
                            width: 12px !important;
                            height: 12px !important;
                            i {
                                animation: spin 2s infinite linear;
                                display: inline-block;
                                &:before {
                                    color: #999;
                                    content: '\e900';
                                    font-family: 'printcart-ico';
                                    font-style: normal;
                                }
                            }
                        }
                    }
                }

                &.add_to_cart_button {
                    order: 2;

                    i {
                        &:before {
                            font-family: 'printcart-ico';
                            content: "\f101";
                            font-style: normal;
                        }
                    }
                }

                &.compare {
                    order: 3;
                    padding-top: 3px;
                    i {
                        &:before {
                            font-family: 'printcart-ico';
                            content: "\e800";
                            font-style: normal;
                        } 
                    }

                    &.added {
                        font-size: 0;
                        &:before {
                            font-family: 'printcart-ico';
                            content: "\e917";
                            font-style: normal;
                            font-size: 24px;
                            color: #999;
                        }
                    }
                }

                &.yith-wcqv-button {
                    order: 4;

                    i {
                        &:before {
                            font-family: 'printcart-ico';
                            content: "\e90b";
                            font-style: normal;
                        } 
                    }
                }

                &.loading {
                    i {
                        animation: spin 2s infinite linear;
                        display: inline-block;
                        &:before {
                            content: '\e900';
                        }
                    }
                }

                .tooltip {
                    position: absolute;
                    white-space: nowrap;
                    background: rgba(0, 0, 0, 0.7);
                    opacity: 0;
                    visibility: hidden;
                    transition: all .2s ease;
                    color: #fff;
                    min-height: 40px;
                    text-transform: none;
                    text-align: center;
                    line-height: 44px;
                    font-size: 16px;
                }

                &:hover {
                    .tooltip {
                        opacity: 1;
                        visibility: visible;
                    }
                }

                &.product_type_variable:not(.add_to_cart_button) i {

                    &:before {
                        font-family: 'printcart-ico';
                        content: "\f109";
                        font-style: normal;
                    }
                }
            }

            &.horizontal {

                width: 100%;
                left: 0;
                bottom: 0;
                
                .tooltip {
                    
                    top: calc(-100% - -5px);
                    left: 50%;
                    padding: 0 10px;
                    transform: translateX(-50%);

                    &:before {
                        content: "";
                        position: absolute;
                        border: 5px solid transparent;
                        border-top: 5px solid rgba(0, 0, 0, 0.7);
                        bottom: -10px;
                        left: 50%;
                        margin-left: -5px;
                    }
                }

                &:hover {
                    .tooltip {
                        top: calc(-100% - -5px);
                    }
                }
                
            }

            &.vertical {
                top: 0;
                right: 0 !important;
                bottom: auto;
                width: 45px;

                .tooltip {
                    top: 10px;
                    right: calc(100% + 35px);;
                    padding: 0 10px;
                    line-height: 25px;
                    min-height: 25px;
                }

                &:hover {
                    .tooltip {
                        right: calc(100% + 5px);;
                    }
                }
            }

            &.center {
                width: 210px;
                left: 50%;
                bottom: 50%;
                transform: translate(-50%, 50%);

                @include media-breakpoint-down(sm) {
                    padding: 0;
                }



                .button {

                    border: solid 1px #fff;
                    background-color: transparent;

                    i {
                        color: #fff;
                    }

                    .show .icon-heart {
                        color: #fff;
                    }

                    &.add_to_cart_button {
                        margin-right: 10px;
                    }

                    &.wishlist-btn {
                        margin-right: 10px;
                    }

                    &.compare {
                        margin-bottom: 10px;
                        margin-right: 10px;
                    }

                    &.start-design {
                        width: 100%;
                        font-size: 16px;
                        &:before {
                            margin-right: 5px; 
                            color: #fff;
                            font-size: 18px;
                        }

                        .tooltip {
                            display: none;
                        }
                    }

                    &.product_type_variable:not(.add_to_cart_button) {

                       margin-right: 10px;
                    }
                }
                
                .bt-4 {

                    &:hover {
                       background-color: #4285f4;
                       text-decoration: none !important;
                       border-color: #4285f4;
                        i {
                            color: #fff !important;
                        }
                    }
                }
  
                .tooltip {
                    
                    
                    top: calc(-100% - 45px);
                    padding: 0 10px;
                    left: 21px;
                    background: rgba(0, 0, 0, 0.9);
                    min-height: 30px;
                    line-height: 30px;
                    transform: translateX(-50%);

                    &:before {
                        content: "";
                        position: absolute;
                        border: 5px solid transparent;
                        border-top: 5px solid rgba(0, 0, 0, 0.7);
                        bottom: -10px;
                        left: 50%;
                        margin-left: -5px;
                    }
                }

                &:hover {
                    .tooltip {
                        top: calc(-100% - 5px);
                    }
                }
            }

            &.vertical_fix_wl {
                right: 15px;
                width: 38px;

                .button {
                    margin-bottom: 10px;
                    border-radius: 5px;
                    background: #e3e3e3;
                    height: 38px;                    

                    i {
                        color: #000;
                        font-size: 18px;
                    }

                    &.start-design {
                        order: 4;
                        &:before {
                            font-size: 18px;
                            color: #000;

                        }
                    }                    

                    &.add_to_cart_button {
                        order: 3;

                        i {
                            &:before {
                                font-family: 'printcart-ico';
                                content: "\a908";
                                font-style: normal;
                            }
                        }
                    }

                    &.compare {
                        order: 2;
                        &.added {
                            font-size: 0;
                            &:before {
                                font-family: 'printcart-ico';
                                content: "\e917";
                                font-style: normal;
                                font-size: 20px;
                                color: #000;
                            }
                        }
                    }

                    &.yith-wcqv-button {
                        order: 1;
                    }
                }

                .tooltip {
                    top: 7px;
                    right: calc(100% + 35px);
                    padding: 0 10px;
                    line-height: 25px;
                    min-height: 25px;
                }

                &:hover {
                    .tooltip {
                        right: calc(100% + 5px);
                    }
                }
            }

            &.horizontal_fix_wl {


                width: 210px;
                left: 50%;
                bottom: 35px;
                transform: translate(-50%, 50%);
                justify-content: center;

                @include media-breakpoint-down(sm) {
                    padding: 0;
                }

                .button {
                    border-radius: 5px;
                    background: #333333;
                    height: 38px;
                    width: 38px;

                    &.product_type_variable {
                        margin-right: 10px;
                    }

                    i {
                        color: #fff;
                        font-size: 18px;
                    }

                    &.start-design {
                        order: 4;
                        &:before {
                            font-size: 18px;
                            color: #fff;

                        }
                    }                    

                    &.add_to_cart_button {
                        order: 3;
                        margin-right: 10px;

                        i {
                            &:before {
                                font-family: 'printcart-ico';
                                content: "\a908";
                                font-style: normal;
                            }
                        }
                    }

                    &.compare {
                        order: 2;
                        margin-right: 10px;
                        &.added {
                            font-size: 0;
                            &:before {
                                font-family: 'printcart-ico';
                                content: "\e917";
                                font-style: normal;
                                font-size: 20px;
                                color: #000;
                            }
                        }
                    }

                    &.yith-wcqv-button {
                        order: 1;
                        margin-right: 10px;
                    }
                }
                
                .bt-4 {

                    &:hover {
                       background-color: #4285f4;
                       text-decoration: none !important;
                       border-color: #4285f4;
                        i {
                            color: #fff !important;
                        }
                    }
                }
                
                .tooltip {
                    
                    
                    top: calc(-100% - 45px);
                    padding: 0 10px;
                    left: 18px;
                    transform: translateX(-50%);
                    background: rgba(0, 0, 0, 0.9);
                    min-height: 30px;
                    line-height: 30px;

                    &:before {
                        content: "";
                        position: absolute;
                        border: 5px solid transparent;
                        border-top: 5px solid rgba(0, 0, 0, 0.7);
                        bottom: -10px;
                        left: 50%;
                        margin-left: -5px;
                    }
                }

                &:hover {
                    .tooltip {
                        top: calc(-100% - -5px);
                    }
                }
            }
        }
        &:hover {

            .product-image {
                box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.2);
                transition: box-shadow .5s ease-in-out;

                .product-image-mask {
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.6);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 1;
                    transition: all .5s;
                }
            }

            .product-action {
                opacity: 1;
                visibility: visible;
            }
        }
        .price {
            .amount {
                font-weight: 600
            }
            del .amount {
                font-weight: 600;
                color: #999999;
                margin-right: 22px;
            }
        }

        .star-rating {
            width: 80px;
        }
        p {
            margin-top: 5px;
            line-height: 22px;
            max-height: 45px;
            overflow: hidden;
        }

        &.align-left {
            text-align: left;
            .nb-loop-variable {
                td.value {
                    text-align: left;
                }
            }
        }
        &.align-center {
            text-align: center;

            .nb-loop-variable {
                td.value {
                    text-align:center;
                }
            }

            .star-rating{
                margin-top: 10px;
                margin-right: auto;
                margin-left: auto;
            }
        }
        &.align-right {
            text-align: right;
            .nb-loop-variable {
                td.value {
                    text-align: right;
                }
            }

            .star-rating{
                float: right;
            }
            span.price {
                display: block;
                clear: both;
            }
        }

        .nb-loop-variable {

            td.value {
                padding-top: 2px;
            }

            .variation-selector {
                select {
                    display: none;
                }
            }

            .nbtcs-swatches  {

                padding: 5px 3px;

                .swatch {

                    &:before {

                        width: 26px;
                        height: 26px;
                        border-radius: 50%;
                        content: '';
                        display: inline-block;
                        border: 1px solid transparent;
                        position: absolute;
                        top: -3px;
                        left: -3px;
                        transition: all 0.3s;
                    }

                    &:not(.swatch-radio) {
                        position: relative;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        margin-right: 10px;
                        line-height: 1;
                        display: inline-block;
                        text-indent: -9999px;
                    }
                }
            }
        }

        &.full_block-hover {

            .pt-product-meta {
                    height: 100%;
            }
            &:hover {
                .pt-product-meta {
                    box-shadow: 0 0 30px 0 rgba(51,51,51,.35);
                    transition: box-shadow .5s ease-in-out;
                }
            }
        }
    }
    &.grid-type {
        .product {
            .product-title {
                margin-top: 30px;
                margin-bottom: 8px;
                font-size: 20px;
            }
        }
        .product-description {
            margin-top: 5px;
        }
    }
    &.list-type {
        .list-type-wrap {
            display: flex;
        }
        .product {
            .product-category-link {
                display: inline-block;
                background: #fff;
                padding: 5px 7px;
                margin-right: 5px;
            }
            .product-image {
                flex: 0 0 34%;
                float: left;
                &:before {
                    content: "";
                    position: absolute;
                    right: 0;
                    top: 15px;
                    border: 8px solid transparent;
                    border-right: 8px solid;
                    z-index: 10;
                }
            }
            .product-meta {
                flex: 0 0 66%;
                float: left;
                padding: 15px 15px 15px 30px;
            }
            .product-title {
                margin-top: 10px;
                margin-bottom: 10px;
            }
            .product-description {
                margin-bottom: 30px;
            }
            .button {
                > i {
                    margin-right: 8px;
                }
            }
        }
    }
}

.product {
    .product-image {
        position: relative;
        img {
            vertical-align: middle;
        }

        .wishlist-fixed-btn {

            position: absolute;
            top: 0;
            right: 15px;   

            .show {
                .icon-heart {
                    color: #000;
                    &:before {
                        font-family: 'printcart-ico';
                        content: "\a909";
                        font-style: normal;
                    } 
                }
            }
            
            .yith-wcwl-wishlistexistsbrowse,
            .yith-wcwl-wishlistaddedbrowse {
                .icon-heart {
                    color: #000;
                    &:before {
                        content: "\a910";
                    } 
                }
            }

            .yith-wcwl-add-to-wishlist {
                height: 45px;
                margin-top: 0px;
                padding-top: 8px;
                position: relative;

                a {
                    text-decoration: none;
                    &:focus {
                        outline: 0;
                    }
                }
                i {
                    
                    &.icon-heart {
                        margin-right: 0;
                    }
                }
                .ajax-loading {
                    position: absolute;
                    top: 6px;
                    left: calc(50% - 16px);
                    margin-left: 0;
                    visibility: visible;
                    width: 12px !important;
                    height: 12px !important;
                    i {
                        animation: spin 2s infinite linear;
                        display: inline-block;
                        &:before {
                            color: #000;
                            content: '\e900';
                            font-family: 'printcart-ico';
                            font-style: normal;
                        }
                    }
                }

                .tooltip {
                    position: absolute;
                    white-space: nowrap;
                    background: rgba(0, 0, 0, 0.7);
                    opacity: 0;
                    visibility: hidden;
                    transition: all .2s ease;
                    color: #fff;
                    text-transform: none;
                    text-align: center;
                    top: 5px;
                    right: calc(100% + 35px);;
                    padding: 0 10px;
                    line-height: 25px;
                    min-height: 25px;
                    z-index: 9;
                }

                &:hover {
                    .tooltip {
                        right: calc(100% + 5px);
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }

            
        }
    }
    .onsale {
        z-index: 9;
        &.sale-style-1 {
            position: absolute;
            border: 1px solid;            
            width: 50px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            color: #fff;
            top: 15px;
            left: 0;
            text-transform: uppercase;
            font-size: 14px;
        }
        &.sale-style-2 {
            width: 92px;
            height: 92px;
            position: absolute;
            box-sizing: border-box;
            position: absolute;
            background: transparent;
            overflow: hidden;
            top: 0px;
            bottom: auto;
            left: auto;
            right: 0px;
            opacity: 1;
            .percent {
                width: 140px;
                height: 0;
                position: relative;
                box-sizing: border-box;
                position: absolute;
                top: 17px;
                right: -42px;
                border-bottom: 25px solid;
                border-left: 37px solid transparent;
                border-right: 37px solid transparent;
                transform: rotate(45deg);
                text-align: center;
                color: #fff;
            }
        }
    }
    .star-rating {
        overflow: hidden;
        position: relative;
        height: 1em;
        line-height: 1;
        font-family: 'printcart-ico';
        margin-bottom: 10px;
        font-size: 16px;
        &:before {
            content: '\e9d7\e9d7\e9d7\e9d7\e9d7';
            float: left;
            top: 0;
            left: 0;
            position: absolute;
        }
        span {
            overflow: hidden;
            float: left;
            top: 0;
            left: 0;
            position: absolute;
            padding-top: 1.5em;
        }
        span:before {
            content: "\e9d9\e9d9\e9d9\e9d9\e9d9";
            top: 0;
            position: absolute;
            left: 0;
        }
    }

    .entry-summary {
        margin-top: 0;
        .price {
            margin-top: 0;
            margin-bottom: 5px;
        }
    }
}
.shop-thumbnail {
    margin-bottom: 45px;

    @include media-breakpoint-down(sm){
        display: none;
    }
}
.shop-action {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    .woocommerce-result-count {
        margin-top: 0;
        margin-bottom: 0;
    }
    h1 {
        font-weight: 500;
        color: #444;
        line-height: 18px;
        margin-bottom: 0;

        @include media-breakpoint-down(sm){
            display: block;
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

.added_to_cart.wc-forward {
    display: none;
}

.woocommerce {
    .products {
        @include make-row();
        .product {
            box-sizing: border-box;
            @include make-col-ready();
            margin-bottom: 30px;

            .price {
                del {
                    color: #999999;
                }
            }
        }
    }
    &.columns-2 {
        .products {
            .product {
                @include make-col-md(6);
            }
        }
    }
    &.columns-3 {
        .products {
            .product {
                @include make-col-md(4);
            }
        }
    }
    &.columns-4 {
        .products {
            .product {
                @include make-col-md(3);
            }
        }
    }
    &.columns-6 {
        .products {
            .product {
                @include make-col-md(2);
            }
        }
    }
}

.has-separated-border {

    .products {

        margin-right: -30px;
        margin-left: -30px;
        margin-bottom: 30px;

        .product {
            border-right: solid 1px #e1e1e1;
            border-bottom: solid 1px #e1e1e1;
            margin-bottom: 0;
            padding: 30px;

            @include media-breakpoint-down(md) {
                border: none;
            }
        }
    }

    &.three-columns {

        .products {

            .product {

                &:nth-child(3n) {
                    border-right: none;
                }

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3) {
                    padding-top: 0;
                }

                &:nth-last-child(1),
                &:nth-last-child(2),
                &:nth-last-child(3) {
                    border-bottom: none;
                    padding-bottom: 0;
                }
                
            }
        }
    }

    &.four-columns {

        .products {

            .product {

                &:nth-child(4n) {
                    border-right: none;
                }

                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                    padding-top: 0;
                }

                &:nth-last-child(1),
                &:nth-last-child(2),
                &:nth-last-child(3),
                &:nth-last-child(4) {
                    border-bottom: none;
                    padding-bottom: 0;
                }
                
            }
        }
    }

    &.two-columns {

        .products {

            .product {

                &:nth-child(2n) {
                    border-right: none;
                }

                &:nth-child(1),
                &:nth-child(2) {
                    padding-top: 0;
                }

                &:nth-last-child(1),
                &:nth-last-child(2) {
                    border-bottom: none;
                    padding-bottom: 0;
                }
                
            }
        }
    }
}

.archive{
    .shop-main{
        .shop-action{
            .woocommerce-notices-wrapper{
                display:none;
            }
        }
    }
}

.wishlist_table {
    tbody {
        td {
            text-align: left;
        }
    }
    tfoot {
        td {
            border-bottom: 0;
        }
    }
}