.woocommerce-order {
  .left-section-wrap {
    border: 1px solid #e4e4e4;
    padding: 15px 30px 45px;
  }
  .woocommerce-order-overview {
    padding-left: 30px;
    margin-bottom: 30px;
    > li {
      margin-bottom: 5px;
    }
  }
  .woocommerce-order-details {
    &__title {
      line-height: 1;
      margin-top: 0;
    }
  }
  .woocommerce-table--order-details .amount {
    font-weight: bold;
  }
}