.nb-back-to-top-wrap {
  display: inline-block;
  position: fixed;
  right: 45px;
  bottom: 45px;
  transition: all .2s ease;
  z-index: 99;
  a {
    display: inline-block;
    padding: 0 10px 4px;
    font-size: 16px;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease;
    border-radius: 5px;
     span {
      display: block;
      font-size: 14px;
      margin-top: -5px;
     }
    &.show {
      opacity: 1;
      visibility: visible;
    }
    &:focus {
      outline: 0;
    }
    &.light {
      background-color: #edf0f5;
      color: #323232;
    }
    &.circle {
      border-radius: 50%;
    }
    &.dark {
      background-color: #323232;
      color: #fff;
    }
  }
  &:hover {
    a {
      color: #fff
    }
  }
}