.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.nb-primary-button,
.nb-secondary-button{
  text-transform: uppercase;
  font-size: 1em;
}

input[disabled] {
  opacity: .6;
}

a.bt-5, button.bt-5, .single_add_to_cart_button, .list-type .add_to_cart_button {
  height: 50px;
  line-height: 45px;
  display: inline-block;
}

a.bt-4, button.bt-4, .wishlist-btn.bt-4 {
  height: 40px;
  line-height: 35px;
  display: inline-block;
}

input.bt-5 {
  height: 50px;
  line-height: 1;
}

input.bt-4 {
  height: 40px;
  line-height: 1
}

.nb-wide-button {
  display: block !important;
  width: 100%;
}

.button, .nb-primary-button, .nb-secondary-button {
  box-sizing: border-box;
  display: inline-table;
  vertical-align: middle;
  transition: all .2s ease;
  border-style: solid
}