.cart-layout-1{
    margin-bottom:90px;
    table.shop_table {
        .actions{
            .coupon{
                display: flex;
                float: left;
                width: 50%;
                margin-right:30px;
                input[type="text"]{
                    width: 100%;
                }
            }
        }
        .nbd-cart-upload-file:not([id]){
            a{
                float:left;
                text-transform: capitalize;
                display: block;
                padding:3px 10px;
                margin-right:15px;
            }
        }
        .nbd-cart-upload-file[id]{
            margin-bottom:15px;
            i{
                margin-right:5px;
            }
            .remove{
                margin-left:30px;
            }
        }
        .nbt-ou-fast{
            button{
                border: none;
                padding: 6px 10px;
                text-transform: capitalize;
                border-radius:5px;
            }
        }
        .product-name{
            > a{
                display: inline-block;
                margin-bottom: 15px;
            }
        }
        tr.cart_item{
            &:nth-of-type(2n+1){
                background-color:#f4f4f4;
            }
            &:nth-of-type(2n){
                background-color:#fafafa;
            }
        }
    }
    .cart-collaterals{
        .cart_totals{
            width:50%;
            margin-left:auto;
            h3{
                text-align:left;
                font-weight:bold;
            }
            tr{
                th{
                    text-align: left;
                    padding-left:15px;
                }
                td{
                    padding-right:15px;
                }
                &.cart-subtotal{
                    background-color:#fafafa;
                }
                &.order-total{
                    background-color:#f4f4f4;
                }
            }
            .wc-proceed-to-checkout{
                a{
                    width:100%;
                    text-align:center;
                }
            }
        }
    }
}