.comment-list {
  padding-left: 0;
  list-style-type: none;
  .avatar {
    float: left;
    margin-right: 15px;
    border-radius: 50%
  }
  .comment-meta {
    margin-bottom: 15px;
    &:after{
      content: "";
      display: table;
      clear: both;
    }
  }
  .comment {
    padding-top: 30px;
    border-top: 1px solid;
  }
  .reply, .edit-link {
    text-transform: uppercase;
  }
  .reply {
    margin-bottom: 30px;
  }
  > .comment:first-child {
    border-top: none;
  }
  ol {
    list-style-type: none;
    @include media-breakpoint-up(md) {
      padding-left: 30px;
    }   
    @include media-breakpoint-down(sm)  {
      padding-left: 0;
    }
  }
}

.comments-area {
  padding: 45px 0px 0;
  .logged-in-as {
    text-transform: uppercase;
    font-size: .8em;
  }
}

.nb-comment-form {
  margin-top: 15px;
  margin-bottom: 15px;
  textarea {
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color:    #ababab;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color:    #ababab;
      opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color:    #ababab;
      opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color:    #ababab;
    }
    &:focus {
      outline: none
    }
  }
}

.single-post .comment-form {
  > p {
    margin-bottom: 0;
    margin-top: 15px;
    label {
      min-width: 80px;
    }
  }
  textarea, input:not([type="submit"]) {
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    font-size: 12.63px;
    padding-left: 15px;
  }

  input:not([type="submit"]) {
    height: 35px;
    min-width: 100%;
  }
  #submit {
	flex: 0 0 30%;
	font-weight: 600;
  padding: 0 30px;
  }
}
#reply-title {
	text-transform: uppercase;
	font-weight: 600;
	color: #444;
}
#wp-comment-cookies-consent {
    float: left;
    min-width: auto;
    margin-right: 5px;
    position: relative;
    bottom: 7px;
}