.site-footer {
    .footer-top-section{
        padding-top: 65px;
        @include media-breakpoint-down(xs){
            padding-top: 25px;
            > .container{
                > .row{
                    > .col-3{
                        @include make-col(12);
                        &:last-of-type{
                            @include make-col(12);
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(sm){
            padding-top: 35px;
        }
        @include media-breakpoint-down(md){
            padding-top: 45px;
            > .container{
                > .row{
                    > .col-3{
                        @include make-col(6);
                        &:last-of-type{
                            @include make-col(6);
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(lg){
            padding-top: 55px;
            > .container{
                > .row{
                    > .col-3{
                        @include make-col(4);
                        &:last-of-type{
                            @include make-col(12);
                        }
                    }
                }
            }
        }
    }
    .wpb_single_image{
        margin-bottom: 30px;
    }
    .wpb_text_column{
        margin-bottom: 10px;
        p{
            text-align: center;
        }
    }
    .wpb_wrapper{
        p{
            font-size: 14px;
            margin-bottom: 0;
        }
    }
    .uavc-list{
        clear: both;
        > li{
            border: 0 none !important;
        }
        .uavc-list-content{
            display: flex;
            align-items: center;
            > p{
                margin: 0;
            }
            &:hover{
                .aio-icon{
                    color: #71c07f;
                }
            }
        }
    }
    .uavc-icons{
        clear: both;
        padding-top: 5px;
        .aio-icon{
            background: #555;
            color: #999;
            margin-top: 5px;
            &:hover{
                background: #71c07f;
                color: #fff;
            }
        }
    }
    .nb_latest_post{
        .nb_latest_item{
            .nb_post_thumb{
                flex: 0 0 30%;
                padding-right: 15px;
                img{
                    @include border-radius(3);
                }
            }
            .nb_post_desc{
                line-height: 1.25;
                overflow: hidden;
                p{
                    font-size: 14px;
                }
            }
            .nb_post_title{
                margin-top: -5px;
                margin-bottom: 5px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 18px;
                > a{
                    font-weight: bold;
                    color: #999;
                    &:hover{
                        color: #71c07f;
                    }
                }
            }
        }
    }
    .wpb_flickr_widget{
        padding-top: 10px;
        .wpb_wrapper{
            margin-left: -2px;
            margin-right: -2px;
            &:before, &:after{
                display: table;
                clear: both;
                content: '';
            }
            .flickr_badge_image{
                margin: 2px;
                width: 62px;
                height: 62px;
                img{
                    @include border-radius(3);
                }
            }
            p{
                margin: 0;
            }
        }
        .flickr_stream_wrap{
            display: none;
        }
    }
    .widget {
        .widget-title {
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
            margin-top: 10px;
            border-bottom: 0 none;
            &:before {
                display: none;
            }
        }
    }
    .jr_times{
        padding-top: 5px;
    }
    dl{
        display: flex;
        margin-top: 0;
        margin-bottom: 15px;
        dt{
            font-weight: normal;
            font-size: 14px;
        }
        dd{
            color: #999;
            font-size: 14px;
            font-weight: bold;
            text-align: right;
            width: 100%;
            margin: 0;
        }
    }
}

.footer-abs-section {
    border-top: 1px solid #555;
    .footer-abs-middle {
        width: 100%;
        flex: 0 0 100%;
        text-align: center;
    }
    .footer-abs-left {
        width: 50%;
        flex: 0 0 50%;
        font-size: 14px;
    }
    .footer-abs-right {
        width: 50%;
        flex: 0 0 50%;
        text-align: right;
    }
    p {
        margin-bottom: 0;
    }
    img{
        margin: 5px;
        @include border-radius(3);
        &:last-of-type{
            margin-right: 0;
        }
    }
}

.wrap-top{
  .top_left{
    .widget{
      display: flex;
      margin-bottom:0px;
      .widget-title{
        text-transform: none;
        font-size: 24px !important;
        margin-right:50px;
      }
      .textwidget{
        width:100%;
        .form{
          width:100%;
          input[type="email"]{
            height:46px;
            padding-left:28px;
            border-radius: 100px;
            font-size: 16px;
          }
          .submit_b{
            width: 77px;
            span:after{
              content:'\f1d9';
            }
          }
        }
      }
    }
  }
  .top_right{
    text-align:right;
    .widget{
      margin-bottom: 0px;
    }
    .nbfw-social-link-widget{
      li{
        border-radius: 100px;
        a{
          height: 45px;
          width: 45px;
          i{
            font-size: 22.5px;
          }
        }
      }
    }
  }
}

footer.site-footer{
    .footer-top-section{
        padding:0px;
        .wrap-top{
          width: 100%;
          display: flex;
        }
        .logo-wrapper-f{
            margin-bottom:7px;
        }
        .footer_top_title{
            width: 70%;
            display: inline-block;
            line-height: 23px;
            margin-bottom: 45px;
        }
        .footer_top_left{
            padding-right: 30px;
            .phone{
                font-size:16px;
                margin-bottom:10px;
            }
            .email{ 
                margin-bottom: 0;
                a{
                    text-decoration: none;
                    font-size: 16px;
                }   
            }
            .street{
                font-size:16px;
            }
        }
        .footer_top_right{
            padding-left: 30px;
            .caption{
                font-size:16px;
                margin-bottom:13px;
            }
        }
        .form{
            position: relative;
            display: inline-block;
            width: 270px;
            input[type="email"]{
                width: 100%;
                font-size: 13.63px;
                padding:10px;
                border-radius: 5px;
                background:transparent;
            }
            .submit_b{
                position: absolute;
                right:0px;
                top:0px;
                width:41px;
                height: 100%;
                z-index: 100;
                input{
                    border-radius: 5px;
                    background: transparent;
                    width: 100%;
                    height: 100%;
                    border:none;
                    color:transparent;
                }
                span:after{
                    content:'\f107';
                    font-family: 'printcart-ico';
                    position: absolute;
                    top:50%;
                    z-index: -1;
                    left:50%;
                    transform: translateX(-50%) translateY(-50%);
                }
            }
        }
    }
    .form {
        input[type="email"]{
            &.dark{
               color: #fff; 
            }
        }
    }
    .footer-bot-section{
        padding:0px;
        border-top:1px solid;
        border-bottom:1px solid;
        &:before{
            display:none;
        }
        &:after{
            display: none;
        }
        .form{
            display: flex;
            .submit_b{
                display: inline-block;
                input[type="submit"]{
                    height: 100%;
                    border-radius: 5px;
                    border:none;
                    text-transform: none;
                    transition: 0.5s;
                }
            }
            input[type="email"]{
                font-size: 14px;
                padding:9px;
                width: 100%;
                border-radius: 5px;
                margin-right:5px;
                background:transparent;
            }
        }
        .textwidget{
            form{
                margin-bottom:9px;
            }
        }
        ul{
            li{
                margin-bottom:16px;
                a {
                    text-transform: capitalize;
                }
            }
        }
        .uppercase{
        	.widget{
        		.widget-title{
        			text-transform: uppercase !important;
        		}
        	}
        }
        .listnone{
        	ul{
        		li{
        			a{
        				padding-left:0px;
        				&:before{
        					display:none;
        				}
        			}
        		}
        	}
        }
        .wrap-content{
        	li{
        		position: relative;
        		margin-bottom:-16px;
        		p{
        			padding-left:28px;
        			margin-bottom: 19px;
	        		.text{
	        			display: inline-block;
	        			padding-left:0px;
	        			line-height: 30px;
	        			&:before{
	        				display:none;
	        			}	
	        		}
        		}
        		div{
        			position: absolute;
        			font-size: 14px;
        			transition: 0.3s;
					top:7px;
        		}
        	}
        }
    }
    .footer-abs-section{
        .footer-abs-middle{
            a{
                text-decoration: none;
            }
        }
        .nbfw-social-links{
            margin-bottom:0px;
            ul.nbfw-social-link-widget{
                text-align: center;
                margin-bottom:18px;
            }
        }

		.footer-abs-content{
			justify-content: space-between;
			.footer-abs-left,.footer-abs-right{
				flex: none;
				width: auto;
			}
		}	

    }
    ul.nbfw-social-link-widget{
        padding:0px;
        margin:0px;
        list-style-type: none;
        li{
            display: inline-block;
            border-radius: 3px;
            border:1px solid !important;
            padding:0px;
            transition: 0.3s;
            a{
                height: 30px;
                width:30px;
                display: block;
                padding-left:0px !important;
                border:none;
                margin:0px;
                position: relative;
                i{
                    font-size: 16.03px;
                    position: absolute;
                    top:50%;
                    left:50%;
                    transform: translateX(-50%) translateY(-50%);
                    transition: 0.3s;
                }
                &:before{
                    content:'' !important;
                }
            }
            &:not(:last-child){
                margin-right:20px;
            }
        }
    }
}