#primary, #secondary {
  @include make-col(12);
  @include media-breakpoint-up(lg) {
    padding-left: 15px;
  }
}

.classic-2-columns,.classic-3-columns{
  #primary{
    padding-left:0px;
  }
}

#primary {
  // @include media-breakpoint-down(md) {
  //   margin-bottom: 90px
  // }
  padding-left: 15px;
  padding-right: 15px;
}


.shop-main {
  @include media-breakpoint-down(md) {
    margin-bottom: 90px
  }
}
/*Custom Layout*/
.jr-silder{
    .ult-easy-separator-wrapper{
        .ult-easy-separator-inner-wrapper{
            margin-top: -83px;
        }
    }
}
.jr-feature-product{
    .vc_tta-tabs-container{
        margin-top: 25px;
        .vc_tta-tabs-list{
            .vc_tta-tab{
                > a{
                    color: #444 !important;
                    text-transform: uppercase;
                    background-color: #fff !important;
                    padding: 2px 20px !important;
                    border-radius: 22px !important;
                }
                &.vc_active,
                &:hover{
                    > a{
                        color: #fff !important;
                        background-color: #6abf77 !important;
                    }
                }
            }
        }
    }
}
.nbd-gallery-con{
    overflow:hidden;
    margin-bottom:90px;
}
#nbdesigner-gallery{
    .nbdesigner-item {
        margin-bottom:30px;
        padding-left:15px;
        padding-right:15px;
        margin-left:0;
        margin-right:0;
    }
    .nbd-gallery-item-inner{
        text-align:center;
    }
}
