.nbd-gallery-con {
    padding-top: 0;
    overflow: hidden;
}

.container {
    .nbd-list-designer-template {
        margin-right: -15px;
        margin-left: -15px;
    }
    #nbdesigner-gallery {
        margin: 0;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .nbdesigner-item {
            margin: 0;
            padding: 15px;
            position: static !important;
            left: auto !important;
            top: auto !important;
        }

        &.nbd-gallery-column-5 {

            .nbdesigner-item {
                flex: 0 0 20%;
                max-width: 20%;
                @include media-breakpoint-down(lg) {
                    flex: 0 0 33.33%;
                    max-width: 33.33%;
                }
                @include media-breakpoint-down(sm) {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                @media (max-width: 400px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }

        &.nbd-gallery-column-4 {

            .nbdesigner-item {
                flex: 0 0 25%;
                max-width: 25%;
                @include media-breakpoint-down(lg) {
                    flex: 0 0 33.33%;
                    max-width: 33.33%;
                }
                @include media-breakpoint-down(sm) {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                @media (max-width: 400px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }

        &.nbd-gallery-column-3 {

            .nbdesigner-item {
                flex: 0 0 33.3%;
                max-width: 33.3%;
                @include media-breakpoint-down(sm) {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
                @media (max-width: 400px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }

        &.nbd-gallery-column-2 {

            .nbdesigner-item {
                flex: 0 0 50%;
                max-width: 50%;
                @media (max-width: 400px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
            }
        }
        
    }
}

.nbdesigner-gallery,
#nbdesigner-gallery {
    .nbdesigner-item {
        .nbd-gallery-item {
            .nbd-gallery-item-acction {
                .nbd-like-icons {
                    .nbd-like-icon {
                        &.loading {
                            background-color: transparent;
                            width: auto;
                            height: auto;
                            position: relative;
                            top: 50%;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }
}

.nbd-gallery {
    .woocommerce-breadcrumb{
        display: block;
    }
    #primary {
        margin-bottom: 75px;
        .nbd-sidebar {
            ul {
                padding-left: 0px;
                .children {
                    padding-left: 15px;
                }
            }
            .nbd-sidebar-con {
                box-shadow: none;
                background-color: #f4f4f4;
                .nbd-sidebar-con-inner {
                    ul {
                        li {
                            a {
                                padding: 7px 0px 5px;
                                font-size: 14px;
                                &:hover {
                                    font-weight: 400;
                                }
                            }
                            &.has-children {
                                ul {
                                    border-top: 1px solid #dedede;
                                    li {
                                        a {
                                            list-style-position: inside;
                                            list-style-type: disc;
                                            display: inherit;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    svg {
                        display: none;
                    }
                    .nbd-tag {
                        background: none;
                        padding: 0;
                        font-weight: 400;
                        color: #2c2d33;
                        display: block;
                        margin-bottom: 5px;
                        &:after {
                            display: none;
                        }
                        &:before {
                            display: none;
                        }
                    }
                    &.wishlist{
                        .left{
                            background:#fff;
                        }
                    }
                }
                .wishlist-tem-wrap {
                    img {
                        box-shadow: none;
                    }
                }
            }
        }
        .nbd-list-designs {
            margin-top: -15px;
            .nbd-gallery-item {
                border: 1px solid #e1e1e1;
                .nbd-gallery-item-inner {
                    padding: 15px;
                }
            }
            .nbd-wrap {
                display: flex;
                justify-content: space-between;
                @media (max-width:320px){
                    display: block;
                    >div{
                        width:100% !important;
                    }
                    .nbd-popup-large-img{
                        margin-bottom:15px;
                    }
                }
                .nbd-popup-large-img {
                    width: calc(55% - (0.45 * 30px));
                }
                .nbd-gallery-item-action {
                    width: calc(45% - (0.55 * 30px));
                }
            }
            .nbd-popup-actions{
                @media (max-width:320px){
                    margin: 35px 0 15px;
                }
            }
            .nbd-popup-list-preview{
                @media (max-width:320px){
                    img{
                        width:calc(50% - (0.5 * 30px));
                        margin-right:15px;
                    }
                }
            }
        }
        .nbd-list-designer-template {
            .nbd-wrap {
                display: flex;
                justify-content: space-between;
                @media (max-width:320px){
                    display: block;
                    >div{
                        width:100% !important;
                    }
                    .nbd-popup-large-img{
                        margin-bottom:15px;
                    }
                }
                .nbd-popup-large-img {
                    width: calc(55% - (0.45 * 30px));
                }
                .nbd-gallery-item-action {
                    width: calc(45% - (0.55 * 30px));
                }
            }
            .nbd-popup-actions{
                @media (max-width:320px){
                    margin: 35px 0 15px;
                }
            }
            .nbd-popup-list-preview{
                @media (max-width:320px){
                    img{
                        width:calc(50% - (0.5 * 30px));
                        margin-right:15px;
                    }
                }
            }
        }
    }
}

.nbd-popup-start-design {
    &:hover {
        color: #fff;
    }
}

// Style online designer
.nbd-user-banner {
    border-top: 1px solid #e1e1e1;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: auto;
    &.banner_img {
        min-height: 300px;
        border-top: 0 none;
        &.style3 {
            margin-bottom: 15px;
        }
        .nbd-user-infos {
            &.style3 {
                margin-top: 0px;
            }
        }
    }
    >.container {
        height: 100%;
        .row {
            height: 100%;
        }
    }
}

.nbd-user-infos {
    box-shadow: none;
    .nbd-user-info {
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
        display: flex;
        align-items: center;
        .nbd-avatar {
            border: 0 none;
            margin-right: 15px;
            box-shadow: none;
            @media (min-width: 992px) {
                min-width: 110px;
                min-height: 110px;
            }
        }
        .nbd-designer-info {
            max-width: unset;
            .nbd-artist-name {
                font-size: 18px;
                color: #444444;
                margin-bottom: 10px;
                line-height: 1;
                text-shadow: none;
            }
            .nbd-social-list {
                font-size: 14px;
                margin-bottom: 7px;
                .nbd-social {
                    width: auto;
                    height: auto;
                    line-height: 1;
                    margin: 0 5px;
                    box-shadow: none;
                    font-size: 14px;
                    color: #999999;
                    padding: 0;
                    i {
                        &::before {
                            margin: 0;
                        }
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            .nbd-artist-add {
                display: block;
                box-shadow: none;
                padding: 0;
                color: #666666;
                font-size: 14px;
                margin-top: 5px;
                margin-bottom: 7px !important;
                i {
                    margin-right: 10px;
                }
            }
            .nbd-artist-phone {
                display: block;
                box-shadow: none;
                padding: 0;
                color: #666666;
                font-size: 14px;
                margin-top: 5px;
                i {
                    margin-right: 10px;
                }
            }
        }
    }
    .nbd-description {
        padding: 0;
        padding-left: 15px;
        color: #666666;
        font-size: 14px;
        line-height: 24px;
    }
    &.style1 {
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #eeeeee;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;
        margin-bottom: 45px;
        .nbd-user-info {
            flex: 0 0 33.33333%;
            max-width: 33.33333%;
            display: flex;
            align-items: center;
            padding-right: 15px;
            .nbd-artist-name {
                margin-bottom: 15px;
            }
            @include media-breakpoint-down(md) {
                flex: 0 0 100%;
                max-width: 100%;
                margin-bottom: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid #eee;
            }
            @include media-breakpoint-down(sm) {
                .nbd-designer-info {
                    text-align: left;
                    padding-left: 15px;
                }
            }
            @include media-breakpoint-down(xs) {
                .nbd-avatar {
                    width: 60px;
                    height: 60px;
                    margin-right: 10px;
                }
                .nbd-designer-info {
                    padding-left: 10px;
                }
            }
        }
        .nbd-description {
            flex: 0 0 66.66667%;
            max-width: 66.66667%;
            p {
                margin-left: 30px;
                @include media-breakpoint-down(lg) {
                    margin-left: 0;
                }
            }
            @include media-breakpoint-down(md) {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }
    &.style2 {
        padding-bottom: 40px;
        border-bottom: 1px solid #e1e1e1;
        margin-bottom: 10px;
        .nbd-user-info {
            padding: 30px 0 25px 0;
            position: relative;
            display: flex;
            align-items: center;
            @include media-breakpoint-down(sm) {
                .nbd-designer-info {
                    width: auto;
                    text-align: left;
                    padding-left: 10px;
                    .nbd-artist-name {
                        margin-bottom: 5px;
                    }
                    .nbd-social-list {
                        position: relative;
                        top: auto;
                        right: auto;
                        transform: none;
                    }
                }
                .nbd-avatar {
                    margin: 0;
                    margin-right: 10px
                }
            }
            @include media-breakpoint-down(xs) {
                .nbd-avatar {
                    width: 60px;
                    height: 60px;
                }
            }
            .nbd-designer-info {
                position: static;
                .nbd-artist-name {
                    margin-bottom: 20px;
                }
                .nbd-social-list {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translateY(-50%);
                    font-size: 16px;
                }
            }
        }
        .nbd-description {
            padding-left: 0;
        }
    }
    &.style3 {
        max-width: 460px;
        padding: 30px;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 0;
        margin-left: 15px;
        overflow: hidden;
        min-height: 300px;
        margin-top: 30px; 
        @include media-breakpoint-down(xs) {
            padding: 15px;
            margin-left: 0;
        }
        .nbd-user-info {
            padding-top: 30px;
            padding-bottom: 15px;
            @include media-breakpoint-down(sm) {
                display: flex;
                align-items: center;
                .nbd-designer-info {
                    text-align: left;
                    width: auto;
                    padding-left: 15px;
                }
                .nbd-avatar {
                    min-height: auto;
                    margin: 0;
                    margin-right: 15px;
                }
            }
            @include media-breakpoint-down(xs) {
                padding-top: 15px;
                .nbd-avatar {
                    width: 70px;
                    height: 70px;
                }
                .nbd-designer-info {
                    padding-left: 0;
                }
            }
            .nbd-avatar {
                border: 2px solid #fff;
            }
            .nbd-artist-name {
                color: #fff;
                margin-bottom: 25px;
            }
            .nbd-social-list {
                .nbd-social {
                    background-color: transparent;
                    color: #d8d8d8;
                }
            }
            .nbd-artist-add {
                background-color: transparent;
                color: #fff;
            }
            .nbd-artist-phone {
                background-color: transparent;
                color: #fff;
            }
        }
        .nbd-description {
            padding-bottom: 23px;
            padding-left: 0;
            color: #fff;
        }
    }
}

.nbd-list-designer-template {
    #nbdesigner-gallery {
        .nbdesigner-item {
            .nbd-gallery-item-inner {
                background-color: #f8f8f8;
                padding-bottom: 30px;
                padding-top: 30px;
                text-align:center;
            }
        }
    }
}

.nbd-popup {
    .nbd-wrap {
        .nbd-popup-design-name {
            text-transform: capitalize;
            font-weight: 600;
        }
        .nbd-but {
            display: flex;
            .nbd-like-icons {
                float: none;
                margin-right: 25px;
                background: #fff;
                box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
            }
            .nbd-edit-template {
                position: static;
            }
        }
        .nbd-popup-start-design {
            float: none;
            border-radius: 5px;
            margin-top: 25px;
            font-weight: 600;
        }
    }
    .nbd-popup-list-preview {
        img {
            width:calc(33.3% - (0.667 * 30px));
            margin-right:15px;
            max-width: none;
            border: none;
        }
    }
}