.error404 {
    main {
		.pnf-heading {
			font-size: 200px;
			font-weight: bold;
			line-height: 0.09;
			text-align: center;
			color: #1E88E5;
			margin-bottom: 0;
			text-shadow: 0px 15px 0 rgba(153, 153, 153, 0.35);
			-webkit-text-stroke: 8px #ffffff;
		}
		text-align: center;
		padding-top: 130px;
		margin-bottom: 60px;
		img {
			position: relative;
	    	bottom: -90px;
			max-width: 100%;
			height: auto;
		}
		.text-wrap {
			background: #f6f6f6;
			padding-top: 105px;
			padding-bottom: 70px;
		}
		h1 {
			@include font-size(2.4);
			font-weight: bold;
			text-transform: uppercase;
			color: #1E88E5;
			margin-top: 0;
			margin-bottom: 45px
		}
		p:not(.home-link) {
			a {
				text-transform: uppercase;
				font-weight: bold;
				color: #666;
			}
		}
		.home-link {
			//@include jw-column();
			//@include jw-sm-column(10);
			//@extend .col-sm-offset-1;
			background: #1E88E5;
			line-height: 105px;
			a {
				color: #fff;
			}
			.icon-home {
				background: #444;
				padding: 20px;
				text-transform: uppercase;
			}
		}
	}	
}