.nb-input-group {
  display: flex;
  .search-field {
    height: 40px;
    padding: 0 15px;
    flex-grow: 1;
    border-radius: 0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    width: calc(100% - 40px);
    &:focus {
      outline: none
    }
  }
  .search-button button {
    width: 40px;
    border: 0;
    color: #fff;
    i {
      color: #fff !important
    }
  }
}

#searchbox_autocomplete {
  @include media-breakpoint-down(sm) {
    display: none !important;
  }
}

.search-no-results {
  p {
    font-size: 16px;
  }
}