.nb-social-icons {
  margin: 0;
  padding: 0;
  list-style: none;
  > a {
    border: 1px solid;
    display: inline-block;
    line-height: 40px;
    width: 40px;
    text-align: center;
    transition: all .2s ease;
    margin-right: 3px;
  }
  &.style-1 {
      .facebook:hover {
        color: #3a589d;
        border-color: #3a589d
      }
      .twitter:hover {
        color: #2478ba;
        border-color: #2478ba
      }
      .pinterest:hover {
        color: #cb2320;
        border-color: #cb2320
      }
      .google-plus:hover {
        color: #dd4e31;
        border-color: #dd4e31
      }
      .linkedin:hover {
        color: #0072b7;
        border-color: #0072b7
      }
    }
  &.style-2 {
    a {
      color: #fff;
    }
    .facebook {
      background-color: #3a589d;
      border-color: #3a589d;
    }
    .twitter {
      background-color: #2478ba;
      border-color: #2478ba;
    }
    .pinterest {
      background-color: #cb2320;
      border-color: #cb2320;
    }
    .google-plus {
      background-color: #dd4e31;
      border-color: #dd4e31;
    }
    .linkedin {
      background-color: #0072b7;
      border-color: #0072b7;
    }
  }
  &.floating {
    position: fixed;
    left: 0;
    top: 35%;
    width: 40px;
    > a {
      margin-bottom: 5px;
    }
  }
}

.site-main.modern {
  .single-social {
    display: inline-block;
  }
}

	.single-social {
		margin: 0;
		padding: 0;
		list-style: none;
		text-align: right;
		li {
			display: none;
			&.all-share{
				display: inline-block;
			}
			a, &.active a{
				display: flex;
				border: 1px solid #4285f4;
				align-items: center;
				border-radius: 5px;
				width: 30px;
				height: 30px;
				text-align: center;
				justify-content: center;
				margin-left: 15px;
				&:hover,
        &:focus{
					text-decoration: none;
					background-color: #4285f4;
					color: #fff;
				}
			}
		}
	}