h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	margin-bottom: 15px;
	clear: both;
}
.product-f div.pt-product-meta .product-title a{
  font-size:18px;
  font-weight:500;
}
.product-f .products div.product .price .amount{
  font-family: 'Open Sans', sans-serif;
  font-weight:700;
  font-size:18px;
}
.service-f .vc-printshop-ourservices h4 a{
  font-size:18px;
  font-weight:500;
}
footer.site-footer .footer-top-section .footer_top_left .phone{
  font-weight:500;
}
.site-footer .footer-bot-section .widget .widget-title{
  font-weight:bold;
}
.header-1	.header-cart-wrap .mini-cart-section{
  left:inherit !important;
  right:0 !important;
}
.header-1 	.middle-section-wrap 	.nb-account-dropdown{
  right:0;
}
.search #primary{
  margin-bottom:60px;
}
.nb-quantity .qty{
  -moz-appearance: textfield;
}
.single-product .nbt-variations .variations .variations-wrap {
  padding: 30px 30px 10px;
}
.woocommerce-tabs #tab-description #tab-description{
  display:block !important;
  padding:0;
}
#reviews {
  margin-top:45px;
}
main.shop-main.split-reviews-form #comments,
main.shop-main.split-reviews-form #review_form_wrapper{
  flex-basis:100%;
  max-width:100%;
  padding-right:0;
  padding-left:0;
}
div.single-product-wrap .star-rating{
  width:105px;
}
.single-product-wrap .star-rating:before,
.single-product-wrap .star-rating span:before{
  letter-spacing:3px;
} 
table tbody td{
  border:none;
}
.table-responsive .pure-table td{
  border:1px solid #ccc;
}
div.products .product .product-action .button .tooltip{
  min-height:30px;
  line-height: 30px;
  font-size: 14px;
// top:-40px;
}
#how-we .vc-printshop-step .container{
  max-width:100%;
}
#how-we,#testimonial-f{
  background-attachment:fixed;
  z-index:9999999;
}
footer.site-footer .footer-bot-section .widget .widget-title{
  font-weight:400;
}

@media screen and (max-width:767px){
  .cart .nbt-variations{
    overflow:hidden;
  }
  .single-product .nbt-variations div.single_variation_wrap{
    padding-left:0;
  }
  .single-product .nbt-variations .variations{
    margin-bottom:20px;
    padding-right:0;
  }
  .woocommerce div.product form.cart .variations{
    width:auto!important;
  }
  .single-product button.single_add_to_cart_button{
    padding: 8.5px 64px;
  }
}
.header-1 .middle-section-wrap .middle-right-content .minicart-header .counter-number{
  z-index:99;	
}
.footer-abs-section{
  padding-top: 15px;
  padding-bottom:15px;
}

@media only screen and (max-width: 1366px) {
  .middle-section .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu {
    left: -185px;
  }

  .header-9 .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu {
    left: 0;
  }
}
@media (max-width: 991px) {
  .shop-main {
    margin-bottom: 90px;
  }

  .header-4 .top-section-wrap ul.header-top-right {
    float: none;
    text-align: center;
  }

  .header-4 .top-section-wrap .header-top-left-wrapper {
    text-align: center;
    margin-bottom: 15px;
  }

  .header-4 .middle-section-wrap .middle-right-content .header-search-wrap .search-form.visible .nb-input-group .search-field {
    width: 60%;
  }

  .header-4 .middle-section-wrap .middle-right-content .header-search-wrap .search-form.visible .nb-input-group .search-button {
    right: 20%;
  }

  .header-8 .header-top-left-wrapper {
    text-align: center;
  }

  .header-3 .header-custom-list .main-logo {
    margin: 0 auto;
  }

  .main-navigation .icon-menu {
    margin-left: 0px;
    padding:0;
    display: block;
    margin-top: 8px;
    margin-bottom: 9px;
  }

  .main-navigation .menu-main-menu-wrap {
    position: fixed;
    left: -100%;
    top: 0px;
    bottom: 0px;
    padding: 50px 0px 0px;
    width: 300px;
    z-index: 9999;
    overflow: auto;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background: #222;
    color: #eee;
  }

  .main-navigation .menu-main-menu-wrap .menu-main-menu-title {
    display: block;
  }

  .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary {
    display: block;
  }

  .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    border-bottom: solid 1px #444;
    line-height: 45px;
    height: 45px;
    color: #fff;
    border-bottom: solid 1px #444;
    border-top: 0 !important;
  }

  .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu {
    background: #222;
    border-bottom: solid 1px #444;
    padding: 0;
    width: 300px !important;
    border-right: 0;
    border-left: 0;
    border-top: 0 !important;
  }

  .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-flyout ul.mega-sub-menu li.mega-menu-item a.mega-menu-link {
    background: #222;
    color: #fff;
    border-bottom: solid 1px #444;
  }

  .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
    margin-right: 0px;
  }

  .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu {
    width: 300px !important;
    padding: 0;
    border-left: none;
    border-right: none;
  }

  .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-mm-online-design li.mega-menu-column {
    width: 100%;
  }

  .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu li.mega-mm-online-design li.mega-menu-column > ul.mega-sub-menu > li.mega-menu-item .product-online-desginer ul li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary a.mega-menu-link .mega-description-group .mega-menu-title {
    color: #fff;
  }

  .blog .modern article {
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 30px;
  }

  .blog .modern article:last-child {
    border-bottom: 0;
  }

  .site-footer .footer-top-section {
    padding-top: 45px;
  }

  .site-footer .footer-top-section > .container > .row > .col-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .site-footer .footer-top-section > .container > .row > .col-3:last-of-type {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .vc-getto-info .vc-getto-para {
    width: 100%;
  }

  .vc-getto-info ul {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .vc-getto-info ul li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 40px;
  }

  .vc-getto-info ul li .vc-getto-icon {
    margin-bottom: 25px;
  }

  .vc-getto-blog {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .vc-getto-blog .getblog-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 45px;
  }

  .vc-getto-blog .getblog-item img {
    min-height: inherit;
  }

  .vc-leadership .vc-leadership-lists {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .vc-leadership .vc-leadership-lists .vc-leadership-item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-bottom: 95px;
  }

  .timeline-events .avatar,
  .timeline-events .content {
    width: 100%;
  }

  .timeline-events .avatar {
    text-align: center;
    margin-bottom: 15px;
  }

  .timeline-events .avatar img {
    width: 60%;
  }

  .timeline-events .content {
    padding-left: 0;
  }

  .timeline-events {
    padding: 10px;
  }
  .image-f{
    display:none;
  }
  .step-f{
    width:100%;
  }
}

@media only screen and (max-width: 991px) {
  .woocommerce .wishlist_table td.product-add-to-cart a {
    width: 100px;
  }

  .header-1 .middle-section-wrap .logo-header,
  .header-1 .middle-section-wrap > .container > .row > .col-lg-6,
  .header-1 .middle-section-wrap > .container > .row > .col-lg-4  {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .header-1 .middle-section-wrap > .container > .row > .col-lg-6{
    margin-bottom:30px;
  }

  .header-1 .middle-section-wrap .main-logo {
    margin: 0 auto 25px;
  }

  .header-1 .middle-section-wrap .middle-right-content {
    float: none;
    text-align: center;
  }

  .header-1 .middle-section-wrap .middle-right-content .customer-action {
    text-align: left;
  }

  .header-1 .middle-section-wrap .middle-right-content .header-cart-wrap {
    text-align: left;
  }

  .header-10 #netbase-responsive-toggle {
    display: block;
    float: right;
  }

  .header-10 .header-top-left-wrapper {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  .header-7.site-header nav#site-navigation {
    margin-top: 7px;
  }

  .header-7.site-header nav#site-navigation button {
    margin-top: 0px;
  }

  .header-7.site-header .header7-middle .header7-search {
    top: 0px;
  }

  .height9 {
    height: auto !important;
    border-top-color: #fff !important;
  }

  .header-7.site-header .header7-middle {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: right;
  }

  .header-7.site-header .left7 {
    margin-bottom: 35px;
  }

  .header-7.site-header .header-top {
    margin-bottom: 15px;
  }

  .header-7.site-header .header-top .logo-header {
    text-align: left;
  }

  .header-7.site-header .header7-middle {
    padding-top: 0px;
    text-align: left;
  }

  .header7-top-left-wrapper {
    text-align: center;
  }

  .header7-top-left-wrapper .header7-top-left {
    display: inline-block;
  }

  .header-custom-list .minicart-header .counter-number {
    top: 0;
  }

  .header-custom-list .header-top-left {
    margin-bottom: 15px;
  }

  .header-custom-list .header-top-left,
  .header-custom-list .header-top-right {
    text-align: center;
  }

  .header-6 .header-custom-list .middle-right-content,
  .header-6 .header-searchbox-content,
  .header-6 .logo-header,
  .header-5 .header-custom-list .middle-right-content,
  .header-5 .header-searchbox-content,
  .header-5 .logo-header {
    text-align: center;
    margin-bottom: 15px;
  }

  .header-6 .main-logo img,
  .header-5 .main-logo img {
    width: auto;
  }

  .header-5 .main-logo {
    margin: 0 auto;
  }

  .header-5 .header-custom-list .minicart-header .counter-number {
    top: auto;
  }

  .header-6 .logo-header .main-logo {
    width: auto !important;
  }

  .header-6 .middle-right-content .header-cart-wrap {
    height: 100%;
  }

  .header-6 .middle-right-content .header-cart-wrap .cart-wrapper {
    height: 100%;
  }

  .header-6 .middle-right-content .header-cart-wrap .cart-wrapper .counter-number {
    top: auto;
  }

  .header-6 .middle-right-content .header-cart-wrap .cart-wrapper .show-cart .text,
  .header-6 .middle-right-content .header-cart-wrap .cart-wrapper .show-cart .price-wrapper {
    display: block;
  }

  .header-6 .middle-right-content .header-cart-wrap .cart-wrapper .show-cart .text {
    margin-top: 0px;
  }
  #home1-infobox{
    padding-top: 45px !important;
  }
  #home1-infobox > .wpb_column {
    width:50%;
  }
  #home1-infobox >.wpb_column > .vc_column-inner {
    padding-top:0;
  }
}

@media screen and (max-width: 767px) {
  #home1-infobox > .wpb_column {
    width:100%;
  }
  #home1-infobox > .wpb_column > .vc_column-inner {
    width:100%;
  }
  .header-custom-list .logo-header {
    margin-bottom: 15px;
  }

  .header-custom-list .main-logo {
    text-align: center;
  }

  .header-custom-list .main-logo img {
    width: auto;
  }
  .shop_table.cart td:before {
    position: relative !important;
    left: 0px !important;
  }
  .header-4 .middle-section-wrap .middle-right-content .header-search-wrap .search-form.visible .nb-input-group .search-field {
    width: 70%;
  }

  .header-4 .middle-section-wrap .middle-right-content .header-search-wrap .search-form.visible .nb-input-group .search-button {
    right: 15%;
  }

  .blog .modern article {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .blog .modern article .entry-image {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .site-footer .footer-top-section {
    padding-top: 35px;
  }

  .comment-list ol {
    padding-left: 0;
  }

  .nb-fw.timeline_simple .timeline-events {
    width: 100%;
  }

  .nb-fw.timeline_simple .timeline-events:before,
  .nb-fw.timeline_simple .timeline-events:after {
    content: none;
  }
}
@media only screen and (max-width: 600px) {
	.vc-home-blog {
    padding: 0 15px;
  }
}
@media (max-width: 575px) {
  .header-4 .middle-section-wrap .logo-header .main-logo {
    margin: 0 auto;
  }

  .header-4 .middle-section-wrap .middle-right-content .header-search-wrap {
    margin-left: 5px;
  }

  .header-8 .top-section-wrap ul.header-top-left > li.top-header-join-free span,
  .header-8 .top-section-wrap ul.header-top-left > li.top-header-login span,
  .header-8 .top-section-wrap ul.header-top-left > li.top-header-logout span,
  .header-8 .top-section-wrap ul.header-top-left > li.top-header-your-account span {
    display: none;
  }

  .header-3 .header-custom-list .header-cart-wrap .cart-wrapper .counter-number:after {
    content: '';
  }

  .content-search > article .entry-meta > span,
  .content-search > article .comments-link > span {
    margin-right: 9px;
  }

  .site-footer .footer-top-section {
    padding-top: 25px;
  }

  .site-footer .footer-top-section > .container > .row > .col-3 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .site-footer .footer-top-section > .container > .row > .col-3:last-of-type {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 575px) {
	.vc-printshop-ourservices .row .our-services-child img{
   width:100%;
 }
 #home-box .vc_column_container > .vc_column-inner{
   padding-left:0;
   padding-right:0;
 }
}
.single-product-wrap .product-image .thumb-gallery .swiper-slide img{
  padding-left:1px;
  padding-right:1px;
}
.table-responsive .pure-table td{
  border:1px solid #ccc !important;
}
div.vc-leadership .vc-leadership-lists .vc-leadership-item .vc-leadership-wrap img{
  border:none;
}
div.vc-getto-blog .getblog-item .bg-getblog-item{
  position:relative;
  margin-top:-45px;
  bottom:0;
}
div.vc-getto-blog .getblog-item{
  padding-bottom:0;
}
@media (max-width: 1200px){
  div.header-custom-list #nbt-ajax-search .searchbox .control .select-cat{
    display:none;
  }
  div.header-custom-list #nbt-ajax-search .searchbox .control .input-content{
    display:block;
  }
}
@media (max-width: 991px){
  div.vc-getto-info ul li{
    flex:0 0 33.33%;
    margin-bottom:0;
  }
  div.vc-leadership .vc-leadership-lists .vc-leadership-item{
    flex:0 0 50%;
  }
}
@media (max-width: 480px){
  div.vc-getto-info ul li{
    flex:0 0 100%;
    margin-bottom:40px;
  }
  div.vc-leadership .vc-leadership-lists .vc-leadership-item{
    flex:0 0 100%;
  }
}
@media (max-width: 320px){
  div.vc-getto-blog .getblog-item .bg-getblog-item{
    margin-left:0;
    margin-right:0;
  }
  div.header-custom-list .minicart-header{
    margin-left:-2px;
  }
  .header-5 .header-custom-list .middle-right-content{
    display: flex;
    justify-content: space-between;
  }
}
.nb-fw.timeline_simple div.timeline-major{
  border-color:#dfdfdf;
}
.wrap-top .top_left .widget .widget-title{
  padding-bottom:0;
  margin-bottom:auto;
  margin-top:auto;
}
.instagram-widget-img .instagram-pics > a:after{
  opacity:0;
}
.instagram-widget-img .instagram-pics:hover > a:after{
  opacity:1;
}
#home1-infobox .aio-icon-title{
  font-weight:600;
}
.vc-tab-product-wrapper ul.style-rounded li a{
  font-size:14px;
}