.nb-page-title-wrap {
	font-size: 14px;
	margin-bottom: 10px;
	padding-top: 40px;
	padding-bottom: 15px;
	.nb-page-title {
		.woocommerce-breadcrumb {
			color: #4285f4;
		}
		margin: 0;
		a {
			color: #888888;
		}
		span {
		    display: inline-block;
		    margin: 0 20px;
		    font-size: 15px;
		    position: relative;
		    top: 1px;
		    color: #888888;
		}
	}
}