#faq_print{
	.vc_toggle_title {
		padding-right: 20px;
	}
	.uvc-main-heading{
		h5{
			padding:10px;
			border-radius:5px;
			margin-bottom: 15px;
		}

		h4 {
			font-weight: 500 !important;
		}
	}
	.vc_toggle{
		h2{
			margin-bottom:0;
		}
		.vc_toggle_icon{
			right: 0;
    		left: auto;	
			top:13px;
			&:before{
				width:2px;
			}
		}
	}
	.vc_toggle_content{
		border-top:1px solid #ccc; 
		padding-top:15px;
	}
	.widget_categories{
		ul{
			padding-left:15px;
			li{
				padding-top:0;
			}
		}
	}
	.widget_tag_cloud{
		.tagcloud{
			padding-left:15px;
		}
	}
	.widgettitle{
		border-bottom:1px solid #d7d7d7;
		padding-bottom:15px;
		font-weight: 600;
		font-size: 16px;
		text-transform: uppercase;
	}
	.faq_main{
		.aio-icon{
			height: auto;
			width:auto;
			line-height:normal;
		}
		.uvc-heading-spacer,
		.uvc-main-heading{
			display: table-cell;
		}
		.uvc-heading-spacer{
			margin-right:5px;
		}
		.uvc-main-heading{
			padding-left:5px;
		}
		.uvc-sub-heading{
			position: relative;
			border-top:1px solid #dedede;
			padding-top:10px;
			padding-bottom:10px;
			margin-top:10px;
			&:after{
				content:'';
				position: absolute;
				width:200px;
				height:1px;
				top:-1px;
				left:0;
			}
		}
		.more-info{
			text-align: right;
			span{
				font-size: 14px;
				font-style: italic;
			}
		}
	}
}

@media screen and (max-width:991px){
	#faq_print{
		>div{
			width:100%;
		}
	}
}