@font-face {
  font-family: 'printcart-ico';
  src:  url('../../fonts/icomoon.eot?e1zvpr');
  src:  url('../../fonts/icomoon.eot?e1zvpr#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon.ttf?e1zvpr') format('truetype'),
    url('../../fonts/icomoon.woff?e1zvpr') format('woff'),
    url('../../fonts/icomoon.svg?e1zvpr#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="pt-icon-"], [class*=" pt-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'printcart-ico' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pt-icon-flash:before {
  content: "\e802";
}
.pt-icon-basket:before {
  content: "\e803";
}
.pt-icon-menu:before {
  content: "\f0c9";
}
.pt-icon-angle-double-left:before {
  content: "\f100";
}
.pt-icon-angle-double-right:before {
  content: "\f106";
}
.pt-icon-angle-right:before {
  content: "\f107";
}
.pt-icon-angle-down2:before {
  content: "\f108";
}
.pt-icon-paper-plane-empty:before {
  content: "\f1d9";
}
.pt-icon-plus:before {
  content: "\a901";
}
.pt-icon-minus:before {
  content: "\a902";
}
.pt-icon-heartbeat:before {
  content: "\a903";
}
.pt-icon-pencil:before {
  content: "\a904";
}
.pt-icon-long-arrow-left:before {
  content: "\a905";
}
.pt-icon-quote-right:before {
  content: "\a906";
}
.pt-icon-quote-left:before {
  content: "\a907";
}
.pt-icon-paper-bag:before {
  content: "\a908";
}
.pt-icon-heart-o:before {
  content: "\a909";
}
.pt-icon-heart:before {
  content: "\a910";
}
.pt-icon-shopping-cart:before {
  content: "\a911";
}
.pt-icon-cancel-circle:before {
  content: "\a912";
}
.pt-icon-shopping-bag:before {
  content: "\a913";
}
.pt-icon-arrows-ccw:before {
  content: "\e800";
}
.pt-icon-quote:before {
  content: "\e801";
}
.pt-icon-shop:before {
  content: "\e835";
}
.pt-icon-spinner:before {
  content: "\e900";
}
.pt-icon-share-alt:before {
  content: "\e901";
}
.pt-icon-pinterest-p:before {
  content: "\e902";
}
.pt-icon-google-plus:before {
  content: "\e903";
}
.pt-icon-left-arrow:before {
  content: "\e904";
}
.pt-icon-checklist:before {
  content: "\e907";
}
.pt-icon-business:before {
  content: "\e908";
}
.pt-icon-chevron-right:before {
  content: "\e909";
}
.pt-icon-chevron-left:before {
  content: "\e90a";
}
.pt-icon-search:before {
  content: "\e90b";
}
.pt-icon-trash:before {
  content: "\e90c";
}
.pt-icon-angle-up:before {
  content: "\e90d";
}
.pt-icon-angle-down:before {
  content: "\e90e";
}
.pt-icon-envelope-o:before {
  content: "\e90f";
}
.pt-icon-location:before {
  content: "\e910";
}
.pt-icon-futbol-o:before {
  content: "\e911";
}
.pt-icon-bubbles:before {
  content: "\e912";
}
.pt-icon-phone-call:before {
  content: "\e913";
}
.pt-icon-upload:before {
  content: "\e914";
}
.pt-icon-hearted:before {
  content: "\e915";
}
.pt-icon-error:before {
  content: "\e916";
}
.pt-icon-check:before {
  content: "\e917";
}
.pt-icon-globe:before {
  content: "\e918";
}
.pt-icon-inbox:before {
  content: "\e919";
}
.pt-icon-long-arrow-right:before {
  content: "\e91a";
}
.pt-icon-printer:before {
  content: "\e954";
}
.pt-icon-star-empty:before {
  content: "\e9d7";
}
.pt-icon-star-full:before {
  content: "\e9d9";
}
.pt-icon-facebook:before {
  content: "\ea90";
}
.pt-icon-twitter:before {
  content: "\ea96";
}
.pt-icon-linkedin:before {
  content: "\eaca";
}
.pt-icon-pinterest:before {
  content: "\ead1";
}
.pt-icon-cart:before {
  content: "\f101";
}
.pt-icon-heart2:before {
  content: "\f102";
}
.pt-icon-arrow-right:before {
  content: "\f103";
}
.pt-icon-bag:before {
  content: "\f104";
}
.pt-icon-user:before {
  content: "\f105";
}
.pt-icon-instagram:before {
  content: "\e905";
}
.pt-icon-windows:before {
  content: "\e921";
}
.pt-icon-apple:before {
  content: "\e91c";
}
.pt-icon-android:before {
  content: "\e91d";
}
.pt-icon-rss:before {
  content: "\e91e";
}
.pt-icon-dribbble:before {
  content: "\e91f";
}
.pt-icon-github:before {
  content: "\e920";
}
.pt-icon-youtube:before {
  content: "\e91b";
}
.pt-icon-bitbucket:before {
  content: "\e906";
}
.pt-icon-flickr:before {
  content: "\e922";
}