
.site-footer {
	.widget {
		select {
			color: #000;
		}
	}
	h7 {
		display: block;
		font-size: 12.63px;
	}
	.footer-top-section {
		padding: 55px 0 45px;

		.alt-footer-top-box {
			background-repeat: no-repeat;
			padding-left: 52px;
			background-position: center left;

			h5 {
				font-weight: 600;
				margin-bottom: 4px;
			}
			p{
				font-weight: 300;
			}
		}	
	}

	.footer-bot-section {
		position: relative;
		width: 100%;
		background-color: #222325;
		overflow: hidden;
		padding-top: 58px;
		padding-bottom: 18px;
		&:before {
			background: #212123;
			content: "";
			position: absolute;
			top: 50px;
			right: -9px;
			width: 100%;
			height: 400px;
			-webkit-transform: rotate(-40deg);
			-moz-transform: rotate(-40deg);
			-ms-transform: rotate(-40deg);
			-o-transform: rotate(-40deg);
			opacity: 0.5
		}

		&:after {
			background: #212123;
			content: "";
			position: absolute;
			top: 50px;
			left: -9px;
			width: 100%;
			height: 400px;
			-webkit-transform: rotate(40deg);
			-moz-transform: rotate(40deg);
			-ms-transform: rotate(40deg);
			-o-transform: rotate(40deg);
			opacity: 0.5
		}
	}


	.footer-bot-section {
		.footer-section-logo {
			text-align: center;
			margin-bottom: 22px;
			.footer-logo {
				margin-bottom: 20px;
			}
			p {
				width: 67%;
				margin: 0 auto;
			}
		}
		.footer-section-top {
			h3 {
				font-weight: 600;
			}
			p{
				margin-bottom: 3px;
			}
			.footer-section-top-left {
				float: left;
				width: 50%;
				padding-right: 15px;
				.widget {
					float: right;
					text-align: right;
				}
				h7 {
					margin-bottom: 5px;
				}
			}

			.footer-section-top-right {
				float: right;
				width: 50%;
				padding-left: 15px;
				p {
					display: inline-block;
					position: relative;
				}
				input {
					background: transparent;
					border: 1px solid #7f7f7f;
					font-size: 12.63px;
					padding: 10px 12px;
					border-radius: 3px;


					&[type="email"] {
						min-width: 270px;
					}
				}
				button {
					&[type="submit"] {
						font-size: 0;
						background: transparent;
						border: none;
						position: absolute;
						right: 0;
						top: 0;
						&:after {
							font-family: 'printcart-ico';
							content: "\f103";
							display: inline-block;
							padding-right: 3px;
							vertical-align: middle;
							font-size: 14px;
							padding: 9px 15px;
							color: #999999;
						}
					}
				}

			}

			.alt-mailchimp {
				h7 {
					margin-bottom: 24px;
				}
			}

		}
		.widget {
			.widget-title {
				border-bottom: 2px solid #555;
				text-transform: initial;
				padding-bottom: 7px;
				margin-bottom: 31px;
				margin-top: 13px;
				font-weight: 400;
				&:after{
					content: '';
					position: absolute;
					bottom: -2px;
					left: 0;
					width: 50px;
					height: 2px;
				}
			}

			ul {
				li {
					position: relative;
					border-bottom: none;
					padding: 0;
					a {
						padding-left: 15px;
						text-decoration: none !important;
						position: relative;
						&:before {
							font-family: 'printcart-ico';
							content: "\f103";
							display: block;
							position: absolute;
							left: 0;
							font-size: 11px;
							top:5px;
						}
					}
				}
			}
		}

	}

	.footer-abs-section {
		border-top: none;
		.row {
			.footer-abs-content {
				display: flex;
				align-items: center;
			}
		}
	}

	.widget_media_image img {
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		transition: 0.5s;
	}
	.widget_media_image img:hover {
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
	}
}
