body {
	font-family: Roboto;
}
.z-index {
    position: relative;
    z-index: 9;
}
@media (min-width: 1200px) {
	.container {
	    max-width: 1170px;
	}
}

.products {
	.product{
	    .price {
	        del {
	            .amount {
	                color: #666666;
	            }
	        }
	    }
	}
	
}

.wishlist-btn {
	a {
		text-decoration: none;
	}
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: #666;
}

h1.h1-hidden {
    height: 0px;
    position: absolute;
    left: -9999px;
}