.woocommerce-pagination.pagination-style-2{
	.page-numbers {
		border-radius: 0;
		text-decoration: none;
	}
	// span.page-numbers {
	// 	padding-left: 15px !important;
	// 	padding-right: 15px !important;
	// }
	// .next.page-numbers {
	// 	padding-left: 10px !important;
	// 	padding-right: 10px !important;
	// }
}