.page-cover-header {
	position: relative;
	background-repeat: no-repeat;
	min-height: 300px;
	margin-bottom: 30px;
	display: flex;
    justify-content: center;
    align-items: center;
	&:before{
		content:"";
		display: block;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		background-color: #000;
		opacity: 0.48;
	}
	.page-cover-wrap {
		display: flex;
		justify-content: center;
		height: 100%;
		align-items: center;
		.page-cover-block {
			position: relative;
			z-index: 99;
			h1 {
				color: #fff;
				text-transform: uppercase;
				text-align: center;
				line-height: 24px;
				margin-bottom: 14px;
			}
			.woocommerce-breadcrumb {
				color: #fff;
				font-size: 14px;
				line-height: 24px;
				text-align: center;
				a{
					color: #fff;
				}
				span{
					margin: 0 15px;
				}
			}
		}
	}
}

#blog-post-slider {
	.bp-slider-wrap{
		border-bottom: 1px solid #d7d7d7;
		margin-bottom: 30px;
	}
	a{
		text-decoration: none;
		display: inline-block;
	}
	.entry-cat{
		padding-top: 22px;
		a{
			text-transform: uppercase;
			line-height: 20px;
			font-size: 12.63px;
		}
	}
	h5 {
		padding-top: 4px;
		line-height: 20px;
		a{
			font-weight: 500;
		}
	}
	p{
		font-size: 12.63px;
		color: #888888;
	}
}

