#secondary {
	input[type="search"] {
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		appearance: none;
	}
	button[type="submit"] {
	    border-top-right-radius: 5px;
	    border-bottom-right-radius: 5px;
	}
}

.widget {
	.widget-title {
		text-transform: uppercase;
		line-height: 28px;
		font-weight: 600;
	}

}

.woocommerce {
	h3.widget-title {
		color: #444444;
		line-height: 24px;
		padding-bottom: 8px;
		margin-bottom: 10px;
	}
}