.vc-home-blog {
	display: flex;
	margin: 0 -15px;
	padding-top: 26px !important;
	padding-bottom: 55px;
	flex-wrap: wrap;
	article {
		padding: 0 15px;
	    flex: 0 0 33.33%;
	    max-width: 33.33%;
		h4 {
			color: #444444;
			font-weight: 500;
			margin-top: 21px;
			a{
				text-decoration: none;
			}
		}
		.home-extra-detail {
			color: #888888;
			margin-top: 11px;
		}
		p {
			line-height: 24px;
		    margin-top: 20px;
		    max-height: 71px;
    		overflow: hidden;
    		margin-bottom: 7px;
		}
		.hb-readmore {
			text-transform: uppercase;
			color: #666;
			position: relative;
			padding-left: 53px;
			display: block;
			text-decoration: none;
			&:before{
				content: "";
				background: #4285f4;
				height: 3px;
				margin-top: 0;
				margin-left: 0;
				position: absolute;
				width: 45px;
				top: 12px;
    			left: 0;
			}
		}

		.home-blog-thumb {
			display: block;
			position: relative;
			&:before{
				position: absolute;
			    top: 0;
			    left: 0;
			    bottom: 0;
			    right: 0;
			    content: "";
			    border: 1px solid transparent;
			    transition: all .3s ease-out 0s;
			    -webkit-transition: all .3s ease-out 0s;
			}

			img {
				width: 100%;
			}
		}
		&:hover{
			.home-blog-thumb {
				&:before{
				    top: 20px;
				    left: 20px;
				    bottom: 20px;
				    right: 20px;
				    border: 1px solid #fff;
				}
			}
			h4 {
				a{
					color: #4285f4;
				}
			}
		}
	}
}