.vc-pcontact-info {
	text-align: center;
	margin-bottom: 71px;
	.vc-pcontact-para {
		margin-top: 42px;
		margin-bottom: 38px;
		h3 {
			font-weight: 500;
			color: #444;
			line-height: 24px;
			margin-bottom: 26px;
		}
		p {
			color: #444444;
			line-height: 24px;
		}
	}

	ul {
		display: flex;
		margin: 0;
		padding: 0;
		list-style: none;
		li{
			display: flex;
			flex: 0 0 0 25%;
			width: 25%;
			i {
				font-size: 36px;
				margin-right: 30px;
			}

			.cinfo-lists {
				text-align: left;
				h5 {
					font-weight: 500;
					text-transform: uppercase;
					color: #444444;
					margin-bottom: 21px;
				}
				p {
					margin-bottom: 4px;
					color: #666666;
				}
			}

			.cinfo-description {

			}
		}
	}
}