.vc-getto-blog {
	display: flex;
	margin: 0 -15px;

	@include media-breakpoint-down(md) {
		flex-wrap: wrap;
	}
	    
	.getblog-item {
		position: relative;
		flex: 0 0 50%;
		padding: 0 15px 130px;

		@include media-breakpoint-down(md) {
			flex: 0 0 100%;
			margin-bottom: 45px;
		}
		a {
			display: block;
		}
	    img {
	    	min-height: 280px;

	    	@include media-breakpoint-down(md) {
				min-height: inherit;
	    	}
	    }
		.bg-getblog-item {
		    background: #fdfdfd;
		    margin: 0 39px;
		    position: absolute;
		    bottom: 0px;
		    padding: 15px 18px;
		    min-height: 180px;
		    left: 0;
    		right: 0;

		    h3 {
		    	color: #444444;
		    	font-weight: 600;
		    	margin-bottom: 18px;
		    	a {
		    		line-height: 24px;
		    		text-decoration: none;
		    	}
		    }

		    p {
		    	line-height: 24px;
		    	margin-bottom: 2px;
		    }
			a.learn-more {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
}