.vc-getto-info {
	margin-top: 44px;
	.vc-getto-para {
		@include media-breakpoint-down(md) {
			width: 100%;
		}
		width: 55%;
		margin: 0 auto 54px;
		text-align: center;
		h3 {
			color: #444;
			text-transform: uppercase;
			font-weight: 600;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
    	justify-content: center;
    	@include media-breakpoint-down(md) {
			flex-wrap: wrap;
    	}
		li {
			text-align: center;
			flex: 0 0 33.33%;

			@include media-breakpoint-down(md) {
				flex: 0 0 100%;
				margin-bottom: 40px;
			}
			h2 {
				line-height: 24px;
				color: #444444;
				margin-bottom: 2px;
			}
			h4 {
				line-height: 24px;
				color: #444444;
			}
			.vc-getto-icon {
				display: flex;
			    justify-content: center;
			    align-items: center;
				margin: 0 auto;
				background: #4285f4;
				color: #fff;
				border: 3px solid #c6dafc;
				border-radius: 3px;
				width: 74px;
				font-size: 30px;
				height: 74px;
				margin-bottom: 30px;
				@include media-breakpoint-down(md) {
					margin-bottom: 25px;
				}
			}
		}
	}
}