#home-box {
	margin-top: 30px;
	.vc-im-wrapper {
		background-color: #f4f4f4;
		background-size: contain;
		padding: 47px 0 79px 29px;
		background-repeat: no-repeat;
		background-position: bottom right;
	}
	h4 {
		color: #444444;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	.vc-im-sales {
		color: #4285f4;
		font-size: 37.16px;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 41px;
	}
	h5 {
		margin-top: 4px;
		color: #666666;
		line-height: 23px;
	}
	.btn-shop-now {
	    display: inline-block;
	    margin-top: 13px;
		border: 1px solid #4285f4;
		border-radius: 3px;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 500;
	    height: 29px;
	    line-height: 27px;
	    padding: 0 9px;

	    &:hover {
	    	background-color: #4285f4;
	    	color: #fff;
	    }
	}
}