  h2.vc-heading-title {
    color: #444444;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }
.vc-leadership {
  margin-top: 55px;
  margin-bottom: 60px;
  .vc-leadership-lists {
    display: flex;
    margin: 0 -15px;

    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
    }
    .vc-leadership-item {
      flex: 0 0 25%;
      padding: 0 15px;


      @include media-breakpoint-down(md) {
        flex: 0 0 100%;
        margin-bottom: 95px;
      }
      
      .vc-leadership-wrap {
        position: relative;
        .vc-leadership-overlay {
          position: absolute;
          top: 80px;
          left: 0;
          right: 0;
          bottom: 0;
          height: 100%;
          opacity: 0;
          -webkit-transition: all .7s;
          -o-transition: all .7s;
          transition: all .7s;
          -webkit-border-radius: 3px;
          p {
            line-height: 24px;
            color: #ffffff;
          }
          &:before {
            content:"";
            display: block;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.67);
          }

          .vc-leadership-overlay-wrap {
            position: relative;
            z-index: 999;
            padding: 23px 15px 26px 23px;
            .vc-leadership-social {
              a {
                color: #fff;
                text-decoration: none;
              }
            }
          }
        }
        img {
          width: 100%;
          border: 1px solid #cccccc;
        }
      }

      .vc-leadership-info {
        position: absolute;
        left: 30px;
        right: 30px;
        bottom: -33px;
        text-align: center;
        padding: 15px 0;
        h4 {
          line-height: 24px;
          color: #fff;
          margin-bottom: 2px;
        }
        p {
          line-height: 24px;
          color: #fff;
          margin-bottom: 0;
        }
      }
      &:hover {
        .vc-leadership-overlay {
          top: 0;
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
