.vc-map-iframe {
	iframe {
		width: 100%;
		position: relative;
    	z-index: 999;
	}

	.vc-map-wrap {
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 7px;
	    .container {
	    	height: 100%;
	    }
	}

	.vc-map-cf {
		background: rgba(86, 94, 104, 0.90);
		float: right;
		padding: 0px 30px;
		font-size: 25px;
		max-width: 370px;
		height: 100%;
		position: relative;
		z-index: 999;
		display: flex;
		align-items: center;
		h3 {
		    color: #fff;
		    text-align: center;
		    line-height: 24px;
		    margin-bottom: 19px;
		}
		p{
			margin-bottom: 0;
			color: #fff;
			line-height: 26px;
		}
		input[type="text"], input[type="email"]{
		    background: #fff;
		    opacity: 1;
		    border-radius: 5px;
		    padding-left: 15px;
		    width: 100%;
		    height: 40px;
		}

		textarea{
 			padding-left: 15px;
		}


		.contact-desc {
			margin-bottom: 31px;
		}

		.contact-frm {
			p {
				margin-bottom: 15px;
			}
		}

		.wpcf7-submit {
			width: 100%;
			border: 0;
			line-height: 24px;
			padding: 13px 0 11px;
			border-radius: 5px;
			margin-top: 7px;
			font-weight: 600;
		}
		.wpcf7-response-output {
			font-size: 14px;
			margin: 0;
			padding: 10px 0;
			text-align: center;
			color: #fff;
		}
	}
}

#contact-map {
	.wpb_column {
		display: none;
	}
}