.nb-fw.our_team {
	display: flex;
		.profile-item{
			position: relative;
			flex: 0 0 25%;
			padding: 0 15px;
			img {
				width: 100%;
			}
			    &:hover .content {
			    top: 0;
			    visibility: visible;
			    opacity: 1;
			}
		    .author{
			    position: relative;
			    text-align: center;
			    }
		    .ms-team-info {
			    position: absolute;
			    padding: 15px 0;
			    z-index: 11;
			    width: 90%;
			    bottom: -50px;
			    left: 50%;
			    -webkit-transform: translateX(-50%);
			    transform: translateX(-50%);
			    background: #f8981d;

			    .name{
			    	font-size: 16px;
				    line-height: 24px;
				    color: #fff;
				    font-weight: bold;
				    text-transform: capitalize;
				    margin: 0 0 2px 0;
			    }
			    .job{
				    font-size: 14px;
				    line-height: 24px;
				    color: #f9e1c3;
				    margin: 0;
				}
			}
			.content{
				    position: absolute;
				    z-index: 10;
				    width: 100%;
				    height: 100%;
				    top: -80px;
				    left: 0;
				    padding: 20px;
				    text-align: left;
				    background: rgba(41,53,68,.9);
				    visibility: hidden;
				    opacity: 0;
				    -webkit-transition: all .7s;
				    transition: all .7s;
				    border-radius: 3px;
				    font-size: 14px;
				    line-height: 24px;
				    color: #999;
				    .ourteam-social-share{
				    	margin-top: 15px;
				    	 i {
				    	 	margin-right: 10px;
						    font-size: 16px;
						    color: #999;
						}
				    }
				}
		}
	}