.vc-printshop-ourservices{
    margin: 41px -15px 0;
	.our-services-box{
	    padding-right: 15px;
	    padding-left: 15px;
		.our-services-child {
			background-color: #fafaf7;
			h4 {
				font-size: 18px;
				font-weight: 500;
				color: #444444;
				margin-bottom: 8px;
			}
			p{
				font-size: 14.21px;
				font-weight: 400;
				color: #666666;
				margin-bottom: 0;
				max-height: 19px;
    			overflow: hidden;
			}
			> a {
				position: relative;
				display: block;
				text-decoration: none;
				&:before {
					position: absolute;
				    top: 0;
				    left: 0;
				    bottom: 0;
				    right: 0;
				    content: "";
				    border: 1px solid transparent;
				    transition: all 0.3s ease-out 0s;
				    -webkit-transition: all 0.3s ease-out 0s;
				}
			}
			.left-our-services {
				padding: 12px 0 14px 15px;
			}

			&:hover {
				a{
					color: #4285f4;
					text-decoration: none;
					&:before {
					    top: 20px;
					    left: 20px;
					    bottom: 20px;
					    right: 20px;
					    border: 1px solid #fff;
					}
				}
			}
		}
	}
}

