#how-we {
	background-repeat: no-repeat;
	background-position: center;
	.vc_column-inner {
		padding-top: 0;
	}
}
.ib-shape {
	.icon {
	    text-align: center;
	    line-height: 80px;

	    -webkit-transition: all .5s;
	    -moz-transition: all .5s;
	    -ms-transition: all .5s;
	    -o-transition: all .5s;

		position: relative;
		width: 70px;
    	height: 69px;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		-moz-background-clip: padding;
		-webkit-background-clip: padding-box;
		background-clip: padding-box;

		&:before{
			content: '';
		    position: absolute;
		    opacity: 0;
		    top: -10px;
		    left: -10px;
		    right: -10px;
		    bottom: -10px;
		    -webkit-border-radius: 50%;
		    -moz-border-radius: 50%;
		    border-radius: 50%;
		    -moz-background-clip: padding;
		    -webkit-background-clip: padding-box;
		    background-clip: padding-box;
		    -webkit-transition: all .5s;
		    -moz-transition: all .5s;
		    -ms-transition: all .5s;
		    -o-transition: all .5s;
		    background-color: #3d80ef;
		}

		i{
			font-size: 34px;
		    -webkit-transition: all .5s;
		    -moz-transition: all .5s;
		    -ms-transition: all .5s;
		    -o-transition: all .5s;
		}

	}
}
.vc-printshop-step {
	.vc-printshop-step-wrapper{
	
		.vc-printshop-step-content {
			margin-top: 93px;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	    display: flex;
	    flex-direction: column;
		li {
			display: flex;
			position: relative;
			margin-bottom: 40px;
			align-items: center;


			// &:before {
			// 	font-family: 'printcart-ico';
			//     background-color: #4285f4;
			//     content: "\e902";
			//     position: absolute;
			//     left: 0px;
			//     top: 0;
			//     width: 70px;
			//     height: 69px;
			//     text-align: center;
			//     vertical-align: middle;
			//     color: #fff;
			//     border-radius: 100%;
			//     line-height: 66px;
			//     font-size: 34px;
			// }
			h4 {
				color: #444444;
				font-weight: 600;
				margin-bottom: 10px;
			}
			p {
				color: #666666;
				line-height: 24px;
				margin-bottom: 0;
			}
			.ib-content {
				padding-left: 30px;
			}
			&:hover {
				.icon {
				    &:before{
				    	opacity: 1;
						top: 0;
					    left: 0;
					    right: 0;
					    bottom: 0;
				    }
				    i {
				    	display: inline-block;
					    line-height: 65px;
					    position: relative;
				    }
				}
			}
		}
	}
}