/* timeline-simple */
ul.timeline{
margin: 0; padding: 0;
}
.nb-fw.timeline_simple{
  position: relative;
  margin: 27px 0 0 !important;
    padding: 0 !important;
    list-style: none !important;content: '';
    display: inline-block;
    clear: both; width: 100%;
}
.nb-fw.timeline_simple .timeline-bar{
      left: 50%;    z-index: 1;
    content: '';
    display: block !important;
    position: absolute;
    top: 30px;
    bottom: 0;    
    border: 1px dashed #d6d6d6;
}
.nb-fw.timeline_simple .timeline-items{
      z-index: 3;
    clear: both;
    width: 100%;
    float: left;
    position: relative;
    margin-bottom: 60px;
    list-style: none !important;
}
.nb-fw.timeline_simple .timeline-major {
    
    box-shadow: 0 0 1px 6px #f8f8f8;
    border-radius: 50%;
    line-height: 58px;
    float: none;
    margin: 0 auto;
    display: table;
    clear: both;
    width: 66px;
        height: 66px;
    top: 50%;
    text-align: center;    font-size: 16px;
    color: #fefefe;
    font-weight: bold;
    text-align: center;
    border: 3px solid #c2d4f3;
}
.nb-fw.timeline_simple .timeline-events {
    width: 43%;
    float: left;
    text-align: left;position: relative;
    
}
.nb-fw.timeline_simple .timeline-events:before {
    position: absolute;
    content: '';
    width: 78px;
    height: 1px;
    background: #ccc;
    top: 20px;
    
    z-index: 1;
}
.nb-fw.timeline_simple .timeline-events.item-left:before{right: -78px;}
.nb-fw.timeline_simple .timeline-events:after {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 50%;
  border: 5px solid #999999;
  box-shadow: 0 0 0 3px #fff;
  top: 20px;
  margin-top: -7px;
  z-index: 2;
}
.nb-fw.timeline_simple .timeline-events.item-left:after{
  right: -90px;
}
.nb-fw.timeline_simple .timeline-events.item-right{float: right;} 
.nb-fw.timeline_simple .timeline-events.item-right:before{
  left: -78px;
}
.nb-fw.timeline_simple .timeline-events.item-right:after { left: -87px; }
.nb-fw.timeline_simple .timeline-end { background-color: #c9c9c9; color: #fff; box-shadow: 0 0 1px 6px #f8f8f8; border-radius: 4px; padding: 15px; float: none; margin: 0 auto; display: table; clear: both; width: 200px; text-align: center; }
.timeline-events .avatar { width: 30%; float: left; margin: 0; }
.timeline-events { background: #fff; border: 1px solid #cecece; border-radius: 2px; box-shadow: 0 0 5px #cecece; padding: 20px; }
.timeline-events .avatar img { border-radius: 50%; }
.timeline-events .content { width: 70%; float: left; padding-left: 20px; }

@media (max-width: 991px) {
  .timeline-events .avatar, .timeline-events .content{width: 100%;}
  .timeline-events .avatar{
    text-align: center; margin-bottom: 15px;
    img{width: 60%;}
  }
  .timeline-events .content{padding-left: 0;}
  .timeline-events{padding: 10px;}
}
@media (max-width: 767px) {
  .nb-fw.timeline_simple .timeline-events{width: 100%;}
  .nb-fw.timeline_simple .timeline-events:before,.nb-fw.timeline_simple .timeline-events:after{content: none;}
}
@media (min-width: 768px) and (max-width: 991px) {
  .nb-fw.timeline_simple .timeline-events.item-left:before {
      right: -50px;
  }
  .nb-fw.timeline_simple .timeline-events:before{width: 50px;}
  .nb-fw.timeline_simple .timeline-events.item-left:after {
    right: -59px;
  }
  .nb-fw.timeline_simple .timeline-events.item-right:before {
    left: -50px;
  }
  .nb-fw.timeline_simple .timeline-events.item-right:after {
    left: -54px;
  }
}
/* cat-icon */
.nb-fw.cat-icon{  
  .owl-nav {
        .owl-prev,.owl-next {
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          background: transparent;
          padding: 8px 5px;
          i{
            font-size: 24px;color: #000;
          }
          &:hover{
            background: #f90;
            i{
              color: #fff;              
            }
          }
        }    
        .owl-next {
            right: 0px;
        }
        .owl-prev {
            left: 0px;       
        }
  }  
  .cat-item{
    i{
      font-size: 19px;
      margin-bottom: 5px;
    }
    a{
      text-transform: uppercase;
      color: #394351;
      font-weight: 400;
    }    
  }
}

.timeline_simple {
  h2 {
    color: #444444;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
  }
}

.timeline-major-wrapper {
      font-weight: 300;
}