.sticky {
	display: block;
}

.hentry {
	margin: 0;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-summary {
	margin: 30px 0;
}

.page-links {
	clear: both;
	margin: 0 0 30px;
}

.page {
	.page-left-sidebar {
		@include media-breakpoint-up(lg) {
			order: 2;
		}
	}
}