.wc-range-slider.asRange {
	width: 100%;
	height: 1px;
    background-color: #232f3e;
	.asRange-pointer {
		top: -3px;
		background: #232f3e;
		&:before,
		&:after {
			background: #232f3e;
		}
	}
	.asRange-selected {
		height: 1px;
		background-color: #232f3e;
	}
}

.wc-action-filter {
	display: flex;
	margin-top: 28px;
	justify-content: space-between;
	.wcrs-price-show {
	    display: flex;
	    justify-items: center;
	    align-items: center;
	    line-height: 18px;
    	color: #666666;
    	font-size: 14px;
    	.wcrs-price-show-from {
    		margin-left: 5px;
    		margin-right: 5px;
    	}
    	.wcrs-price-show-to {
    		margin-left: 3px;
    	}
	}
	.button {
		font-size: 14px;
		border-radius: 5px;
		padding: 5px 20px;
	}
}
.woocommerce {
	.widget_printshop_price_slider_widget {
		h3 {
			margin-bottom: 28px;
		}
	}
}


.wcrs-price {
	display: flex;
	margin-top: 25px;
	> span {
		display: flex;
		flex: 0 0 20%;
    	max-width: 20%;
    	justify-content: center;
    	align-items: center;
    	color: #293544;
    	font-size: 14px;
	}
	.wcrs-price-input {
		display: flex;
		flex: 0 0 40%;
    	max-width: 40%;
    	font-size: 14px;
	}
	input {
		border: 1px solid #cccccc;
		border-radius: 5px;
		width: 100%;
		text-align: center;
		font-size: 14px;
	}

	.wcrs-price-input {
		span {
		    align-items: center;
		    display: flex;
		    color: #293544;
    		font-size: 14px;
    		margin-right: 5px;
		}
	}
}