.widget.widget_printshop_pcat_widget {
	ul {
		li {
			display: flex;
			justify-content: space-between;
			border-bottom: 0 !important;
			margin-bottom: 0;
			margin-bottom: 0;
			padding: 5px 0;
			a {
				line-height: 18px;
			}
			span {
				color: #666666;
			}
		}
	}
}
div.products .product .product-action.horizontal_fix_wl .button.compare.added:before{
	color:#fff;
}