.widget {
	.widget-post-lists {
		li {
			display: flex;
			border-bottom: 0 !important;
			margin-bottom: 12px;
			> a{
				flex-basis: 70px;
				min-width: 70px;
			}

			.wpl-info {
				padding-left: 15px;
				h6 {
					margin: 0 0px 9px;
					padding: 0;
					line-height: 18px;
					a{
						text-decoration: none;
					}
				}

				p{
					font-size: 12.63px;
					line-height: 20px;
					color: #888888;
				}
			}
		}
	}
}