.site-footer {
	.footer-bot-section {
		.widget {
			.widget-title {
				&.default {
					font-weight: bolder;
					border-bottom: none;
					&:after {
						display: none;
					}
				}
				&.border_right {
					border-bottom: none;
					&:after {
						display: none;
					}
					span {
						height: 4px;
						width: 75px;
						display: inline-block;
						margin-left: 20px;
					}
				}
			}
		}
	}
}