@font-face {
  font-family: 'fontello';
  src: url("../fonts/fontello.eot?hy8mm4");
  src: url("../fonts/fontello.eot?hy8mm4#iefix") format("embedded-opentype"), url("../fonts/fontello.ttf?hy8mm4") format("truetype"), url("../fonts/fontello.woff?hy8mm4") format("woff"), url("../fonts/fontello.svg?hy8mm4#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontello' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
  content: "\d101";
}

.icon-close:before {
  content: "\d102";
}

.icon-contact:before {
  content: "\d103";
}

.icon-fb:before {
  content: "\d104";
}

.icon-in:before {
  content: "\d105";
}

.icon-question:before {
  content: "\d106";
}

.icon-right:before {
  content: "\d107";
}

.icon-tw:before {
  content: "\d108";
}

.icon-user:before {
  content: "\d109";
}

.icon-view:before {
  content: "\d110";
}

.icon-commitment:before {
  content: "\d111";
}

.icon-delivery:before {
  content: "\d112";
}

.icon-membership:before {
  content: "\d113";
}

.icon-money:before {
  content: "\d114";
}

.icon-apply:before {
  content: "\d115";
}

.icon-instant:before {
  content: "\d116";
}

.icon-based:before {
  content: "\d117";
}

.icon-stargift:before {
  content: "\d118";
}

/* responsive header */
@media (min-width: 1613px) {
  .site-header .middle-section-wrap {
    padding: 0px 100px !important;
  }

  .header-custom-list .main-navigation {
    margin: 0px 50px !important;
  }

  .header-custom-list .minicart-header,
  .header-custom-list .help-center,
  .header-custom-list .customer-action {
    margin-left: 60px !important;
  }

  .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary {
    height: 55px !important;
  }
}
@media (max-width: 1400px) {
  .site-header .middle-section-wrap {
    padding: 0px 15px !important;
  }

  .header-custom-list .minicart-header,
  .header-custom-list .help-center,
  .header-custom-list .customer-action {
    margin-left: 35px !important;
  }

  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
    padding-left: 15px !important;
  }

  .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary {
    height: 55px !important;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
    padding-left: 0px !important;
  }

  .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary {
    padding: 0px 10px;
  }

  .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary {
    height: 55px !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-logo img {
    width: auto !important;
    height: 70px;
    margin-top: 5px;
  }

  .header-6 .middle-right-content {
    margin-right: 0px;
  }

  .header-custom-list .minicart-header,
  .header-custom-list .help-center,
  .header-custom-list .customer-action {
    margin-left: 15px !important;
  }

  .header-6 .middle-right-content {
    margin-top: 15px !important;
  }

  .header-6 .middle-section-wrap form#nbt-ajax-search {
    margin-top: 25px !important;
  }

  .header-6 .middle-section-wrap form#nbt-ajax-search .actions button {
    top: 30px !important;
  }

  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
    padding-left: 0px !important;
  }

  .header-6 .bot-section-wrap nav#site-navigation ul#mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    font-size: 12px !important;
  }

  .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary {
    height: 55px !important;
  }
}
@media (max-width: 991px) {
  .main-navigation .icon-menu {
    position: fixed;
    top: 30px;
    left: 15px;
  }

  .header-6 .logo-header .main-logo {
    margin-top: 15px;
  }

  .header-6 .main-logo img {
    height: 70px;
  }

  .header-6 .middle-section-wrap form#nbt-ajax-search {
    margin-top: 0px !important;
  }

  .header-6 .middle-section-wrap form#nbt-ajax-search .actions button {
    top: 5px !important;
  }

  .header-6 .header-custom-list .middle-right-content {
    position: fixed;
    top: 35px;
    right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }

  .header-6 .middle-right-content {
    margin-right: 0px;
  }

  .middle-right-content .contact-us,
  .middle-right-content .help-center,
  .middle-right-content .customer-action {
    display: none !important;
  }

  .middle-right-content .section-toggle {
    width: auto !important;
    padding-top: 0px;
  }

  .middle-right-content .section-toggle p {
    margin-bottom: 0px;
  }

  .middle-right-content .minicart-header .text {
    display: none;
  }

  .bot-section-wrap > div.container-fluid {
    height: auto !important;
  }

  .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary {
    display: block !important;
    height: inherit !important;
  }

  .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
    margin-top: 0px !important;
  }

  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
    max-width: 100% !important;
  }

  .header-6 .bot-section-wrap nav#site-navigation ul#mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    padding: 10px 20px;
  }

  #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
    padding-left: 0px !important;
  }
}
@media (max-width: 767px) {
  .bot-section-wrap > div.container-fluid {
    height: auto !important;
  }

  .middle-right-content .section-toggle {
    display: none;
  }

  .header-custom-list .minicart-header {
    margin-left: 15px !important;
  }

  .site-header .middle-section-wrap {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 100;
  }

  .main-navigation .icon-menu {
    position: fixed;
    z-index: 100;
  }

  .slider-home {
    margin-top: 150px;
  }
}
.bot-section-wrap > div.container-fluid {
  display: block !important;
  width: auto !important;
  height: 74px;
}

.header-custom-list .middle-right-content {
  float: none !important;
}

.header-6 .middle-right-content {
  margin-top: 44px;
  display: flex;
  justify-content: flex-end;
  margin-right: -30px;
}

.caret {
  bottom: 25% !important;
}

#rev_slider_2_1_wrapper .ares.tp-rightarrow .tp-title-wrap,
#rev_slider_2_1_wrapper .ares.tparrows .tp-title-wrap {
  display: none;
}

.infobox-home > .vc_column_container > .vc_column-inner {
  padding: 0px 10px !important;
  margin: 20px 0px !important;
}
.infobox-home > .vc_column_container > .vc_column-inner .wpb_wrapper .aio-icon-component {
  margin-bottom: 0px !important;
}
.infobox-home > .vc_column_container > .vc_column-inner .wpb_wrapper .aio-icon-component .aio-ibd-block .aio-icon-description > p {
  display: none;
}

.aio-icon-box.left-icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
@media (max-width: 767px) {
  .aio-icon-box.left-icon {
    justify-content: center;
  }
}

.review-io-top .wpb_column {
  float: none;
  text-align: center;
}
.review-io-top .vc_column_container > .vc_column-inner {
  padding: 0px !important;
}
.review-io-top .wpb_content_element {
  margin: 0px;
}
.review-io-top #badge-ribbon {
  text-align: center;
  display: inline-block;
}

.block-banner {
  margin-top: 20px;
}

.business-cards-block .vc_row-has-fill > .vc_column_container > .vc_column-inner {
  padding: 0px;
}
.business-cards-block .wpb_raw_html {
  margin: 0px;
  float: right;
  padding-right: 75px;
}
@media (max-width: 767px) {
  .business-cards-block .wpb_raw_html {
    padding-right: 0px;
  }
}
.business-cards-block .box-business-cards {
  max-width: 528px;
  width: 100%;
  padding: 45px;
  background: #fff;
}
@media (max-width: 1199px) {
  .business-cards-block .box-business-cards {
    padding: 25px;
  }
}
.business-cards-block .box-business-cards h3 {
  font-size: 22px;
  font-weight: 500;
  color: #060606;
  margin-bottom: 15px;
}
.business-cards-block .box-business-cards p {
  color: #2B2B2B;
  font-size: 14px;
  font-weight: 500;
}
.business-cards-block .box-business-cards a {
  background-color: #8BBA72;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 54px;
  max-width: 305px;
  width: 100%;
  border-radius: 4px;
  color: #FAFFFF;
  font-size: 16px;
  font-weight: 700;
  border: 1px solid transparent;
}
.business-cards-block .box-business-cards a:hover {
  text-decoration: none;
  color: #ffff;
}

.block-our-rewards {
  padding-top: 50px;
  padding-bottom: 15px;
}
.block-our-rewards .hedding-home {
  font-family: Montserrat !important;
  margin-bottom: 5px;
}
.block-our-rewards .sub-hedding-home {
  text-align: center;
  max-width: 550px;
  width: 100%;
  margin: auto;
  margin-bottom: 60px;
}
.block-our-rewards .sub-hedding-home p {
  font-size: 18px;
  font-weight: 500;
  font-family: Montserrat !important;
}
.block-our-rewards > .vc_column_container > .vc_column-inner {
  padding: 0px;
}
.block-our-rewards .aio-icon-component .align-icon {
  text-align: center;
  width: 100px;
  height: 100px;
  margin: auto;
  background: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.block-our-rewards .aio-icon-component .aio-icon-description {
  font-family: Montserrat !important;
  padding: 0px 10px;
}
.block-our-rewards .center-row {
  text-align: center;
}
.block-our-rewards .center-row a {
  font-family: Montserrat !important;
  background-color: #8bba72;
  display: inline-flex;
  width: 250px;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 10px;
  border-radius: 4px;
}

.block-print-ideas .box-print-ideas .vc_column-inner > .wpb_wrapper {
  padding-bottom: 5px;
  margin-bottom: 25px;
  transition: 0.25s;
}
.block-print-ideas .box-print-ideas .vc_column-inner > .wpb_wrapper .wpb_single_image {
  margin-bottom: 0px;
  box-shadow: none;
}
.block-print-ideas .box-print-ideas .vc_column-inner > .wpb_wrapper .wpb_text_column {
  margin-bottom: 0px;
}
.block-print-ideas .box-print-ideas .vc_column-inner > .wpb_wrapper .wpb_text_column p {
  padding: 15px 0 8px;
  text-align: center;
  color: #8BBA72;
  font: normal normal 14px/24px Montserrat;
  font-weight: 500;
  margin-bottom: 0px;
}
.block-print-ideas .box-print-ideas .vc_column-inner > .wpb_wrapper h3 a {
  font-family: Montserrat !important;
  font: normal normal bold 20px/24px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 15px;
  font-weight: 700;
}
.block-print-ideas .box-print-ideas .vc_column-inner > .wpb_wrapper:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.block-print-ideas .box-print-ideas .vc_column-inner > .wpb_wrapper:hover .wpb_single_image,
.block-print-ideas .box-print-ideas .vc_column-inner > .wpb_wrapper:hover .wpb_text_column,
.block-print-ideas .box-print-ideas .vc_column-inner > .wpb_wrapper:hover h3 {
  box-shadow: none;
}

.confix-footer .logo-wrapper-f {
  display: none;
}
.confix-footer .box-email .email-footer {
  display: flex;
  width: 100%;
}
.confix-footer .box-email .email-footer input {
  min-height: 39px;
}
.confix-footer .box-email .email-footer input[type="email"] {
  min-width: 410px;
  border-radius: 5px 0px 0px 5px;
  padding: 6px 15px;
}
.confix-footer .box-email .email-footer input[type="submit"] {
  min-width: 145px;
  border-radius: 0px 5px 5px 0px;
  padding: 6px 15px;
  background: #CB9067;
  opacity: 0.7;
  border: none;
  font-weight: bold;
  font-family: Montserrat !important;
  height: 39px;
}
.confix-footer .box-email .email-footer input[type="submit"]:hover {
  opacity: 1;
}
.confix-footer .box-email > p {
  font-weight: normal !important;
}
.confix-footer .box-email > p .wpcf7-list-item {
  margin: 0px;
}
.confix-footer .box-email > p label {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.confix-footer .box-email > p label input[type="checkbox"] {
  border-radius: 5px;
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.confix-footer .box-email > p label .wpcf7-list-item-label span {
  color: #8BBA72;
  text-decoration: underline;
}
.confix-footer .footer-top-section .container {
  border-bottom: 1px solid #fff;
}
.confix-footer .footer-top-section p {
  color: #fff !important;
  font-weight: 500;
  font-size: 16px;
  padding: 3px 0;
}
.confix-footer .footer-top-section p.text-email {
  text-align: right;
}
.confix-footer .footer-bot-section .widget .widget-title {
  border-bottom: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
  font-weight: bold !important;
}
.confix-footer .footer-bot-section .widget .widget-title::after {
  display: none;
}
.confix-footer .footer-bot-section .widget ul li a {
  padding-left: 0px !important;
  font-weight: 500;
}
.confix-footer .footer-bot-section .widget ul li a:hover {
  text-decoration: underline;
}
.confix-footer .footer-bot-section .widget ul li a::before {
  display: none !important;
}
.confix-footer .footer-bot-section .widget.nbfw-social-links {
  margin-bottom: 0px !important;
}
.confix-footer .footer-bot-section .widget.nbfw-social-links .nbfw-social-link-widget li {
  border-radius: 50% !important;
}
.confix-footer .footer-bot-section .widget.nbfw-social-links .nbfw-social-link-widget li:last-child, .confix-footer .footer-bot-section .widget.nbfw-social-links .nbfw-social-link-widget li:nth-child(2) {
  display: none;
}
.confix-footer .footer-bot-section .widget.nbfw-social-links .nbfw-social-link-widget li:last-child {
  margin-right: 0px !important;
}
.confix-footer .footer-bot-section .widget.nbfw-social-links .nbfw-social-link-widget li:not(:last-child) {
  margin-right: 0px !important;
  margin-left: 15px !important;
}
.confix-footer .footer-abs-section {
  background-color: #496C77 !important;
  padding: 0px !important;
}
.confix-footer .footer-abs-section .container {
  padding: 24px 0;
  border-bottom: 1px solid #FFF;
}
.confix-footer .footer-abs-section .box-payments {
  display: flex;
  align-items: center;
}
.confix-footer .footer-abs-section .box-payments img {
  max-height: 25px;
  width: auto;
}
.confix-footer .footer-abs-section .box-payments .text-payments {
  min-width: 190px;
  color: #fff;
  font-size: 14px !important;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
}
.confix-footer .footer-abs-section .box-payments .text-payments img {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .confix-footer .footer-abs-section .box-payments {
    flex-direction: column;
  }
  .confix-footer .footer-abs-section .box-payments .text-payments {
    text-align: center;
  }
}
.confix-footer .footer-abs-section .box-partner {
  display: none;
  align-items: center;
}
.confix-footer .footer-abs-section .box-partner .text-partner {
  width: 150px;
  color: #fff;
  font-size: 14px !important;
  font-weight: 400;
}
.confix-footer .footer-abs-section .box-partner img {
  max-height: 45px;
  margin: 0px 5px;
}
@media (max-width: 767px) {
  .confix-footer .footer-abs-section .box-partner {
    flex-direction: column;
  }
  .confix-footer .footer-abs-section .box-partner .text-partner {
    text-align: center;
  }
}
.confix-footer .copryright {
  background-color: #496C77 !important;
  padding: 30px 0 10px;
}
.confix-footer .copryright p {
  color: #fff;
  font-size: 14px !important;
  font-weight: 500;
}
.confix-footer .copryright .text-site-maps {
  text-align: right;
  text-decoration: underline;
}
@media (min-width: 768px) {
  .confix-footer .col-20 {
    width: 20% !important;
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .confix-footer .box-email .email-footer input[type="email"] {
    min-width: inherit;
    width: 100%;
  }
  .confix-footer .footer-abs-section .box-payments img {
    max-height: 20px;
  }
  .confix-footer .footer-abs-section .box-partner img {
    max-height: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .confix-footer .box-email .email-footer input[type="email"] {
    min-width: inherit;
    width: 100%;
  }
  .confix-footer .box-email .email-footer input[type="submit"] {
    min-width: 110px;
  }
  .confix-footer .footer-bot-section .widget.nbfw-social-links .nbfw-social-link-widget li:not(:last-child) {
    margin-left: 5px !important;
  }
  .confix-footer .footer-abs-section .box-payments img {
    max-height: 20px;
  }
  .confix-footer .footer-abs-section .box-partner img {
    max-height: 30px;
  }
}
@media (max-width: 767px) {
  .confix-footer .box-email .email-footer input[type="email"] {
    min-width: inherit;
    width: 100%;
  }
  .confix-footer .box-email .email-footer input[type="submit"] {
    min-width: 110px;
  }
  .confix-footer .footer-top-section p.text-email {
    text-align: left;
  }
  .confix-footer .footer-top-section .container .row .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .confix-footer .footer-abs-section .box-payments img {
    max-height: 20px;
  }
  .confix-footer .footer-abs-section .box-partner img {
    max-height: 30px;
  }
  .confix-footer .copryright p, .confix-footer .copryright .text-site-maps {
    text-align: center;
  }
  .confix-footer .col-20 {
    width: 100% !important;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.shop-thumbnail {
  display: none;
}

.shop-action {
  margin-top: 30px;
}
.shop-action .woocommerce-ordering {
  display: none;
}
.shop-action h1 {
  display: none;
}
.shop-action h1.overwrite-title {
  line-height: inherit !important;
  display: block;
  width: 100%;
  text-align: center;
  overflow: hidden;
  margin-bottom: 15px;
  text-transform: capitalize;
  font-size: 25px !important;
  font-weight: 700;
  color: #000;
}
.shop-action > p {
  max-width: 800px;
  margin: auto;
  text-align: center;
  display: block;
  font-size: 14px !important;
}
.shop-action #badge-ribbon {
  margin: auto !important;
  margin-top: 15px !important;
}

.shop-main .products .product p {
  margin-top: 0px;
  padding: 0px 15px 0px 15px;
}
.shop-main .products .product .product-title {
  padding: 10px 15px 0px 15px;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
.shop-main .products .product:hover .product-image {
  box-shadow: none !important;
}
.shop-main .products .pt-product-meta {
  background: #eee;
  border: 2px solid transparent;
}
.shop-main .products .pt-product-meta:hover {
  border: 2px solid #51bc49;
}
.shop-main .products .pt-product-meta .price, .shop-main .products .pt-product-meta .star-rating {
  display: none;
}
.shop-main .products .pt-product-meta .product-image {
  transition: 0.25s;
}
.shop-main .products .pt-product-meta .product-image .product-action {
  display: none;
}
.shop-main .products .pt-product-meta .product-image i {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #E2632C;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #fff;
  visibility: hidden;
}
.shop-main .products .pt-product-meta:hover .product-image i {
  visibility: visible;
}

/*# sourceMappingURL=custom-home.css.map */
