
.img-logo a img{
	width:300px;
}
.nbo-fields-wrapper .nbd-option-field{
	line-height:unset;
	border:unset;
	display:flex;
	margin-bottom:unset;
}
 .nbd-option-field .nbd-field-content{
	width:100%;
	 padding: 10px;
}
.nbd-field-header .nbd-help-tip{
	display:none;
}
.nbd-option-field .nbd-field-header{
	background:none;
	width:300px;
}

..nbo-delivery-date-selector.active, .nbo-delivery-date-selector:hover{
	background:#017cc0 !important;
}
.nbd-xlabel-wrap input:checked + label{
	border:2px solid #017cc0;
	    border-radius: 3px !important;
}
.nbd-xlabel-value-inner .nbd-xlabel{
	height:80%;
	border-radius:0px;
}
 .nbo-delivery-wrapper table tbody .nbo-delivery-wrapper table tbody .ng-scope .nbo-delivery-date-selector:hover {
    background: #4cb747 ;
    color: #fff;
}
.ng-scope .nbo-delivery-date-selector.active,.ng-scope .nbo-delivery-date-selector:hover{
	    background: #3082c4!important;
    color: #fff!important;
}
.ng-scope .nbo-delivery-date-selector:last-child:hover {
    background: #4cb747!important;
    color: #fff!important;
}
.nbd-option-wrapper .nbo-fields-wrapper .nbo-delivery.ng-scope .nbo-delivery-date-selector:last-child.active{
	    background: #4cb747 !important;
    color: #fff;
}

.nbo-delivery-wrapper table tr:last-child th:last-child {
	background: #4cb747;
	
}
.nbo-delivery-wrapper table tr:last-child th:last-child .nbo-delivery-date-wrap .nbo-delivery-date-title{
	font-weight:800;
}
.nbo-fields-wrapper .nbo-delivery.ng-scope .nbo-delivery-wrapper table td:last-child{
	  border: 2px solid #4cb747 ;
		
}
.nbo-delivery-wrapper table tr td{
		height: 100%;
    padding: 20px 0; 
	  width: 155px;
}
tr.ng-scope {
    border-bottom: 2px solid #EEE;
}
.product-image>span.price {
    display: none;
}
.product-image .star-rating {
	display: none !important;
}
.woocommerce-product-details__short-description{
    display: none !important;
}
.nbt-oupload-body{
    border:none;
}
.woocommerce-product-rating{
	display:none !important;
}
.product_meta{
	display:none !important;
}
.ibenic_upload_form{
    display:none !important;
}
.header-1 .bot-section-wrap {
    border-top:unset;
}
#mega-menu-wrap-primary{
	background: unset;
}

.actions .btn-searchbox{
	  background-color: #4267b2;
}
.middle-section-wrap .middle-right-content .customer-action:before{
	color:#fff;
}

.middle-section-wrap .middle-right-content .minicart-header .show-cart:after{
	color:#fff;
}
.nbd-field-header label{
	font-weight:inherit !important;
}
.nbd-field-header{
	font-weight:inherit !important;
}
.nbo-delivery-custom-quantity{
	display:none;
}
.nbo-clear-option-wrap{
	display:none;
}
.nbo-delivery{
	padding-bottom:50px;
}
.nb-quantity.style-1{
	display:none;
}
.atc-notice-sinple{
	display:none;
}
.single-product .single_add_to_cart_button{
	width:100%;
	height:48px;
	background-color:#4cb747;
	border: none;
	text-transform: capitalize;
	font-size: 20px;
  font-weight: 500;
}
.nbd-action-wrap .nbdesign-button{
	background-color: #3082c4;
}
.nbd-action-wrap .nbdesign-button svg{
	display:none;   
}
.text-right .nbd-action-wrap{
    margin: 0 3px;
    width: 60%;
}
.text-right .nbd-action-wrap .nbdesign-button {
    width: 100%;
    text-align: center;
}
.text-right .nbd-action-wrap .nbdesign-button span{
	text-transform: capitalize;
	font-size:20px;
	font-weight: bolder;
}
.colorDefinition{
	color:unset !important;
}
.cdn_hldr{
	background:unset;
	border:unset;
}
.product-fixed{
	display: flex;
	padding-top: 20px;
  padding-bottom: 20px;
	justify-content: flex-end;
}
.product-fixed div{
	display: flex;
	padding-top:10px;
}
.product-fixed-add-container {
	display: flex;
	z-index: 1001;
	background-color: #eee;
	border-top: 1px solid #ccc;
	position: fixed;
	bottom: 0px;
	width: 100%;
	left: 0px;
}
.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}
.product_configurator .product_total-price {
    padding-top: 0;
    text-align: right;
}
strong.bold {
    font-weight: 700;
	margin-top:4px;
}
.f-16 {
    font-size: 20px!important;
}
.mr-2 {
    margin-right: 20px;
}
strong {
    font-weight: 500;
}
.f-18 {
    font-size: 18px!important;
}
.txt-heavy {
    font-weight: 700;
	margin-top:4px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.product_configurator .product_total-price {
    padding-top: 0;
    text-align: right;
	display:block;
}
.f-12 {
    font-size: 12px!important;
}
.txt-heavy {
    font-weight: 700;
	color:#000;
}
.w-50-px {
    width: 50px!important;
}
.ml-1 {
    margin-left: 10px!important;
}
span.f-16.mr-2.bold {
    margin-top: 10px;
}
.text-right {
     padding-top: 22px;
	text-align:left;
}
.btn-add-to-basket.small, .btn-added-to-basket.small {
    font-size: 20px;
   	width:400px;
	text-transform:capitalize;
}
.btn-add-to-basket, .btn-added-to-basket {
    padding: 10px;
    font-weight: 500;
    font-size: 18px;
}
.btn-orange, .btn-orange:focus {
    color: #fff;
}
.btn-orange {
    background-color: #4cb747!important;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.single-product h1.product_title{
    line-height: 40px;
    font-weight:500 !important;
    margin: 0 0 10px !important;
    font-size: 36px;
		font-family:Segoe Ui !important;
}

.single-product-wrap .entry-summary .price{
	display:none !important;
}
.custorm_price{
		display: flex !important;
    margin-top: 20px !important;
    justify-content: flex-end;
}
.nbo-base-price-html{
	font-size:30px;
	padding-right: 15px;
}
.nbtwccs_price_code{
	float:right;
	    font-size: 30px;
}
.single-product-wrap .price ins span{
	    font-size: 28px;
}
.fastest  {
    background-color: #4cb747;
    border-radius: 2px 0 2px 2px;

	 padding:14px;
	 display:flex;
	 justify-content:center;
}
.change_color  {
    background-color:  #3082c4
;
    border-radius: 2px 0 2px 2px;

	 padding:14px;
	 display:flex;
	 justify-content:center;
}
.del_service-date .production-start-date {
    color: #fff;
    font-size: 18px;
	font-weight:700;
}
.orderBy{
	color:#fff;
	padding-right:10px;

	font-size:18px;
}

.nbo-delivery-icon-wrap .nbo-delivery-qty{
	background: unset;
	height: auto;
	line-height: inherit;
	font-weight:400;
	font-size:14px;
}
.nbo-delivery-date-title{
	font-weight:400;
	font-size:14px !important;
}
.nbo-delivery .nbo-delivery-wrapper table thead tr th{
	padding:20px 0px;
	border-top:none;
	border-left:none;
	border-right:none;
	background:#EEE;
	border:none;
	}  
.nbo-delivery .nbo-delivery-wrapper table tbody tr th{
	   position: relative;
    background-clip: padding-box;
    text-align: center;
	background:#EEE;
	border:none;
	width:24.5%;
	}
.nbo-delivery-wrapper table{
	border-collapse:inherit;
	margin:0px;
}
.nbo-delivery .nbo-delivery-wrapper table th:last-child{
	border-right:none;
	color:#fff;
	padding-right:15px;
}
.nbo-delivery-wrapper table thead tr{
	  display: table;
    width: 100%;
    table-layout: fixed;
}
.nbo-delivery-wrapper table tbody{
  display: block;
  overflow-y: scroll;
	max-width:auto;
	height:340px;
}  

.nbdesigner_frontend_container .nbd-actions-wrap{
	display:block;
}
.single-product-wrap .nbdesigner_frontend_container .nbdesign-button{
	width:100%;
	text-align:center;
}
 .single_add_to_cart_button{
	display:none;
}
#startUpload{
	display:none;
}
#startDesign{
	display:none;
}
.shop-main.left-thumb .woocommerce-product-gallery__wrapper{
	flex-direction: row-reverse;
}

@media (min-width: 1200px)
{
	.product .container{
    width: 1400px;
    max-width: 100%;
}
}

.site-content main.shop-main.left-thumb .woocommerce-product-gallery__wrapper .thumb-gallery{
	max-width:12%;
}
.nbo-delivery-wrapper table tbody::-webkit-scrollbar{
	-webkit-appearance: none;
    width: 12px;
    background: #6d6d6d;
    border-radius: 20px;
}
.nbo-delivery-wrapper table tbody::-webkit-scrollbar-thumb{
	    background-color: #fff;
    -webkit-box-shadow: none;
    border-radius: 20px;
    border: 3px solid #6d6d6d;
}
.single-product-wrap .product-image {
    width: 100%;
    padding-right: 50px;
}
.shop-main.left-images .entry-summary{
	padding-left:50px;
}
.bg-gray-canny {
    background-color: #EEECED;
}
.position-relative {
    position: relative;
	  text-align: center;
    margin-bottom: 10px;
    padding: 12px;
}
.text-dark a{
	color: #23527c;
    text-decoration: underline;
	margin-left:12px;
}
}
.px-1 {
    padding-left: 10px;
    padding-right: 10px;
}
.f-14 {
    font-size: 14px;
}
.txt-bold {
    font-weight: 500;
}
.text-dark {
    color: #4a4a4a;
}
.mb-0 {
    margin-bottom: 0;
}
.nbtwccs_price_code .woocommerce-Price-amount{
	color:#000000;
}
.nbd-option-field .nbd-field-header{
	padding:0px;
	padding-top:12px;
	width: 250px;
}
.nbd-xlabel-wrapper .nbd-xlabel-wrap{
	    padding-left: 10px;
    padding-bottom: 0;
	width: 33.33333% ;
	margin:0px;
	position:relative;

}
.woocommerce-product-gallery figure{
	margin: 1em -20px;
}
.nb-page-title .woocommerce-breadcrumb:hover{
	color: #4285f4;
	text-decoration:underline;
}
.nb-page-title-wrap .nb-page-title .woocommerce-breadcrumb a:hover{

	text-decoration:unset !important;
}
.swiper-container-horizontal:hover::after{
	background-image:url('https://thirdsdesign.netbaseteam.com/demo_printcart/wp-content/uploads/2022/07/search-plus-512.png') ;
	    content: '';
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
	opacity:0.5;
	background-size:150px;
	background-repeat: no-repeat;
	background-position:center;
	background-color:#989898b0;
	z-index: 99;
    top: 0;
}

.site-content .nb-page-title-wrap{
	padding-bottom:0px;
	margin-bottom:0px;
}
.shop-main.left-thumb .woocommerce-product-gallery__wrapper .thumb-gallery .swiper-wrapper{
	transform: inherit !important;
    padding-top: 100%;
}
.site-content .shop-main .swiper-button-prev{
	transform: rotate(90deg);
	  position: absolute;
    top: 6%;
    width: 27px;
    height: 44px;
    margin-left:10px;
    z-index: 10;
    cursor: pointer;
    background-size: 12px 46px;
    background-position: center;
    background-repeat: no-repeat;
}
.site-content .shop-main .swiper-button-next{
	position: absolute;
	transform: rotate(90deg);
    top: 80%;
    width: 27px;
    height: 44px;
    margin-top: -42px;
	
	margin-right: 25px;
    z-index: 10;
    cursor: pointer;
    background-size: 12px 46px;
    background-position: center;
    background-repeat: no-repeat;
}
.nbd-option-field.folded .nbd-field-content{
	 padding: 10px 10px 10px 0;
}
.folded_text{
	text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 10px;
    font-size: 13px;
	font-weight:500;
	color:#337ab7;
	position: absolute;
    top: 65%;
    left: 15%;
}
.nbd-field-content .nbd-xlabel-wrap input:checked + label:after{
	  position: absolute;
    width: 30px;
    height: 30px;
    background: #4cb747;
    top: 2px;
    right: -13px;
    z-index: 2;
		border:none;
	    right: 2px;
    left: inherit;
	filter:inherit;
	border-radius: 50%;
}
.nbd-xlabel-value{
	z-index:5;
	overflow:hidden;
}
.fa-check{
	position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    color:#544949;
    font-size: 18px;
}
.nbd-xlabel-value-inner .nbd-xlabel:hover{
	box-shadow:inherit;
}
label.nbd-xlabel.ng-isolate-scope{
	border:2px solid #aeb7bc;
}
.nbo-delivery .nbo-delivery-wrapper table thead tr th:first-child{
	padding-left: 34px;
}
.nbo-delivery-date-inner .nbo-delivery-date-title{
	margin-bottom:0;
	padding-left:10px;
}
.nbo-delivery .nbo-delivery-wrapper table thead tr th:nth-child(2){
	padding-left:32px;
}
.__nbd-dropdown-wrap .nbo-dropdown{
	background-image:url(https://thirdsdesign.netbaseteam.com/demo_printcart/wp-content/uploads/2022/07/down.png);
	background-size:14px;
	background-position-x: calc(100% - 20px);
	border: 1px solid #ccc;
	line-height: inherit;
	
}
.nbo-delivery-date-wrap{
	position:relative;
}
.nbo-delivery-wrapper table tr:last-child th:last-child .nbo-delivery-date-wrap .nbo-delivery-date-inner .nbo-delivery-date-title:before{
	content:'';
	background-image:url(https://thirdsdesign.netbaseteam.com/demo_printcart/wp-content/uploads/2022/07/fastest.png);
	position:absolute;
	position: absolute;
    width: 15px;
    height: 10px;
    top: 6px;
    left: 30px;
}
.product .single-product-wrap .product-image .thumb-gallery .swiper-slide.swiper-slide-active img{
	border:none;
	border-bottom: 1px solid #00adef;
}
.nbd-option-wrapper.ng-scope .nbo-delivery{
	padding-bottom:0px
}

.related_products{
	padding-left:25px;
	margin-top:50px;
	margin-bottom:50px;
}
.single-product .related span.related_text{
		font-weight: 800;
    font-size: 20px;
    color: #000;
		margin-bottom:20px;
}
.related_products .pt-product-meta .price{
	display:none;
}
.related_products .pt-product-meta .product-excerpt{
	display:none;
}
.products.related_products .product .product-title{
	margin-top:10px;
	margin-bottom:0px;
}
.shop-main.related-4-columns .related .product{
	width:33%;
}
.single-product-wrap .related_products  .product-image{
	padding-right:inherit;
	border-right:unset;
}
.woocommerce .products.related_products .product{
	padding-left:0px;
	padding-right:0px;
}
.products.related_products  .product .product-action.horizontal{
	display:none;
}
.related_products img.attachment-printcart-masonry.size-printcart-masonry.wp-post-image{
	height:200px;
	max-width: 170%;
  width: 170%;
}
.products.related_products .product .product-title a{
	font-size: 16px;
  color: rgb(66,133,244);
}
.products.related_products .product .product-title{
	text-align: center;
  margin-right: 38px;
}
.nbo-delivery-date2{
	display:none;
}
.nbo-delivery-date{
	display:none;
}
.single-product .single-product-wrap{
	margin-bottom:0px;
}
.product-image p.product-excerpt {
    font-size: 16px;
}
.single-product .woocommerce-product-gallery{
	background-color:rgb(230,231,233);
}
.product-page-width{
        width:100%;
        display:inline-flex;
    }
    .product-selling-point{
        width:20%;
    }
    .product-selling-point div{
    padding-top:15px;
        max-width: 160px;
        margin: auto;
    }
        .product_information{
           
            margin-top: 30px;

        }

        .tabcontent{
            background-color:#efedee;
            padding:60px;
            border-radius:0 2px 2px
            
        }
        .tablinks{
            border:none;
            margin: 5px 5px 5px 5px;
            padding: 5px 5px 5px 5px;
            width: 200px;
            text-transform: capitalize;
        }
        .tablinks.active{
            border-bottom: 5px solid #efedee;
            margin: unset;
            text-transform: capitalize;
        }
        .product_information-content h2{
            margin: auto;
            padding: inherit;

            font-size: 26px;
            color:#000;
        }
        .product_information-content p{
            margin: auto;
            padding: inherit;
  
            font-size: 14px;
            color:#000;
        }
        .product_information .tabcontent .product_info-image{
            width:100%;
            background:0 0
        }
        .product_information .tabcontent .product_information-content h2{
            margin:0 0 20px;
            font-weight:500;
            margin: auto;
            padding: inherit;

            font-size: 26px;
            color:#000;
        }
        .product_information .tabcontent .product_information-content h3{
            font-weight:300
        }
        .product_information .tabcontent .product_information-content ul{
            list-style:none
        }
        .product_information .tabcontent .product_information-content ul li{
            position:relative;
            padding-left:20px;
            margin-bottom:10px
        }
        .product_information .tabcontent .product_information-content ul li:before{
            content:"";
            display:block;
            position:absolute;
            left:-15px;
            top:5px;
            width:7px;
            height:7px;
            background-color:#5d5d5d;
            border-radius:2px;
            border:1px solid #5d5d5d
        }
        .artwork-guide-accordion,.artwork-template-accordion{
            border-top:1px solid #ccc
        }
        .artwork-guide-accordion .artwork-guide-heading-accordion,.artwork-guide-accordion .artwork-template-heading-accordion,.artwork-template-accordion .artwork-guide-heading-accordion,.artwork-template-accordion .artwork-template-heading-accordion{
            display:block;
            padding:10px 25px;
            color:#017cc0;
            cursor:pointer
        }
        .artwork-guide-accordion .artwork-guide-accordion-content,.artwork-guide-accordion .artwork-template-accordion-content,.artwork-template-accordion .artwork-guide-accordion-content,.artwork-template-accordion .artwork-template-accordion-content{
            display:none;
            padding:0 25px 5px
        }
        .artwork-guide-accordion .artwork-guide-accordion-content.show,.artwork-guide-accordion .artwork-template-accordion-content.show,.artwork-template-accordion .artwork-guide-accordion-content.show,.artwork-template-accordion .artwork-template-accordion-content.show{
            display:block
        }
        .artwork-guide-accordion .artwork-guide-accordion-content .product-tpl-list,.artwork-guide-accordion .artwork-template-accordion-content .product-tpl-list,.artwork-template-accordion .artwork-guide-accordion-content .product-tpl-list,.artwork-template-accordion .artwork-template-accordion-content .product-tpl-list{
            padding:0
        }
        .need-a-template{
            border-bottom:1px solid #ccc;
        }
        .need-a-template .wrapper-need-a-template{
            display:flex;
            align-items:center
        }
        .need-a-template .wrapper-need-a-template .need-a-template-heading{
            display:block;
            padding:10px 25px;
            color:#017cc0;
            cursor:pointer;
            max-width:200px
        }
        .need-a-template .wrapper-need-a-template .button-container .btn-need-a-template{
            background:#ededed;
            border:0;
            padding:10px 25px;
            color:#017cc0;
            cursor:pointer;
            max-width:180px;
            word-break:break-word;
            overflow:hidden;
            white-space:normal
        }
        .need-a-template .wrapper-need-a-template .button-container .img-logo{
            max-width:75px
        }
        .tab-content>.tab-pane {
            display: none;
        }
        .tab-content>.active {
            display: block;
        }
        .product-page_left{
            padding-top: 30px;
        }
        .nbdg-guideline-wrap{
            display: none;
        }
        .artwork-guide-accordion-content{
            display: none;
        }
@media (max-width:1024px){
	.nbd-xlabel-wrap .folded_text {
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 500;
    color: #337ab7;
    position: absolute;
    top: 52%;
    left: 15%;
    -webkit-box-orient: vertical;
    width: 60px;
    line-height: 1.2;
    display: -webkit-box;
	}
	.Icon-inner-container{
		width:88%;
	}
	.card-content{
		    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
	}
}
@media (max-width:990px){
	.product .single-product-wrap{
		display:block;
	}
}
@media (max-width:1200px){
            .need-a-template .wrapper-need-a-template{
                display:block
            }
            .need-a-template .wrapper-need-a-template .need-a-template-heading{
                max-width:initial
            }
            .need-a-template .wrapper-need-a-template .button-container{
                padding-left:25px
            }
        }
        @media (max-width:991px){
            .need-a-template .wrapper-need-a-template{
                display:flex
            }
            .need-a-template .wrapper-need-a-template .button-container{
                padding-left:0
            }
        }
        .artwork-template-accordion .artwork-template-accordion-content,.need-a-template .artwork-template-content{
            padding:0 25px 10px
        }
        @media (max-width:600px){
            .need-a-template .wrapper-need-a-template{
                display:block
            }
            .need-a-template .wrapper-need-a-template .button-container{
                text-align:center
            }
        }
        .artwork-template-accordion{
            border-bottom:1px solid #ccc
        }
        .product-selling-point{
            text-align:center
        }
        .product-selling-point img{
            width: 80px;
            height: 70px;
            display:block;
            margin:auto
        }
        .product-selling-point strong{
        font-size:16px;
        font-weight:700;
            margin:10px auto
        }
        .product-selling-point p{
            max-width:90%;
            margin:auto
        }
        .canva-selling-products .product-selling-point img{
            max-height:100px;
            max-width:100px
        }
        @media (max-width:767px){
            .product_information .carousel .carousel-control{
                height:50px;
                background:#a2a2a2;
                padding:5px;
                opacity:1;
                text-shadow:none
            }
            .product_information .carousel .carousel-control:hover{
                opacity:1
            }
            .product_information .carousel .carousel-title{
                background:#EEE;
                padding:15px 0;
                text-align:center;
                margin:0 45px
            }
            .product_information .carousel ::-webkit-scrollbar{
                -webkit-appearance:none
            }
            .product_information .carousel ::-webkit-scrollbar:vertical{
                width:12px
            }
            .product_information .carousel ::-webkit-scrollbar-thumb{
                background-color:rgba(0,0,0,.5);
                border-radius:10px;
                border:2px solid #fff
            }
            .product_information .carousel ::-webkit-scrollbar-track{
                border-radius:10px;
                background-color:#EEE
            }
            .product_information .carousel .carousel-details{
                max-height:300px;
                background:#EEE;
                margin-top:5px;
                padding:10px;
                overflow-y:scroll;
                overflow-x:hidden
            }
            .tabcontent.active{
                display: block;
            }
        }

      .footer_date{
        color:#000000;
          font-weight: 700;
          font-size: 20px;
        margin-right: 10px;
      }