.main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item{
	position: unset;
	}
	#mega-menu-wrap-primary {
	background: unset;
	display: inline-flex;
	max-width: 100%;
	width: auto;
	position: relative;
	}
	#mega-menu-item-2916:hover .dropdown-menu{
	display: flex;
	max-width: 100%;
	width: 100%;
	flex-wrap: wrap;
	flex-direction: column;
	}
	.dropdown-menu{

	top: 90%;
	left: 0;
	max-height: 600px;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	font-size: 14px;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
	transition: height 0s,visibility 0s .2s,opacity .3s .5s ease-in;
	overflow-y: scroll;
	overflow-x: scroll;
	position: absolute;
	}
	.hidden-xs.w-20{
	padding: 2px;
	min-width: 20%;
	}
	.hidden-xs .nav_main-2-link{
	margin: 0 5px;	
	}
	.nav_main-2-link .mega-sub-cat-heading{
	color: #FAFFFF;
	padding: 5px;
	background-color: #1B4353;
	font-size: 14px;
	font-weight: 700;
	width: 230px;
	}
	.nav_main-level-3{
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
	}
	.mega-menu-item:hover .dropdown-menu {
	display: block;
	opacity: 1;
	z-index: 999;
	}
	.nav_sub-3-link a{
	padding-top:5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: normal;
	word-break: break-word;
	width: 215px !important;
	}
	.nav_sub-3-link a:hover{
	color: #faffff;
	background-color: #1B4353;
	padding: 5px;
	}
	.nav_sub_menu_category{
            top: 90%;
		    left: 0;
		    max-height: 600px;
		    z-index: 1000;
		    display: none;
		    float: left;
		    min-width: 160px;
		    padding: 5px 0;
		    margin: 2px 0 0;
		    font-size: 14px;
		    text-align: left;
		    list-style: none;
		    background-color: #fff;
		    background-clip: padding-box;
		    border: 1px solid rgba(0,0,0,.15);
		    border-radius: 4px;
		    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
		    transition: height 0s,visibility 0s .2s,opacity .3s .5s ease-in;
		    position: absolute;
		    width: 100%;
		    height:550px;
        }
        .mega-menu-item:hover .nav_sub_menu_category{
            display:block;
        }
        div.menu-content.main-menu-style-2{
            width: 25%;
            border-right: dotted;
        }
        .menu-sub-category-item{
            width: 100%;
        }
        .menu-content-top.menu-content-sub-category {
            display: inline-flex;
            flex-direction: column;
            width:100%;
        }
        .menu-sub-category-products-parent{
            display:none;
            position: absolute;
            left: 335px;
            width: max-content;
            list-style-type: none;
            top: 0;
        }
        li.sub-category-menu {
            list-style: none;
            display: flex;
            width: 100%;
            
            min-height: 0;
        }
        li.sub-category-menu a{
            transition: 0s;
            justify-content: left;
            display: flex;
            align-items: center;
            padding: 0;
            margin: 0;
            border: 0;
            color: #1B4353;
            font-weight: 700;
            font-size: 14px;
            width:100%;
        }
        .menu-sub-category-product:hover{
                background-color: #1B4353;
               
        }
        .menu-sub-category-product:hover a{
            color:#fff;
        }
       
    	li.sub-category-menu a:hover ul{
    	    display:block;
    	}
        a.sub-category-title-link:hover{
            color: #faffff;
            background-color: #1B4353;
            width:100%;
        }
        a.sub-category-title-link:hover .sub-category-title{
            color: #faffff;
            background-color: #1B4353;
            width:100%;
            margin:0;
        }
        a.sub-category-title-link .sub-category-title{
            padding-left: 10px;
            padding-right: 10px;
            margin:0;
        }
        .menu-content-top.menu-content-sub-category{position:relative;}
        .show{display:block!important}
        .bot-section-wrap a, .bot-section-wrap span, .bot-section-wrap i, .bot-section-wrap div{max-width: 100%;
    width: max-content;}
    
    
    //header
    
