
.acf-tab-wrap{
  .acf-tab-button{
    border-color: #e5e5e5;
    font-size: 12px;
    padding: 5px 25px;
  }
}

.acf-tab_group-show{
  overflow: hidden;
  p.label{
      padding-right: 20px;
      width: 200px;
      float: left;
  }
}
.field_type-image_select{ overflow: hidden;}
#acf-nbcore_archive_page_layout,
#acf-nbcore_archive_layout,
#acf-nbcore_number_of_column_desktop,
#acf-nbcore_number_of_column_tablet,
#acf-nbcore_number_of_column_mobile,
#acf-nbcore_archive_post_per_page,
#acf-nbcore_post_per_related,
#acf-nbcore_archive_title_style,
#acf-nbcore_archive_page_nav_style,
#acf-nbcore_archive_show_post_summary,
#acf-nbcore_show_post_thumbnail,
#acf-nbcore_show_post_Meta,
#acf-nbcore_archive_background_color,
#acf-nbcore_archive_background_image{
  overflow: hidden;
  margin-bottom: 20px;
  &>label{
    width: 200px;
    float: left;
  }
  .acf-image-select-list{
    float: left;
  }
}

.acf-image-select-list{
  margin-top: 0;
  float: right;
  width: calc( 100% - 220px );
}
.acf_postbox{
  .field select, .field .textarea{
    margin-top: 0;
    float: right;
    width: calc( 100% - 224px );
  }
}
.acf_postbox .field_type-sidebar_selector select{
      float: none !important;
      width: 100% !important;
}
ul.acf-radio-list.vertical{
    float: left;
    line-height: 2em;
}
.acf-youtubepicker-field{
  width: calc( 100% - 224px) !important;
}

// Video
.embed_wrap {
  position: relative;
  overflow: hidden;
  height: 0;
  -webkit-overflow-scrolling:touch; //<<--- THIS IS THE KEY
  border: solid black 1px;
  float: none;
  padding:15%;
}

/* 16x9 Aspect Ratio */
.embed_wrap-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.embed_wrap-4x3 {
  padding-bottom: 75%;
}

.embed_wrap iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}