.main-navigation {

    .icon-menu {

        border: 0;
        background: transparent;
        margin-top: 10px;
        margin-left: 20px;
        display: none;


        @include media-breakpoint-down(md) {
            margin-left: auto;
            margin-right: auto;
            padding: 0;
            display: block;
            margin-top: 8px;
            margin-bottom: 9px;
        }

        &:before {
            font-family: 'printcart-ico';
            content: "\f0c9";
            font-size: 30px;
            color: #000;
        }
    }

    .menu-main-menu-wrap {

        @include media-breakpoint-down(md) {
            position: fixed;
            left: -100%;
            top: 0px;
            bottom: 0px;
            padding: 50px 0px 0px;
            width: 300px;
            z-index: 9999;
            overflow: auto;
            transition: all .5s ease-in-out;
            background: #222;
            color: #eee;
        }

        .menu-main-menu-title {
            display: none;
            border-bottom: solid 2px #444;
            padding: 0 20px;
            margin-bottom: 20px;
            position: relative;

            h3 {
                color: #fff;
            }

            @include media-breakpoint-down(md) {
                display: block;
            }

            .icon-cancel-circle {
                &:before {
                    font-family: 'printcart-ico';
                    content: "\a912";
                }

                position: absolute;
                top: 0;
                right: 15px;
                font-size: 22px;
                color: #eee;
                @include opacity(0.7);
                &:hover{
                    @include opacity(1);
                }
            }
        }

        #mega-menu-wrap-primary {

            .mega-menu-toggle {

                display: none;
            }

            #mega-menu-primary {
                
                @include media-breakpoint-down(md) {
                    display: block;

                    > li.mega-menu-item {
                        
                        > a.mega-menu-link {

                            border-bottom: solid 1px #444;
                            line-height: 45px;
                            height: 45px;
                            color: #fff;
                            border-bottom: solid 1px #444;
                            border-top: 0 !important;
                        }
                    }

                    > li.mega-menu-flyout {

                        ul.mega-sub-menu {
                            background: #222;
                            border-bottom: solid 1px #444;
                            padding: 0;
                            width: 300px !important;
                            border-right: 0;
                            border-left: 0;
                            border-top: 0 !important;

                            li.mega-menu-item {

                                a.mega-menu-link {
                                    background: #222;
                                    color: #fff;
                                    border-bottom: solid 1px #444;
                                }

                            }
                        }
                    }
                }

                height: auto !important;

                > li.mega-menu-item {

                    margin-right: 20px;

                    @include media-breakpoint-down(md) {
                        margin-right: 0px;
                    }

                    &.mega-current-menu-item,
                    &.mega-current-menu-ancestor,
                    &.mega-current-page-ancestor {

                        > a.mega-menu-link {

                            background: transparent;
                            color: #444;
                            font-weight: 500;
                        }
                    }

                    > a.mega-menu-link {

                        background: transparent;
                        color: #444;
                        font-weight: 500;       
                    }

                    &:hover {

                        > a.mega-menu-link {

                            color: #40c7ff;
                        }
                    }

                    &:first-child {
                        > a.mega-menu-link {

                            @include media-breakpoint-up(lg) {
                                padding-left: 0;
                            }
                        }
                    }
                }

                > li.mega-menu-flyout {

                    ul.mega-sub-menu {

                        background: #fff;
                        border: solid 1px #ededed;
                        padding: 0;
                        min-width: 180px;
                        width: auto;

                        > li.mega-menu-item {

                            > a.mega-menu-link {

                                background: #fff;
                                padding: 0 20px;
                                border-bottom: solid 1px #e1e1e1;
                                white-space: nowrap;
                                line-height: 42px;
                                height: 42px;
                                font-weight: 500;
                                
                                &:hover, &:focus {
                                    color: #40c7ff;
                                    background: none;
                                }

                            }

                            > ul.mega-sub-menu {

                            }

                            &:last-child {

                                > a.mega-menu-link {
                                    border-bottom: none;
                                    
                                }
                            }

                        }
                        
                    }
                }

                > li.mega-menu-megamenu {

                    > ul.mega-sub-menu {
                        background: #ffffff;
                        width: 1140px;
                        left: 15px;
                        border: solid 1px #ededed;
                        padding: 15px;
                        left: 0;
                        @include media-breakpoint-only(lg) {
                            width: 930px;
                        }

                        @include media-breakpoint-down(md) {
                            width: 300px !important;
                            padding: 0;
                            border-left: none;
                            border-right: none;
                        }


                        li.mega-mm-online-design {

                            @include media-breakpoint-down(md) {

                                li.mega-menu-column {

                                    width: 100%;

                                    > ul.mega-sub-menu {

                                        > li.mega-menu-item {

                                            .product-online-desginer ul li {

                                                flex: 0 0 100%;
                                                max-width: 100%;
                                            }
                                        }
                                    }
                                }
                            }
                            
                        }
                    }
                }
                li.mega-menu-item li.mega-menu-item-has-children > a.mega-menu-link:after {
                    content: '\f107';
                    font-family: 'printcart-ico';
                }
            }
        }

        #mega-menu-wrap-primary #mega-menu-primary a.mega-menu-link .mega-description-group .mega-menu-description {
            display: none;
        }
        
        #mega-menu-wrap-primary #mega-menu-primary a.mega-menu-link .mega-description-group .mega-menu-title {
            @include media-breakpoint-down(md) {
                color: #fff;
            }
        }
    }
}
