.paging-navigation, .woocommerce-pagination {
	text-align: center;
	a:hover {
	    text-decoration: none;
	}
	.page-numbers {
		margin-right: 5px;
	}
	&.pagination-style-1 {
		.page-numbers {
			&:not(.next) {
				display: inline-block;
				width: 36px;
				height: 36px;
				line-height: 36px;
			}
		}
		.current {
			border: 1px solid;
			border-radius: 50%;
		}
		.next {
			display: inline-block;
			padding: 5px;
		}
	}
	&.pagination-style-2 {

		.page-numbers:not(.dots) {
			box-shadow: inset 0 0 0 transparent, 0 0.1em 0.45em 0 rgba(0,0,0,0.25);
			border-radius: 2px;
			// &:not(.dots), &:not(.next), &:not(.prev) {
			// 	padding: 5px 12px;
			// }
			// &.next, &.prev {
			// 	padding: 5px 7px;
			// }

			&.current {
				color: #fff;
			}
		}
		.page-numbers {
			&.dots {
				margin-right: 5px;
			}

			width: 36px;
			height: 36px;
			line-height: 36px;
			display: inline-block;
		}
	}
}
.paging-navigation{
	margin-bottom:30px;
}