.section-header {
    display:flex;
	justify-content: space-between;
}
.section-header p{
	font-size: 14px;
    font-weight: 700;
}
.delivery-selection table .nbo-delivery-icon-wrap {
    width: 120px;
    border-top: 1px solid transparent;
    border-left: none;
    border-bottom: none;
}
.delivery-selection table td, .delivery-selection table th {
    padding: 0;
    text-align: center;
    background: transparent;
    vertical-align: middle;
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 27px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #3082c4;
}
.slider {
  background-color: #3082c4;
}
input:focus + .slider {
  box-shadow: 0 0 1px #3082c4;
}

input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}
span.slider.round:after {
    content: "OFF";
    position: absolute;
    top: 2px;
    left: 28px;
    font-size: 14px;
    color: #fff;
}
input:checked + span.slider.round:after{
    content: "ON";
    position: absolute;
    top: 2px;
    left: 5px;
    font-size: 14px;
    color: #fff;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.nbo-delivery-wrapper,.nbo-delivery-short-wrap {
  display: none !important;
}
.nbo-delivery-wrapper.active,.nbo-delivery-short-wrap.active{
  display: block !important;
}
.nbo-delivery-date-selectorr {
  cursor: pointer;
}
.delivery-selection t .nbo-delivery-date-selectorr.active, .nbo-delivery-date-selectorr:hover{
  background: #3082c4 !important;
  color: #fff !important;
}

.switch-vat {
  position: relative;
  display: inline-block;
  width: 66px;
  height: 34px;
}

.switch-vat input {display:none;}

.slider-vat {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #3082c4;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider-vat:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider-vat {
  background-color: #017cc0;
}

input:focus + .slider-vat {
  box-shadow: 0 0 1px #3082c4;
}

input:checked + .slider-vat:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(55px);
  left: -19px;
}

/*------ ADDED CSS ---------*/
.slider-vat:after
{
 content:'EXC';
 color: white;
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 72%;
 font-size: 14px;
 font-family: Verdana, sans-serif;
}

input:checked + .slider-vat:after
{  
  content:'INC';
  top: 50%;
    left: 30%;
}

/*--------- END --------*/
.section-toggle {
    display: inline-flex;
    width: 35%;
    padding-top: 12px;
}
.section-toggle p {
    font-size: 16px;
    padding: 5px 10px;
}

.nbo-delivery-short-wrap .nbo-delivery-date-wrap {
  display: inline-block;
  width: 100%;
}
.nbo-delivery-short-wrap .nbo-delivery-date-wrap .nbo-delivery-date-inner {
  margin-top: 15px;
}
.nbo-delivery-short-wrap .nbo-delivery-date-wrap .radio {
  background-color: #fff;
  width: 25px;
  height: 25px;
  min-height: 1px;
  margin: 8px auto;
  border: 1px solid #9c9c9c;
  border-radius: 15px;
  padding: 2px 12px;
}
.nbo-delivery-short-wrap .radio .fa.fa-check {
  color: #95c43e;
  position: relative;
  top: 0;
  left: 0;
}
.nbo-delivery-short-wrap .nbo-delivery-date-wrap.active .radio {
    padding: 3px 4px;
}
table tbody tr th.th_custorm{
    border-bottom: 0;
    width: 30%;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
}
table tbody tr th.th_custorm .nbo-delivery-date-wrap{
    background-color: #EEE;
    color:#000;
}
.th_custorm .nbo-delivery-date-wrap .nbo-delivery-date-title{
    font-size: 18px !important ;
    font-weight: bold;
    padding-bottom: 6px;
}
.nbo-delivery-date-selectorr:active,.nbo-delivery-date-selectorr:hover{
    background: #3082c4 !important;
    color: #fff !important;
}
.nbo-delivery-date-selectorr.active{
    background:#3082c4 !important;
    color: #fff !important;
}
tr th.th_custorm:last-child .nbo-delivery-date-selectorr.active{
    background: #4cb747 !important;
    color: #fff !important;
}
tr th.th_custorm:last-child .nbo-delivery-date-selectorr:active, tr th.th_custorm:last-child .nbo-delivery-date-selectorr:hover{
    background: #4cb747 !important;
    color: #fff !important;
}