@media only screen and (max-width: 991px) {
	.home {
		#primary {
			margin-bottom: 0px;
		}
	}
	.blog {
		.classic,
		.modern {
			margin-bottom: 60px;
			.post {
				.entry-title {
					white-space: inherit;
				}
			}
		}
	}
	#primary {
		margin-bottom: 30px;
	}
}
@media only screen and (max-width: 767px) {
	.entry-tags {
		flex-basis: 40%;
	}
	.single-social {
		flex-basis: 60%;
	}

	.blog{
		.classic {
			margin: 0 0 30px;
		}
		&.classic-3-columns {
			article.post{
				flex: 0 0 100%;
				max-width: 100%;
				padding: 0;
				margin-bottom: 30px;
				border-bottom: 1px solid #d7d7d7;
				padding-bottom: 30px;
				.entry-image {
					background-color: #fafaf7;
				}
				&:after {
					content: none;
					position: static;
				}
			}
		}
		&.classic-2-columns {
			article.post{
				flex: 0 0 100%;
				max-width: 100%;
				padding: 0;
				margin-bottom: 30px;
				border-bottom: 1px solid #d7d7d7;
				padding-bottom: 30px;
				.entry-image {
					background-color: #fafaf7;
				}
				&:after {
					content: none;
					position: static;
				}
			}
		}
		#primary {
			padding-left: 15px;
			margin-bottom: 0px;
		}
		#secondary {
			padding: 0 15px;
		}
	}
	
	.single-blog {
		.nb-social-icons, .entry-tags {
			text-align: center;
			& > a {
				margin-bottom: 7px;
			}
		}
	} 
}

@media only screen and (max-width: 575px) {
	#secondary {
		padding: 0 15px;
	}

	.bp-slider-wrap {
		.owl-theme .owl-nav {
			.owl-prev {
				left: 0;
			}
			.owl-next {
				right: 0;
			}
		}
	}
}
@media only screen and (max-width: 520px) {
	.single-social{
		flex-basis: 100%;
	}
}
@media only screen and (max-width: 500px) {
	.single-post {
		.comment-form > p {
			display: block;
			input[type="text"],
			input[type="email"],
			input[type="url"] {
				width: 100%;
			}

			input[type="submit"] {
				padding-left: 30px;
				padding-right: 30px;
			}
		}
		.entry-recent {
			.related-post-wrap {
				display: block;
			}
		}
	}

	.vc-getto-blog {
		.getblog-item {
			.bg-getblog-item {
				bottom: -40px;
			}
		} 
	}
}