@media only screen and (max-width: 991px) {
	.vc-pcontact-info ul{
		flex-wrap: wrap;
		margin-bottom: -30px;
		li {
			width: 50%;
			flex: 0 0 50%;
			margin-bottom: 30px;
			&:nth-child(1) {
				padding-right: 50px;
			}
		}
	}
	
}


@media only screen and (max-width: 600px) {
	.vc-pcontact-info ul{
		li {
			width: 100%;
			flex: 0 0 100%;
		}
	}

}