@media only screen and (max-width: 1199px) {
	#colophon {
		.footer-top-section {
			.footer_top_title {
				width:100%;
			}
			.col-lg-4,.col-lg-8{
				flex:0 0 50%;
				max-width:50%; 
			}
		}
		.footer-bot-section{
			.col-3{
				flex:0 0 50%;
				max-width: 50%;
			}
		}
	}
}

@media only screen and (max-width: 991px) {
	#colophon {
		.footer-top-section {
			overflow: hidden;
			.col-md-3 {
				flex: 0 0 50%;
				max-width: 50%;
				margin-bottom: 15px;
			}
			.top_left,.top_right{
				flex: 0 0 100%;
				max-width: 100%;
			}
		}

		.footer-bot-section {
			.footer-section-logo {
				p {
					width: 80%;
				}
			}
		}
		.footer-abs-section {
			.footer-abs-content {
				.footer-abs-left{
					width: 100%;
					text-align: center;
				}
				.footer-abs-right{
					display: none;
				}
			}
		}
	}
	footer.site-footer {
		.footer-top-section {
			.wrap-top{
				display: block;
				.top_left {
					.widget{
						display: block;
						text-align:center;
						margin-bottom:35px;
						.widget-title{
							margin-right:0px;
						}
					}
				}
				.top_right{
					text-align: center;
					margin-bottom:10px;
				}
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	#colophon {
		.footer-top-section {
			.footer_top_left,.footer_top_right{
				text-align: center !important;
			}
			.footer_top_right{
				.form{
					width: 100%;
				}
			}
		}
		.footer-bot-section {
			padding-bottom:15px;
			.col-3{
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	#colophon {
		.footer-top-section {
			.col-md-3 {
				flex: 0 0 100%;
				max-width: 100%;
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}
}
@media only screen and (max-width: 575px) {
	#colophon {
		.footer-bot-section {
			.footer-section-logo {
				text-align: left;
				p {
					width: 100%;

				}
			}
			.instagram{
				.instagram-pics{
					flex: 0 0 33.33333%;
					max-width: 33.33333%;
				}
			}
		}

		.footer-abs-section {
			.row {
				display: block;
				margin: 0;
			}
			.footer-abs-left {
				width: 100%;
				flex: auto;
			}
			.footer-abs-right {
				display: none;
			}
		}

	}
}

@media screen and (max-width: 345px){
	footer.site-footer {
		ul.nbfw-social-link-widget {
			li:not(:last-child){
				margin-right:13px;
			}
		}
	}
	.site-footer .footer-bot-section .widget .widget-title {
		margin-bottom: 20px;
	}
} 