.scale {
	overflow:hidden;
	img{
		transition: 0.5s;
		&:hover{
			transform: scale(1.1);
		}
	}
}

table {
	&.compare-list {
		tr.description {
			td {
				ul {
					list-style: none !important;
				}
			}
		}
	}
}

.vc-tab-product-wrapper .vc-tab-product-content.light .products .product .price del .amount, 
.vc-tab-product-wrapper .vc-tab-product-content.light .products .product .price .amount {
	font-size: 18px;
	font-weight: 400;
}
.vc-tab-product-wrapper .vc-tab-product-content.light .products .product p {
	font-size: 14px;
	font-weight: 400;
}

.effect-5 .vc_single_image-wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	-webkit-transition: all .5s linear;
	transition: all .5s linear;
}
.effect-5 .vc_single_image-wrapper:after {
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	-webkit-transition: all .5s linear;
	transition: all .5s linear;
}
.effect-5:hover .vc_single_image-wrapper:before {
	right: 50%;
	left: 50%;
	background: rgba(255, 255, 255, 0.2);
}
.effect-5:hover .vc_single_image-wrapper::after {
	top: 50%;
	bottom: 50%;
	background: rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 1200px) {
	#review_form_wrapper #review_form input {
		width: 100%;
	}
}


@media only screen and (max-width: 991px) {
	.woocommerce {
		.wishlist_table {
			td {
				&.product-add-to-cart {
					a {
						width: 100px;
					}
				} 
			}
		} 
	}
	#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
		display: list-item !important;
	}
	.product-online-desginer .pr {
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 768px) {
	body > div#page {
		overflow: hidden;
	}
	.shop_table.cart .cart_item td.product-price, .shop_table.cart .cart_item td.product-quantity {
		padding-right: 30px;
	}
	.shop_table.cart .actions input.bt-5 {
		float: right;
	}
	.mega-menu-flyout.mega-toggle-on ul.mega-sub-menu {
		position: relative !important;
	}
}

@media screen and (min-width: 768px) {
	.row-parallax {
		background-attachment: fixed;
	}
}

@media only screen and (max-width: 500px) {
	.shop_table.cart .actions input.bt-5 {
		float: unset;
	}

	.alt-heading {
		padding-left: 30px;
		padding-right: 30px;
	}
	
	.woocommerce table.wishlist_table tbody td.product-price del {
		padding: 0 50px;
	}

	.shop_table {
		&.cart {
			.cart_item {
				td {
					width: 100%;
				}
			}
		}
	}
}

@media only screen and (max-width: 320px) {
	.shop_table.cart td:before {
		position: absolute !important;
		left: 15px !important;
	}
	.shop_table.cart .product-remove {
		text-align: center;
	}
	.shop_table.cart .actions input.bt-5 {
		width: 95%;
	}
}