@media only screen and (min-width: 1367px){
	.header-2{
		.main-navigation {
			.menu-main-menu-wrap {
				#mega-menu-wrap-primary {
					#mega-menu-primary {
						> li.mega-menu-megamenu {
							> ul.mega-sub-menu{
								left:-238px;
								width:1470px;
							}
						}
					}
				}
			}
		}
	}
	.header-4{
		.main-navigation {
			.menu-main-menu-wrap {
				#mega-menu-wrap-primary {
					#mega-menu-primary {
						> li.mega-menu-megamenu {
							> ul.mega-sub-menu{
								left: -200px;
								width: 1170px;
							}
						}
					}
				}
			}
		}
	}
	.header-5{
		.main-navigation {
			.menu-main-menu-wrap {
				#mega-menu-wrap-primary {
					#mega-menu-primary {
						> li.mega-menu-megamenu {
							> ul.mega-sub-menu{
								width: 1440px;
							}
						}
					}
				}
			}
		}
	}
	.header-6{
		.main-navigation {
			.menu-main-menu-wrap {
				#mega-menu-wrap-primary {
					#mega-menu-primary {
						> li.mega-menu-megamenu {
							> ul.mega-sub-menu{
								width: 1440px;
							}
						}
					}
				}
			}
		}
	}
	.header-7{
		.main-navigation {
			.menu-main-menu-wrap {
				#mega-menu-wrap-primary {
					#mega-menu-primary {
						> li.mega-menu-megamenu {
							> ul.mega-sub-menu{
								width: 1170px;
							}
						}
					}
				}
			}
		}
	}
	.header-8{
		.main-navigation {
			.menu-main-menu-wrap {
				#mega-menu-wrap-primary {
					#mega-menu-primary {
						> li.mega-menu-megamenu {
							> ul.mega-sub-menu{
								width: 1440px;
								left:-246px;
							}
						}
					}
				}
			}
		}
	}
	.header-9{
		.main-navigation {
			.menu-main-menu-wrap {
				#mega-menu-wrap-primary {
					#mega-menu-primary {
						> li.mega-menu-megamenu {
							> ul.mega-sub-menu{
								width: 1170px;
							}
						}
					}
				}
			}
		}
	}
	.header-10{
		.main-navigation {
			.menu-main-menu-wrap {
				#mega-menu-wrap-primary {
					#mega-menu-primary {
						> li.mega-menu-megamenu {
							> ul.mega-sub-menu{
								left:-195px;
							}
						}
					}
				}
			}
		}
		#mega-menu-wrap-primary {
			#mega-menu-primary {
				> li.mega-menu-item {
					> a.mega-menu-link{
						padding:0 10px;
					}
				}
			}
		}
	}
	.header-2 .middle-section-wrap .middle-right-content .header-search-wrap.popup_content .search-form:before {
		right: 130px;
		top: 45px;
	}
	.admin-bar .header-2 .middle-section-wrap .middle-right-content .header-search-wrap.popup_content .search-form:before {
		right: 120px;
		top: 75px;
	}
}
@media only (min-width: 1024px) and (max-width: 1366px) {
	.middle-section {
		.main-navigation {
			.menu-main-menu-wrap {
				#mega-menu-wrap-primary {
					#mega-menu-primary {
						> li.mega-menu-megamenu {
							> ul.mega-sub-menu {
								left: -185px;
							}
						} 
					} 
				} 
			}
		}
	} 
	.header-9{
		.main-navigation {
			.menu-main-menu-wrap {
				#mega-menu-wrap-primary {
					#mega-menu-primary {
						> li.mega-menu-megamenu {
							> ul.mega-sub-menu{
								left:0;
							}
						}
					}
				}
			}
		}
	} 
}

@media only screen and (max-width: 1200px) {
	
	.header-1 {
		.middle-section-wrap {
			.header-searchbox-content {
				.form.minisearch{
					.field.searchbox{
						.select-cat {
							display: none;
						}

						.input-content {
							display: block;
						}
					}

					.actions {
						.btn-searchbox {
							width: 95px;
						}
					}
				}

			}
			.middle-right-content {
				.header-cart-wrap {
					margin-left: 25px;
				}
			}
		}
	}

	.header-2 {
		.left-stack2-menu {
			display: none;
		}
		.alt-header-bottom {
			display: block;
			padding-bottom: 20px;
		}
		.middle-section-wrap .middle-right-content .header-search-wrap.popup_content .search-form:before {
			right: 100px;
		}
	}
	.header-10 {
		.main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
			margin-right: 0px;
		}
	}
	.admin-bar .header-2 .middle-section-wrap .middle-right-content .header-search-wrap.popup_content .search-form:before {
		top: 75px;
	}
}


@media only screen and (max-width: 991px) {

	.main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-megamenu > ul.mega-sub-menu {
		margin-top: 0px !important;
	}

	.header-10 {
		#netbase-responsive-toggle {
			display: block;
			float: right;
		}
		.header-top-left-wrapper {
			display: none;
		}
		.header-right-cart-search {
			line-height: 50px;
			height: 50px;
			width: 125px !important;
			position: absolute;
			right: 0px;
			bottom: 0px;
		}
		.header-right-wrap-top {
			max-width: 400px;
			position: absolute;
			top: 0;
			right: 0;
			width: auto;
			z-index: 10000;
			#mega-menu-wrap-primary {
				#mega-menu-primary {
					display: block;
					list-style: none;
					padding-left: 0;
					margin-bottom: 0;
					width: 100%;
				}
			}
		}
		.middle-section-wrap {
			.middle-right-content {
				.minicart-header {
					.show-cart {
						&:before {
							right: 130px;
						}
					}
					.counter-number {
						right: 120px;
					}
				}
				.header-search-wrap {
					.search-form {
						&:before {
							position: absolute;
							right: 65px;
						}
					}
				}
			}
		}
	}
	.header-2 {
		#netbase-responsive-toggle {
			display: block;
			float: right;
		}
		.header-top-left-wrapper {
			display: none;
		}
		.header-right-cart-search {
			line-height: 50px;
			height: 50px;
			width: 125px !important;
			position: absolute;
			right: 0px;
			bottom: 0px;
		}
		.header-right-wrap-top {
			max-width: 400px;
			position: absolute;
			top: -5px;
			right: 0;
			width: auto;
			z-index: 10000;
			#mega-menu-wrap-primary {
				#mega-menu-primary {
					display: block;
					list-style: none;
					padding-left: 0;
					margin-bottom: 0;
					width: 100%;
				}
			}
		}
		.middle-section-wrap {
			.middle-right-content {
				.minicart-header {
					.show-cart {
						&:before {
							right: 130px;
							top: -45px;
						}
					}
					.counter-number {
						top: -20px;
						right: 120px;
					}
				}
				.header-search-wrap {
					.search-form {
						&:before {
							position: absolute;
							right: 75px;
						}
					}
				}
			}
		}
		.middle-section-wrap .middle-right-content .close_popup {
			top: 18%;
		}
		.middle-section-wrap .middle-right-content .header-search-wrap.popup_content .search-form {
			&:before {
				top: 85px;
			}
		}
	}
	.header-8 {
		#netbase-responsive-toggle {
			display: block;
			float: right;
		}
		.header-top-right-wrapper {
			display: none;
		}
		.header-right-cart-search {
			line-height: 50px;
			height: 50px;
			width: 125px !important;
			position: absolute;
			right: 0px;
			bottom: 0px;
		}
		.header-right-wrap-top {
			max-width: 400px;
			position: absolute;
			top: 0;
			right: 0;
			width: auto;
			z-index: 10000;
			#mega-menu-wrap-primary {
				#mega-menu-primary {
					display: block;
					list-style: none;
					padding-left: 0;
					margin-bottom: 0;
					background: #282828;
					width: 100%;
				}
			}
		}
		.middle-section-wrap {
			.middle-right-content {
				.minicart-header {
					.show-cart {
						&:before {
							right: 130px;
						}
					}
					.counter-number {
						right: 120px;
					}
				}
				.header-search-wrap {
					.search-form {
						&:before {
							position: absolute;
							right: 65px;
						}
					}
				}
			}
		}
	}
	.header-9.site-header .middle-section-wrap .search_text form {
		width: auto;
	}
	.header-2 .middle-section-wrap .middle-right-content .header-search-wrap.popup_content .search-form:before {
		top: 40px;
	}
	.admin-bar .header-2 .middle-section-wrap .middle-right-content .header-search-wrap.popup_content .search-form:before {
		top: 85px;
	}
}

@media only screen and (max-width: 767px) {
	.middle-section-wrap .middle-right-content .minicart-header .mini-cart-wrap, header.site-header .minicart-header .mini-cart-wrap {
		top: -10px !important;
		right: -15px;
		width: 310px !important;
		position: absolute;
	}
	.mini-cart-section .buttons .button {
		font-size: 11px;
		padding-left: 24px;
		padding-right: 24px;
	}
	.header-9 {
		.middle-section-wrap .middle-right-content .minicart-header .mini-cart-wrap {
			right: -28px;
		}
	}
	.header-1 {
		.top-section-wrap {
			.col-md-9 {
				max-width: 100%;
				flex: 0 0 100%;
				text-align: center;
			}

			.col-md-3 {
				display: none;
				.minicart-header {
					margin-left: 25px;
				}
			}		
		}
	}
	.header-2 {
		.minicart-header {
			margin-left: 0px;
		}
		#mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
			padding: 0 10px;
		}
		.middle-section-wrap {
			padding: 0px;
		}
	}
}



@media only screen and (max-width: 600px) {

	.site-header {
		.middle-section-wrap {
			padding: 0px;
			.middle-right-content .header-search-wrap .search-form:before {
				position: relative;
				right: 60px;
			}
		}
	}
	.header-8, .header-10 {
		.middle-section-wrap {
			.middle-right-content {
				.header-search-wrap {
					.search-form {
						&:before {
							position: absolute;
							right: 75px;
						}
					}
				}
			}
		}
	}
	.header-2 .middle-section-wrap .middle-right-content .header-search-wrap .search-form:before {
		position: absolute;
	}
}

@media only screen and (max-width: 500px) {
	
	.header-1 {
		.middle-section-wrap {
			.logo-header {
				flex: 0 0 100%;
				max-width: 100%;
			}
			> .container > .row > .col-lg-4 {
				flex: 0 0 100%;
				max-width: 100%;
			}

			.main-logo {
				margin: 0 auto 25px;
			}

			.middle-right-content {
				float: none;
				text-align: center;
				.customer-action {
					text-align: left;
				}
				.header-cart-wrap {
					text-align: left;
				}
			}
		}
	}

	.header-2 {
		.middle-section-wrap {
			.middle-right-content {
				.minicart-header {
					.show-cart {
						&:before {
							right: 100px;
						}
					}
					.counter-number {
						right: 90px;
					}
				}
			}
		}
	}

	.header-2 .middle-section-wrap .middle-right-content .header-search-wrap.popup_content .search-form:before {
		right: 60px;
	}

	.header-7.site-header .header-top .header7-top-right-wrapper .header7-top-right .customer-action {
		padding-left: 48px;
	}

}

@media only screen and (max-width: 320px) {
	.site-header .mini-cart-section .mini-cart-wrap{
		display:none;
	}
	.header-7.site-header div.search_text form{
		width: auto;
	}
}