@media only screen and (max-width: 1200px) {
	.single-product {
		.wc-single-online-desginer {
			margin-bottom: 20px;
		}
	}
	.woocommerce .woocommerce-message .wc-forward, .woocommerce-page .woocommerce-message .wc-forward {
		bottom: 5px !important;
	}
}

@media only screen and (max-width: 1024px) {
	.woocommerce .woocommerce-message .wc-forward, .woocommerce-page .woocommerce-message .wc-forward {
		display: none;
	}
}

@media only screen and (max-width: 767px) {
	.single-product {
		.single-product-wrap {
			.product-image {
				flex: 0 0 100% !important;
				max-width: 100% !important;
			}
			.entry-summary {
				padding-left: 0 !important;
				flex: 0 0 100% !important;
				max-width: 100% !important;
			}
			.wc-single-online-desginer {
				margin-top: 20px;
				padding-bottom: 20px;
			}
		}

		.woocommerce-tabs {
			.woocommerce-Tabs-panel--description {
				padding-left: 0 !important;
			}
		}

		.variations_form {
			.nbt-variations {
				display: block !important;
			}
		}

		.shop-main {
			&.wide .single-product-wrap {
				.pd-meta-left, .pd-meta-right {
					display: block;
					width: auto;
				}
			}
			&.split-reviews-form {
				#comments, #review_form_wrapper {
					padding: 0 10px 0 0;
					max-width: 100%;
					flex-basis: 100%;
					-webkit-flex-basis: 100%;
				}
			}
		}
	}

	.woocommerce-wishlist .shop_table.cart tbody .product-name {
		width: 100%;
	}
}