.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

.wp-caption .wp-caption-text {
	color: #ababab;
	font-size: .8em;
}

.entry-image img {
	max-wwidth: 100%;
}

/*--------------------------------------------------------------
# Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
# Galleries
--------------------------------------------------------------*/
@import "galleries";