.widget {
	margin: 0 0 30px;
	&:first-of-type {
		padding-top: 0;
	}
    .widget-title {
    	margin-top: 0;
	    border-bottom: 1px solid;
	    padding-bottom: 5px;
	    margin-bottom: 15px;
	    position: relative;
	    &:before {
	    	width: 60px;
		    height: 1px;
		    content: '';
		    position: absolute;
		    bottom: -1px;
	    }
    }

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
	ul {
		list-style-type: none;
		padding-left: 0;
		> li {
			&:not(:last-of-type) {
				border-bottom: 1px solid;
			}
			> a {
				display: inline-block;
			}
		}
		.children {
			padding-left: 15px;
		}
		li {
			margin-bottom: 10px;
			padding-top: 8px;
			padding-bottom: 8px
		}
	}
	tbody th, tbody td {
		border-bottom: 1px solid;
		padding-bottom: 5px;
		padding-top: 5px;
	}
	thead, tbody {
		text-align: center;
	}
	&.widget_tag_cloud {
		&:before, &:after {
			content: "";
			display: table;
		}
		&:after {
			clear: both
		}
	}
	.tagcloud a {
		float: left;
		margin: 0 10px 9px 0;
		padding: 7px 10px 8px;
		border: 1px solid;
		border-radius: 2px;
		&:hover {
			color: #fff;
		}
	}
	&.widget_nav_menu {
		.menu-item-has-children {
			position: relative;
			cursor: pointer;
			&:after {
				font-family: 'printcart-ico';
				content: '\f107';
				position: absolute;
				right: 0;
				top: 0;
			}
			&.active:after {
				content: '\f106';
			}
		}
		.sub-menu {
			display: none;
			padding-left: 15px;
		}
	}

	a:focus {
		outline: none;
	}
	table {
		caption {
			margin-bottom: 10px;
		}
	}
}

/*Custom widget*/
.nb_latest_post{
    .nb_latest_item{
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        padding-bottom: 10px;
        .nb_post_thumb{
            flex: 0 0 30%;
            padding-right: 15px;
            img{
                @include border-radius(3);
            }
        }
        .nb_post_desc{
            p{
                margin: 0;
            }
        }
        .nb_post_title{
            margin-bottom: 5px;
            > a{
                font-weight: bold;
            }
        }
    }
}

/*Filter product*/
#secondary{
	.widget{
		&.widget_price_filter {
			.ui-slider{
				position: relative;
				text-align: left;
				margin-left: .5em;
				margin-right: .5em;
				.ui-slider-range{
					position: absolute;
					z-index: 1;
					font-size: .7em;
					display: block;
					border: 0;
					border-radius: 1em;
					background-color: #000;
				}
				.ui-slider-handle{
					position: absolute;
					z-index: 2;
					width: 1em;
					height: 1em;
					background-color: #000;
					border-radius: 1em;
					cursor: ew-resize;
					outline: 0;
					top: -.3em;
					margin-left: -.5em;
				}
				&.ui-slider-horizontal {
					height:0.5em;
					margin-bottom: 1em;
					margin-top:1em;
					.ui-slider-range{
						top: 0;
    					height: 100%;
					}
				}
			}
			.price_slider_amount{
				text-align: right;
				line-height: 2.4;
				font-size: .8751em;
				.button{
					float: left;
					padding-left: 15px;
					padding-right: 15px;
					margin-right:15px;
				}
				.price_label{
					text-align:left;
				}
			}
			.price_slider_wrapper {
				.ui-widget-content{
					border-radius: 1em;
					background-color: #666;
					border: 0;
				}
			}
		}
	}
}

.dokan-store{
	#secondary{
		display:none;
	}
}