.nb-page-title-wrap {
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.nb-page-title {
  @include make-row();
  align-items: center;
  h1 {
    @include make-col-ready();
    @include media-breakpoint-up(lg) {
      @include make-col-md(8)
    }
  }
  // .woocommerce-breadcrumb {
  //   @include make-col-ready();
  //   @include media-breakpoint-up(lg) {
  //     @include make-col-md(4);
  //     text-align: right;
  //   }
  // }
}

.single-post {
  .nb-page-title {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    .entry-meta, .entry-title, .entry-cat {
      flex: 0 0 100%;
      max-width: 100%;
    }
    h1 {
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .entry-meta {
      font-size: .9em;
      text-transform: uppercase;
    }

  }
  
 	.entry-recent{
		h5.heading-title {
			text-transform: uppercase;
			color: #444;
			font-weight: 600;
		}
		.related-post-wrap {
			display: flex;
			margin: 0 -15px;
			.related-item {
				flex: 0 0 33.33%;
				padding: 0 15px;
				> a{
					display: block;
					margin-bottom: 24px;
          background: #fafaf7;
          position: relative;
          &:before{
            content:'';
            position:absolute;
            border:1px solid #fff;
            top:0;
            left:0;
            right:0;
            bottom:0;
            opacity: 0;
            transition: 0.5s;
          }
          &:hover:before{
            top:20px;
            left:20px;
            right:20px;
            bottom:20px;
            opacity:1;
          }
				}
				h5 {
					a{
						color: #444444;
						line-height: 26px;
						text-decoration: none;
						    font-weight: 500;
					}
				}
			}
		}
	}
}