.nb-wrap {
  width: 1050px;
  max-width: 100%;
  h1 {
    font-size: 42px;
    margin-bottom: 30px;
    position: relative;
    span {
      font-size: 14px;
      display: inline-block;
      background: #fff;
      padding: 0 8px;
      border-radius: 2px;
      position: absolute;
      margin-left: 10px
    }
  }
  .intro-wrap {
    margin-top: 30px;
    margin-bottom: 15px;
  }
  .intro-text {
    font-size: 17px;
  }
  .welcome-panel {
    padding: 25px 10px 30px;
  }
}

#nb-plugins {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  .item-wrap {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    position: relative;
    width: 100%;
    box-sizing: border-box;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  }
  //.plugin-meta {
  //  display: flex;
  //  border-top: 1px solid #ccc;
  //}
  //.plugin-name {
  //  margin: 0;
  //  flex: 0 0 80%;
  //  box-sizing: border-box;
  //  padding: 15px;
  //  border-right: 1px solid #ccc;
  //}
  //.plugin-version {
  //  flex: 0 0 20%;
  //  padding: 15px;
  //  box-sizing: border-box;
  //  text-align: center;
  //  background: rgba(244,244,244,.7);
  //}
  .item {
    position: relative;
    box-shadow: 0px 0px 8px 2px #ccc;
  }
  .plugin-meta {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 15px 25px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.35);
    color: #fff;
  }
  .plugin-name {
    margin: 0;
    display: inline-block;
    margin-right: 5px;
    color: #fff;
  }
}
