$cc1: #1e88e5;

@import 'control/slider';

@import 'control/radio-image';

@import 'control/switch';

@import 'control/font-type';

@import 'control/alpha-color-picker';

@import 'control/heading-control';

@import 'control/focus';

#customize-controls img {
  vertical-align: middle;
}

.customize-control {
  margin-bottom: 20px;
}

#customize-theme-controls .customize-pane-child.accordion-section-content {
  overflow: inherit
}

.customize-control-title {
  text-transform: uppercase;
  font-size: 12px;
}

.customize-control input[type="text"], .customize-control input[type="number"], .customize-control select {
  min-height: 35px;
}