.color-control-wrap {
  padding: 0;
  display: inline-flex;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.color-control-wrap .sp-replacer{
  border: 0;
  padding: 0;
}

.color-control-wrap .sp-preview {
  border: 0;
  margin: 0;
  width: 38px;
  height: 38px;
}

.sp-replacer .sp-dd {
  display: none;
}

.color-control-wrap #default {
  vertical-align: middle;
  border: 0;
  background: transparent;
  cursor: pointer;
}

.color-control-wrap #default:focus {
  outline: 0;
}

.color-control-wrap #color-placeholder, .color-control-wrap #default {
  background-color: rgba(0, 0, 0, 0.19);
  padding: 10px;
  color: #fff;
}

.color-control-wrap #color-placeholder {
  min-width: 60px;
  text-align: center;
}