.customize-control-focus {
  display: flex;
  justify-content: space-between;
}

.focus-section {
  display: inline-block;
  background: $cc1;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  &:hover {
    color: #fff;
  }
}