.customize-control-checkbox-multiple {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  input[type="checkbox"] {
    display: none;
    &.active + i {
      background: #e9e9e9;
      box-shadow: 0 0 0 1px #fff inset;
    }
  }
  > li {
    flex: 1 1 0;
    &:not(:last-child) {
      i {
        display: block;
        background: #fff;
        border: 1px solid #ccc;
        padding: 7px;
        border-radius: 3px;
        height: 19px;
        line-height: 19px;
        margin-right: 7px;
        margin-top: 1px;
      }
    }
  }
  select {
    height: 34px;
    min-width: 128px;
    border-radius: 3px;
    border-color: #ccc;
    &[name="fonts-weight"] {
      option {
        display: none;
      }
    }
  }
}

.customize-control-typography {
  .nb-select {
    margin-bottom: 15px;
    appearance:none;
    padding-left: 10px;
    &:focus {
      outline: none;
    }
  }
  .chosen-container {
    margin-bottom: 15px;
    width: 100% !important;
  }
  .chosen-single {
    border: 1px solid #ddd;
    border-radius: 0;
    padding-left: 12px;
    background: #fff;
    div {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }
  .nb-select-type-wrap, .nb-select-standard-wrap, .chosen-single {
    &:after {
      content: '\f107';
      font-family: 'fontello';
      position: absolute;
      right: 12px
    }
  }
  .nb-select-type-wrap, .nb-select-standard-wrap {
    position: relative;
    &:after {
      top: 9px;
    }
  }
  .chosen-single:after {
    top: 0;
  }
  .chosen-search {
    input {
      background: #fff;
    }
  }
  .nb-custom-fonts, .nb-select-standard-wrap, .google-fonts-wrap {
    display: none;
  }
}

.nb-custom-fonts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 15px;
  .custom-font-info {
    font-style: italic;
    background: $cc1;
    color: #fff;
    border-radius: 3px;
    padding: 3px 5px;
    text-transform: uppercase;
    font-size: 10px;
  }
  .custom-font-message {
    width: 100%;
    font-style: italic;
    display: none;
  }
  .button {
    width: 100%;
    height: 35px;
  }
}