.customize-control-heading {
  .description {
    span {
      background: $cc1;
      color: #fff;
      border-radius: 3px;
      padding: 3px 5px;
      text-transform: uppercase;
      font-size: 10px;
    }
  }
  h2 {
    margin-left: -12px;
    margin-right: -12px;
    background: $cc1;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 400;
    font-size: 14px;
    padding-left: 12px;
    text-transform: uppercase;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
}