@media only screen and (max-width: 1200px) {
	.vc-home-blog{
		padding-top: 0 !important;
	}
}
@media only screen and (max-width: 767px) {
	.vc-home-blog {
		padding: 0 45px;
		article {
			flex: 0 0 100%;
			max-width: 100%;
			margin-bottom: 30px;
			border-bottom: 1px solid #d7d7d7;
			padding: 0 0 25px;
			.home-blog-thumb {
			    background: #fafaf7;
			}

			&:last-child {
				border-bottom: 0;
			}
		}
	}
}