@media only screen and (max-width: 1200px) {
	#home-box{
		.vc-im-sales {
		    font-size: 25.16px;
		}
	}
}


@media only screen and (max-width: 991px) {
	#home-box{
		.vc-im-wrapper {
			padding: 30px 15px 65px 15px;
			br {
				display: none;
			}
		}

		.btn-shop-now {
			margin-top: 0;
		}

	}
}


@media only screen and (max-width: 767px) {
	#home-box {
		.vc-im-wrapper {
			padding: 30px 50% 65px 30px;

		}

		.wpb_column.vc_column_container {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}

@media only screen and (max-width: 525px) {
	#home-box {
		.vc-im-wrapper {
			padding: 30px 30px 65px 30px;
			br {
				display: block;
			}
		}
	}
}


@media only screen and (max-width: 390px) {
	#home-box {
		.vc-im-wrapper {
			background-image: none !important;
			padding: 30px;
			br {
				display: none;
			}
		}
	}
}
