@media only screen and (max-width: 1200px) {
	.vc-online-desginer {
		margin-top: 0;
	}
}

@media (min-width: 1024px) and (max-width: 1439px) {
	.product-online-desginer {
		ul {
			li {
				width: 33.33%;
			}
		}
	}
}

@media only screen and (max-width: 767px) {
	.vc-online-desginer {
		margin-top: 0;
		ul{
			li{
				flex: 0 0 50%;
				max-width: 50%;
			}
		}
	}

}


@media only screen and (max-width: 400px) {
	.vc-online-desginer {
		ul{
			li{
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}