@media only screen and (max-width: 1200px) {
    .vc-printshop-ourservices {
        margin: 0px -15px 0;
    }
}

@media only screen and (max-width: 991px) {
    .vc-printshop-ourservices {
        .our-services-box {
            max-width: 50% !important;
            flex: 0 0 50% !important;
            margin-bottom: 30px;
        }
    }
}

@media only screen and (max-width: 575px) {
    .vc-printshop-ourservices {
        .row {
            margin: 0 15px;
        }

        .our-services-box {
            max-width: 100% !important;
            flex: 0 0 100% !important;
            margin-bottom: 30px;
        }
    }
}