@media only screen and (max-width: 1200px) {
	#how-we {
		.vc-printshop-step{
			.vc-printshop-step-wrapper{
				.vc-printshop-step-content {
    				margin-top: 15px;
    				padding-bottom: 35px;
    			}
    		}
    	}
	}
}

@media only screen and (max-width: 767px) {
	


	#home1-infobox {

		.vc_col-sm-3 {
			&:last-child {
				.vc_column-inner {
					padding-top: 8px;
				}
			}
		}
	}
}

@media only screen and (max-width: 600px) {
	#how-we {
		background: #e3ecfb !important;
		.vc-printshop-step{
			.vc-printshop-step-wrapper{
				 .vc-printshop-step-image {
				 	display: none
				 }
				.vc-printshop-step-content {
    				margin-top: 15px;
    				padding-bottom: 35px;
    				flex: 0 0 100%;
    			}
    		}
    	}
	}
}

@media only screen and (max-width: 400px) {
	#how-we {
		.alt-heading {
			padding-left: 30px;
			padding-right: 30px;
		}
	}
}