input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-input;
	border: 1px solid $color__border-input;
	border-radius: 3px;
	padding: 3px;

	&:focus {
		color: $color__text-input-focus;
	}
}

select {
	border: 1px solid $color__border-input;
	background: url(../../images/arrow_down.png) no-repeat calc(100% - 10px);
	appearance: none;
	height: 40px;
	padding: 0 30px 0px 10px;
	background-color: #fff;
	width: 100%;
}

textarea {
	width: 100%;
}

.post-password-form {
	input[type="password"] {
		min-height: 40px;
	}
	input[type="submit"] {
		border: 0;
		min-height: 40px;
	}
}

