/*# Buttons*/
//@import "buttons";

/*# Fields*/
@import "fields";

.rs-search {
	position: relative;
	ul, .nbt-no-result {
    margin: 0;
    padding: 0px 0;
    list-style: none;
    position: absolute;
    background: #fff;
    left: 15px;
    right: 0;
    z-index: 9;
    -webkit-box-shadow: 0 0 30px 0 rgba(51, 51, 51, 0.35);
    box-shadow: 0 0 30px 0 rgba(51, 51, 51, 0.35);
    -webkit-transition: -webkit-box-shadow .5s ease-in-out;
    transition: -webkit-box-shadow .5s ease-in-out;
    -o-transition: box-shadow .5s ease-in-out;
    transition: box-shadow .5s ease-in-out;
    transition: box-shadow .5s ease-in-out, -webkit-box-shadow .5s ease-in-out;
    z-index: 999;
    
		li{
		    border-bottom: 1px solid #d7d7d7;
		    padding: 10px;
		    background: #fff;
			a{
				display: flex;
				text-decoration: none;
				h4 {
					margin-bottom: 5px;
					line-height: 20px;
				}
				img{
				    margin-right: 15px;
				    flex: 0 0 25%;
				    max-width: 80px;
				    max-height: 80px;
				    border: 1px solid #bbbbbb;
				}
				.price {
					font-weight: 500;
					font-size: 16px;
					margin-bottom: 0;
					* {
						color: #4285f4;
					}
				}
			}
			&:last-child {
				border-bottom: 0;
				margin-bottom: 0;
			}
			&:hover {
				background: #f9f9f9;
			}
		}
	}

  .nbt-no-result {
    padding: 20px 0;
  }


}

.animate-spin {
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
  display: inline-block;
}
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-webkit-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-o-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@-ms-keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(359deg);
    -o-transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.btn-searchbox {
	width: 70px;
	.pt-icon-spinner {
		color: #fff;
	}
  .pt-icon-search {
    color: #fff;
    font-size: 18px;
    margin-top: -5px;
    display: block;
    margin-left: -3px;
  }
}

.atc-notice-sinple {
  h4 {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 21px;
    color: #444444;
        margin-bottom: 6px;
  }

  p{
    margin-bottom: 0;
    color: #666666;
    line-height: 21px;
    margin-bottom: 19px;

  }
}