.main-logo {
    &.text-logo {
        font-size: 52px;
        font-weight: 400;
    }  	
    img {
        width: 100%;
    }
}

.mid-inline, .mid-stack {
    .text-logo {
        text-align: center;
    }
}

.site-header {	
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.1);
    // margin-bottom: 60px;
    &.fixed {
        .bot-section-wrap,
        .middle-section-wrap{
            &.stuck{
                background:#fff;
            }
        }
    }
    .bot-section-wrap {
        .container {
            li {
                a {
                    line-height: 40px;
                }
            }
        }
    }
}

.admin-bar {
    .site-header.fixed {
        top: 32px;
    }
}

.flex-section {
    display: flex;
}

.equal-section {
    flex: 1 1 0;
}

.flex-end {
    justify-content: flex-end;
    nav {
        li:last-of-type {
            a {
                padding-right: 0;
            }
        }
    }
}

.nb-navbar, .nb-header-sub-menu {
    ul {
        padding-left: 0;
        list-style-type: none;
    }
}

.stuck {
    @extend .animated;
    @extend .fadeInDown;
    position:fixed;
    top:0;
    &.bot-section-wrap, &.middle-section-wrap {
        transition: all .2s ease;
        border-bottom: 1px solid #ccc;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
        width: 100%;
        background: #fff;
        z-index: 9999;
    }
}

.bot-section-wrap {
    .container {
        > li {
            > a {
                line-height: 48px;
            }
        }
    }
}

body.home.blog {
    .site-content {
        margin-top: 60px;
    }
}

.mini-cart-section {
    a {
        font-weight: 700;
    }

}
.admin-bar .stuck {
    top: 32px;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}

#primary-menu {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            display: inline-block;
            padding: 0px 10px 0px 10px;
            a {
                display: block;
                color: #070707;
                text-transform: uppercase;
                font-weight: 700;
                text-decoration: none;
                height: 50px;
                line-height: 50px;
                padding: 0px 10px 0px 10px;
            }
            &:first-child {
                padding-left: 0;
                a {
                    padding-left: 0;
                }
            }

            &:hover {
                a {
                    color: #4285f4;
                }
            }
        }
    }
}

* {
    outline: 0 !important;
}
#mega-menu-wrap-primary {
    #mega-menu-primary {
        > li.mega-menu-megamenu {
            > ul.mega-sub-menu{
                z-index: 9999999;
            }
        }
    }
}
.top-section-wrap .nbtcs-select span.symbol {
  color: #fff;
}

.woocommerce-currency-switcher {
    background: transparent !important;
    border: 0 !important;
    height: auto;

	option{
		color: #444;
	}
}
