.header-4
{
	font-family: 'EB Garamond', serif;
	.top-section-wrap
	{
    	font-size: 12px;
    	ul.header-top-right
    	{
    		margin: 0;
    		padding: 0;
    		list-style: none;
    		float: right;

    		@include media-breakpoint-down(md) {
    			float: none;
    			text-align: center;
    		}

    		> li {
    			position: relative;
    			display: inline-block;
	    		border-right: 2px solid #ccc;
			    line-height: 13px;
			    padding-right: 10px;
			    margin-right: 5px;
					font-size: 16px;
			    .fa
			    {
			        margin-right: 7px;
			    }

			    &.visible,
			    &:last-child
			    {
			    	margin-right: 0;
			    	padding-right: 0;
			    	border-right: 0;
			    }

			    .header-sub-language {
			    	position: relative;
			    	display: inline-block;

				    ul {
				    	display: none;
					    margin: 0;
					    list-style: none;
					    position: absolute;
					    top: 27px;
					    padding: 0px;
					    opacity: 0.95;

					    li {
					    	a{
					    		display: block;
					    		padding: 5px 35px 5px 10px;
					    	}
					    }
				    }
			    }

		    	&.top-header-language,
		    	&.top-header-currency {

			    	span.has-arrow {
			    		cursor: pointer;

			    		&:after {
						    content: '\f108';
						    font-family: "printcart-ico";
						    font-weight: normal;
						    font-style: normal;
						    margin: 0px 0px 0px 6px;
						    text-decoration: none;
							}
			    	}
		    	}
    		}
    	}
		
		.header-top-left-wrapper {
			text-align: left;
			@include media-breakpoint-down(md) {
				text-align: center;
				margin-bottom: 15px;
			}
			.widget {
				margin: 0;
			}
			.textwidget{
				p{
					margin-bottom:0px;
					font-size: 16px;
					&:before{
						content:'\e802';
						font-family: 'printcart-ico';
						font-size: inherit;
						margin-right:10px;
					}
				}
			}
		}
	}

	.middle-section-wrap {

		.logo-header {
			.main-logo {
				line-height: 50px;
				@include media-breakpoint-down(xs) {
					margin: 0 auto;
				}
				a{
					display: block;
					img{
						vertical-align: middle;
					}
				}
			}
		}

		.middle-right-content {

			display: flex;
		    justify-content: flex-end;
		    align-items: center;
		    height: 50px;

			.search_text {

				margin-right: 20px;

			    .text-search {
			    	display: none;
			    }
			}

			.header-search-wrap {
			  	margin-left: 15px;
			  	margin-right: 5px;
			  	display: inline-block;

			  	@include media-breakpoint-down(xs){
				    margin-left: 5px;
				}

				&.popup_content {
					background: rgba(0,0,0,.9);
					width: 100%;
					height: 100%;
					position: fixed;
					top: 0;
					right: 0;
					z-index: 9999;
					transition: all .4s ease-out;
					margin-right: 0;
				}

			  	.search-form {
				    &:before {
				      	content: '\e90b';
				      	font-family: 'printcart-ico';
				      	color: #000;
				      	font-size: 16px;
				      	right: auto !important;
				    }

				    &.visible {

				      	&:before {
				      		content: "";
			    		}

				      	.nb-input-group {
					        display: block;

					        .search-field {
								-webkit-appearance: none;
								visibility: visible;
								position: absolute;
								top: 50%;
								left: 50%;
								background: transparent;
								border: 2px solid #777;
								color: #fff;
								font-size: 16px;
								min-width: 250px;
								padding: 0 15px;
								box-shadow: none;
								width: 30%;
								transform: translateX(-50%);
								border-radius: 20px;

					          	@include media-breakpoint-down(lg) {
					            	width: 50%;
					          	}

					          	@include media-breakpoint-down(md) {
					            	width: 60%;
					          	}

					          	@include media-breakpoint-down(sm) {
					            	width: 70%;
					          	}
					        }

					        .search-button {
					          	display: block;
					          	position: absolute;
					          	top: 50%;
					          	right: 35%;

					          	@include media-breakpoint-down(lg) {
					            	right: 25%;
					          	}

					          	@include media-breakpoint-down(md)  {
					            	right: 20%;
					          	}

					          	@include media-breakpoint-down(sm) {
					            	right: 15%;
					          	}

					          	>button {
					            	background: rgba(0,0,0,0);

					            	>i {
					              		color: #777 !important;
					            	}
					          	}
					        }
				      	}
		    		}
				}

			  	.nb-input-group{
			    	display: none;

			    	.search-button{
			      		display: none;
			    	}
			  	}
			}

			.close_popup{
			  position: fixed;
			  top: 10%;
			  right: 10%;
			  width: 30px;
			  height: 30px;
			  cursor: pointer;
			  z-index: 9999;
			  display: none;
			  &:before, &:after{
			    -webkit-transition: all .4s ease-out;
			    transition: all .4s ease-out;
			    content: ' ';
			    width: 40px;
			    height: 2px;
			    display: block;
			  }
			  &:before{
			    -webkit-transform: translate(-5px,14px) rotate(-45deg);
			    transform: translate(-5px,14px) rotate(-45deg);
			    background-color: #fff;
			  }
			  &:after{
			    -webkit-transform: translate(-5px,12px) rotate(45deg);
			    transform: translate(-5px,12px) rotate(45deg);
			    background-color: #fff;
			  }
			}

			.customer-action {
				display: none;
			}

			.header-cart-wrap {

				.show-cart {
					display: none;
				}

				.counter-number {
					font-weight: 500;
					&:before {
						content: '\f104';
						font-family: 'printcart-ico';
						color: #000;
						font-size: 24px;
						margin-right: 5px;
					}
				}
				.mini-cart-section{
					left:auto !important;
					right:0px !important;
				}
			}
		}
	}
	nav#site-navigation{
		ul#mega-menu-primary{
			>li.mega-menu-item{
				>a.mega-menu-link{
					text-transform: uppercase;
					font-weight: 600 !important;
					font-size: 16px !important;
				}
			}
		}
	}
}