.header-custom-list{
  .header-top-left, .header-top-right{
    .widget{margin: 0px;}
    ul.social-section{
      li{
        border-right:none;
        i{font-size: 17px;}
      }
    }
    ul{
      margin: 0px;padding-left: 0px;
      li{
        display: inline-block;
        margin-right: 9px !important; position: relative;line-height: 13px;
        padding-right: 15px;border-right: 2px solid #ccc; border-bottom: none !important;
        padding-top: 0px;
        padding-bottom: 0px; margin-bottom: 0px;
        &:last-child{
          padding-right: 0;
          border-right: 0;
          margin-right: 0px !important;
        }
      }
    }
  }
  &.bot-section-wrap{border-top: 1px solid #ebebeb;}
  &.top-section-wrap{
    font-size: 12.63px;
  }
  .header-top-right{
    text-align: right;
  }
  .customer-action{
    padding: 0 0 0 45px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    &:before {
      font-family: 'printcart-ico';
      content: '\f105';
      position: absolute;
      left: 0;
      top: -3px;
      font-size: 33px;
    }
    .nb-account-dropdown {
      position: absolute;
      background: #fff;
      -webkit-box-shadow: 3px 3px 10px -2px #5c5c5c;
      box-shadow: 3px 3px 10px -2px #5c5c5c;
      padding: 0px;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease;
      display: block !important;
      top: 76px;
      right: 0px;
      z-index: 99;
      min-width: 250px;
      ul{ padding-left: 0px;
        li {
          border-bottom: 1px solid #d7d7d7;
          padding: 15px 30px; list-style: none;
          text-align: left;
        }
      }
    }
  }
  .minicart-header{
    cursor: pointer ;display: inline-block;
    vertical-align: top;
    margin-left: 45px;
    position: relative;
    .mini-cart-section{
      right: 0px !important; left: unset !important;
    }
    .counter-number {
      position: absolute;
      bottom: 0; left: 0;
      background: #000;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      color: #fff;
      width: 21px;
      height: 21px;
      z-index: 100;
      text-align: center;
    }
    .show-cart {
      vertical-align: top;
      padding-left: 41px;
      position: relative;text-align: left;
      .text {
        font-weight: 600;
      }
      .price-wrapper {
        display: block;
      }
      &:after {
        font-family: 'printcart-ico';
        content: '\f104';
        position: absolute;
        left: 0;
        top: -5px;
        font-size: 37px;
      }
    }

  }
  .middle-right-content{float: right; text-align: right;}
  .cat-first{
    #nbt-ajax-search{
      .searchbox{
        .control{
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          .input-content{
            order: 2;
            width: 75%;
            .input-searchbox {
              -webkit-border-bottom-left-radius: 0px;
              border-bottom-left-radius: 0px;
              -webkit-border-top-left-radius: 0px;
              border-top-left-radius: 0px;
              border-radius: 0px;
            }
          }
          .select-cat{
            order: 1;
            width: 25%;    border: none;
            &:before{content: none;}
            select{
              width: 100%; height: 46px;
              border-top: 1px solid #d1d3d4;
              border-bottom: 1px solid #d1d3d4;
              border-left: 1px solid #d1d3d4;
              -webkit-border-bottom-left-radius: 25px;
              border-bottom-left-radius: 25px;
              -webkit-border-top-left-radius: 25px;
              border-top-left-radius: 25px;
            }
          }
        }
      }
    }
  }
  #nbt-ajax-search{
    display: table;
    width: 100%;
    .actions{
      display: table-cell;
      vertical-align: top;
      .btn-searchbox{
        opacity: 1;
        border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        -webkit-border-radius: 0 3px 3px 0;
        line-height: 35px;
        white-space: nowrap;
        text-transform: uppercase;
        font-weight: 400;
        position: relative;
        padding: 0 20px !important;
        color: #fff !important;
        height: 46px;
        margin: 0px;
        -webkit-border-bottom-right-radius: 25px;
        border-bottom-right-radius: 25px;
        -webkit-border-top-right-radius: 25px;
        border-top-right-radius: 25px;
      }
    }
    .searchbox{
      display: table-cell;
      vertical-align: top;
      width: 100%;
      .control{
        .input-content{
          display: table-cell;
          vertical-align: top;
          width: 100%;
          .input-searchbox{
            -webkit-border-bottom-left-radius: 25px;
            border-bottom-left-radius: 25px;
            -webkit-border-top-left-radius: 25px;
            border-top-left-radius: 25px;
            height: 46px;
            padding-left: 20px;
            line-height: 1.66;
            background-color: #fff;
            font-size: 100%;
            width: 100%;
            border: 1px solid #d1d3d4;
            border-right: 0;
            color: #999;
          }
        }
        .select-cat{
          display: table-cell;
          vertical-align: top;
          position: relative;
          border-top: 1px solid #d1d3d4;
          border-bottom: 1px solid #d1d3d4;
          select{
            height: 44px;
            width: 195px;
            border: none;
            padding-left: 15px;
          }
          &:before {
            content: '';
            display: block;
            width: 1px;
            height: 24px;
            background-color: #e5e5e5;
            position: absolute;
            left: 0;
            top: 50%;
            margin-top: -12px;
          }

        }
      }
    }
  }
}

.header-3{
  .header-custom-list #nbt-ajax-search .actions .btn-searchbox{
    background: transparent; border: 1px solid #d1d3d4;
    i.pt-icon-search{    color: #444444;}
  }

  .header-custom-list {
    .header-cart-wrap {
      margin-left: 0;
      .cart-wrapper {
        display: flex;
        align-items: center;
        .counter-number {
          position: static;
          background: transparent;
          color: #999;
          width: auto;
          height: auto;
          border-radius: 0;
          order: 1;

          &:after {
            content: ' ITEM (S)';
            @include media-breakpoint-down(xs) {
              content: '';
            }
          }
        }

        .show-cart {
          padding-left: 0;
          order: 0;
          padding-right: 10px;
          .text, .price-wrapper {
            display: none;
          }

          &:after {
            position: static;
            content: '\a913';
            font-size: 30px;
          }
        }
      }
    }

    .cat-first #nbt-ajax-search .searchbox .control {
      .select-cat {
        @include media-breakpoint-down(lg) {
          display: none;
        }
      }

      .input-content {
        @include media-breakpoint-down(lg) {
          width: 100%;

          .input-searchbox {
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
          }
        }
      }      
    }

    .main-logo {
      @include media-breakpoint-down(md) {
        margin: 0 auto;
      }
    }
  }

  .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
    font-size: 14px;
    font-weight: bold;
  }
}

.header-5{
  .bot-section-wrap{
    #mega-menu-wrap-primary #mega-menu-primary{text-align: center}
  }
  .main-navigation {
    .menu-main-menu-wrap{
      #mega-menu-wrap-primary{
        ul#mega-menu-primary{
          li.mega-menu-item{
            a.mega-menu-link{
              text-transform: uppercase;
              font-size: 16px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
  .header-custom-list {
    .customer-action {
      .nb-account-dropdown {
        ul{
          margin-top:0;
          margin-bottom:0;
        }
      }
    }
  }
  .header-sub-language{
    margin-left:5px;
    display: inline-block;
    position: relative;
    ul{
      position: absolute;
      text-align:left;
      background: rgb(28,78,154);
      z-index: 200;
      visibility: hidden;
      opacity: 0;
      padding-left: 0;
      border:1px solid #000;
      transition: 0.5s;
      width: 110px;
      li{
        padding:10px 15px !important;
        border: none;
        list-style-type: none;
        &:not(:last-child){
          border-bottom:1px solid #fff;
        }
        a{
          text-decoration: none;
        }
      }
    }
    .has-arrow{
      &:after{
        content:'\f107';
        font-family: 'fontawprintcart-icoesome';
        font-size: inherit;
        color: inherit;
        margin-left:5px;
      }
    }
    &:hover{
      ul{
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .customer-action{
    .display-name{
      font-weight: bold;
    }
  }
  .middle-section-wrap{
    span{
      font-size: 16px;
    }
  }
}

.header-6{

  .header-sub-language{
    display: inline-block;
    position: relative;
    ul{
      position: absolute;
      text-align:left;
      background: #36bda1;
      z-index: 200;
      visibility: hidden;
      opacity: 0;
      transition: 0.5s;
      li{
        padding:10px 15px !important;
        border: none;
        &:not(:last-child){
          border-bottom:1px solid #fff;
        }
        a{
          text-decoration: none;
        }
      }
    }
    .has-arrow{
      &:after{
        content:'\f108';
        font-family: 'printcart-ico';
        font-size: inherit;
        color: inherit;
        margin-left:5px;
      }
    }
    &:hover{
      ul{
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .header-top-left{
    .textwidget{
      p{
        margin-bottom:0px;
        font-size: 14px;
      }
    }
  }
  .header-top-right{
    li{
      font-size: 14px;
      a{
        font-size: 14px;
      }
    }
  }
  .middle-section-wrap{
    form#nbt-ajax-search{
      margin-top: 3px;
      .searchbox{
        .control{
          .input-content{
            input{
              height: 40px;
              font-size: 12.63px;  
              color:#999999;
            }
          }
          .select-cat{
            select{
              height: 38px;
              font-size: 12.63px;
            }
          }
        }
      } 
      .actions{
        button{
          height: 40px;
        }
      } 
    }
  }
  .middle-right-content{
    margin-top: -2px;
    .display-name{
      font-weight: bold;
    }
    .customer-links{
      a{
        font-weight: bold;
        text-decoration: none;
      }
    }
    .customer-action{
      &:before{
        font-size: 40px;
      }
    }
    .show-cart{
      padding-left:46px;
      &:after{
        font-size:43px;
      }
      .text{
        display: inline-block;
        margin-top: 4px;
      }
    }
    .nb-account-dropdown{
      ul{
        li{
          a{
            text-decoration: none;
          }
        }
      }
    }
  }
  .bot-section-wrap{
    nav#site-navigation{
      ul#mega-menu-primary{
        > li.mega-menu-item{
          > a.mega-menu-link{
            text-transform: uppercase;
            font-weight: bold !important;
            font-size: 16px;
          }
          &:last-child{
            margin-right:0px;
            a{
              padding-right: 0px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1199px){
  .header-6 {
    .middle-right-content{
      .header-cart-wrap{
        margin-left:30px;
      }    
    }
  }
}

@media screen and (max-width: 991px){
  .header-custom-list{
    .minicart-header{
      .counter-number{top:0;}
    }

    .header-top-left{margin-bottom: 15px;}
    .header-top-left,
    .header-top-right{text-align: center;}
    // &.middle-section-wrap{
    //   .logo-wrapper{
    //     .main-logo {width: auto !important;}
    //   }
    // }
  }
  .header-6, .header-5{
    .header-custom-list .middle-right-content,
    .header-searchbox-content,
    .logo-header{text-align: center; margin-bottom: 15px;}
    .main-logo img{width: auto;}
  }
  .header-5{
    .main-logo{
      margin:0 auto;
    }
    .header-custom-list {
      .minicart-header {
        .counter-number{
          top:auto;
        }
      }
    }
  }
  .header-6{
    .logo-header{
      .main-logo{width: auto !important;}
    }
    .middle-right-content {
      .header-cart-wrap{
        height: 100%;
        .cart-wrapper{
          height: 100%;
          .counter-number{
            top:auto;
          }
          .show-cart{
            .text,.price-wrapper{
              display: block;
            }
            .text{
              margin-top: 0px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px){
  .header-custom-list{
    .logo-header{margin-bottom: 15px;}
    .main-logo{text-align: center;
      img{ width: auto;}
    }
  }
}

@media screen and (max-width: 480px){
  .header-6{
    #nbt-ajax-search {
      .searchbox {
        .control {
          .select-cat{
            display: none;
          }
          .input-content{
            display: block;
          }
        }
      }
    }
    .customer-action {
      .nb-account-dropdown{
        left:0;
        right:auto;
      }
    }
    .mini-cart-section {
      .mini-cart-wrap{
        width: 290px;
      }
    }
  }
}