@mixin close-popup {
	-webkit-transition: all .4s ease-out;
	-o-transition: all .4s ease-out;
	transition: all .4s ease-out;
	content: ' ';
	width: 40px;
	height: 2px;
	display: block;
}
.home .header-2 {
	position: absolute;
	left: 0;
	right: 0;
}
.header-2
{
	border: none;
	box-shadow: none;
	z-index: 100;
	display: block;
	margin: 0 auto;
	.logo-header {
		@include media-breakpoint-up(lg) {
			padding-left: 10px;
		}
	}

	.header-right-wrap-top {
		padding-left: 5px;
		padding-top: 13px;
	}

	.alt-header-bottom {
		display: none;
	}

	#mega-menu-wrap-primary .main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item {
		padding: 0 10px;
		margin-right: 0px;
	}

	.top-section-wrap
	{
		font-size: 12.63px;
		/* .header-top-leff */
		ul.header-top-left
		{
			margin: 0;
			padding: 0;
			list-style: none;

			> li {
				position: relative;
				display: inline-block;
				border-right: 2px solid #ccc;
				line-height: 13px;
				padding-right: 10px;
				margin-right: 5px;

				.fa
				{
					margin-right: 7px;
				}

				&.visible,
				&:last-child
				{
					margin-right: 0;
					padding-right: 0;
					border-right: 0;
				}

				.header-sub-language {
					position: relative;
					display: inline-block;

					ul {
						display: none;
						margin: 0;
						list-style: none;
						position: absolute;
						top: 27px;
						padding: 0px;
						opacity: 0.95;

						li {
							a{
								display: block;
								padding: 5px 35px 5px 10px;
							}
						}
					}
				}

				&.top-header-language,
				&.top-header-currency {

					span.has-arrow {
						cursor: pointer;

						&:after {
							content: '\f108';
							font-family: "printcart-ico";
							font-weight: normal;
							font-style: normal;
							margin: 0px 0px 0px 6px;
							text-decoration: none;
						}
					}

				}

			}
		}

		/* .header-top-right */
		.header-top-right
		{
			float: right;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					display: inline-block;
					margin-right: 25px;

					&:last-child
					{
						margin-right: 0;
					}
					a
					{
						color: #fff;
						&:hover
						{
							color: #000;
						}
					}
				}
			}
		}

	}

	/* alt-header-middle */
	.middle-section-wrap
	{
		.header-searchbox-content {
			border-radius: 3px;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			.form.minisearch {
				display: table;
				width: 100%;
				.field.searchbox {
					display: table-cell;
					vertical-align: top;
					width: 100%;
					.input-content {
						display: table-cell;
						width: 100%;
						vertical-align: top;
						.input-searchbox {
							height: 46px;
							padding-left: 20px;
							line-height: 1.66;
							background-color: #fff;
							font-size: 100%;
							width: 100%;
							border-bottom-left-radius: 25px;
							border-top-left-radius: 25px;
							border: 1px solid #d1d3d4;
							border-right: 0;
						}
					}
					.select-cat {
						display: table-cell;
						vertical-align: top;
						position: relative;
						border-top: 1px solid #d1d3d4;
						border-bottom: 1px solid #d1d3d4;

						&:before{
							content: '';
							display: block;
							width: 1px;
							height: 24px;
							background-color: #e5e5e5;
							position: absolute;
							left: 0;
							top: 50%;
							margin-top: -12px;
						}

						select {
							width: 195px;
							border: none;
							height: 44px;
							padding-left: 15px;
						}
					}
					.search-autocomplete {
						display: none;
						margin-top: -15px;
						overflow: hidden;
						position: absolute;
						z-index: 3;
					}
				}
				.actions {
					display: table-cell;
					vertical-align: top;

					.btn-searchbox {
						opacity: 1;
						border-radius: 0 3px 3px 0;
						-moz-border-radius: 0 3px 3px 0;
						-webkit-border-radius: 0 3px 3px 0;
						border: none;
						line-height: 35px;
						white-space: nowrap;
						text-transform: uppercase;
						font-weight: 400;
						position: relative;
						padding: 0 20px !important;
						color: #fff !important;
						height: 46px;
						margin: 0px;
						-webkit-border-bottom-right-radius: 25px;
						border-bottom-right-radius: 25px;
						-webkit-border-top-right-radius: 25px;
						border-top-right-radius: 25px;
					}
				}
			}
		}

		.middle-right-content {
			float: right;
			#netbase-responsive-toggle {
				@include media-breakpoint-up(lg) {
					display: none;
				}
				i.fa.fa-bars {
					padding-top: 25px;
					font-size: 20px;
				}
			}
			.close_popup {
				position: fixed;
				top: 10%;
				right: 10%;
				width: 30px;
				height: 30px;
				cursor: pointer;
				z-index: 10000;
				display: none;
				&:before {
					@include close-popup;
				}
				&:after {
					@include close-popup;
				}
				&:before {
					-webkit-transform: translate(-5px, 14px) rotate(-45deg);
					-ms-transform: translate(-5px, 14px) rotate(-45deg);
					transform: translate(-5px, 14px) rotate(-45deg);
					background-color: #fff;
				}
				&:after {
					-webkit-transform: translate(-5px, 12px) rotate(45deg);
					-ms-transform: translate(-5px, 12px) rotate(45deg);
					transform: translate(-5px, 12px) rotate(45deg);
					background-color: #fff;
				}
			}
			.customer-action {
				display: none;

				&:after {
					font-family: 'printcart-ico';
					content: '\f105';
					position: absolute;
					left: 0;
					top: -3px;
					font-size: 33px;
				}

				.customer-links {
					font-weight: 600;
				}

				.display-name {
					font-weight: 500;
				}

				.nb-account-dropdown {
					position: absolute;
					background: #fff;
					-webkit-box-shadow: 3px 3px 10px -2px #5c5c5c;
					box-shadow: 3px 3px 10px -2px #5c5c5c;
					padding: 0px;
					-webkit-border-radius: 2px;
					border-radius: 2px;
					-webkit-transition: all .2s ease;
					-o-transition: all .2s ease;
					transition: all .2s ease;
					top: 76px;
					z-index: 99;
					min-width: 250px;
					&:before {
						content: "\A";
						border-style: solid;
						border-width: 20px 108px 23px 0;
						border-color: transparent transparent transparent transparent;
						position: absolute;
						left: 0;
						top: -42px;
						right: 50%;
					}
					ul {
						margin: 0;
						padding: 0;
						list-style: none;
						li {
							border-bottom: 1px solid #d7d7d7;
							padding: 15px 30px;
							a{
								text-decoration: none;
								line-height: 24px;
							}
							&:hover {
								background: #fafafa;
							}
						}
					}
				}

			}

			.header-cart-wrap {
				.show-cart {
					.text {
						display: none;
					}
					.price-wrapper {
						display: none;
					}
				}
			}

			.header-search-wrap {
				margin-left: 15px;
				margin-right: 5px;
				display: inline-block;
				&.popup_content {
					background: rgba(0, 0, 0, 0.9);
					width: 100%;
					height: 100%;
					position: fixed;
					top: 0;
					right: 0;
					z-index: 9999;
					-webkit-transition: all .4s ease-out;
					-o-transition: all .4s ease-out;
					transition: all .4s ease-out;
					margin-right: 0;
					.search-form {
						&:before {
							right: 160px;
							top: 45px;
						}
					}
				}
				.search-form {
					&.visible {
						.nb-input-group {
							display: block;
						}
					}
					&:before {
						position: absolute;
						content: '\e90b';
						font-family: 'printcart-ico';
						color: #000;
						font-size: 25px;
						right: 70px;
						top: 10px;
					}
					.nb-input-group {
						display: none;
						.search-button {
							display: block;
							position: absolute;
							top: 50%;
							right: 35%;
							& > button {
								background: transparent;
								& > i {
									color: #777 !important;
								}
							}
						}
						.search-field {
							-webkit-appearance: none;
							visibility: visible;
							position: absolute;
							top: 50%;
							left: 50%;
							background: transparent;
							border: 2px solid #777;
							color: #fff;
							font-size: 16px;
							min-width: 250px;
							padding: 0 15px;
							-webkit-box-shadow: none;
							box-shadow: none;
							width: 30%;
							-webkit-transform: translateX(-50%);
							-ms-transform: translateX(-50%);
							transform: translateX(-50%);
							-webkit-border-radius: 20px;
							border-radius: 20px;
						}
					}
				}
			}

			.search_text {
				margin-right: 20px;
				.text-search {
					display: none;
				}
			}

			.minicart-header {
				vertical-align: top;
				@include media-breakpoint-up(md){
					margin-left: 45px;
				}
				position: relative;

				.show-cart {
					vertical-align: top;
					padding-left: 41px;
					position: relative;
					&:before {
						font-family: 'printcart-ico';
						content: '\f104';
						position: absolute;
						right: -8px;
						top: -16px;
						font-size: 29px;
					}
					.text {
						font-weight: 600;
					}
					.price-wrapper {
						.price {
							font-weight: 500;
						}
					}
				}
				.counter-number{
					position: absolute;
					top: 5px;
					right: -15px;
					background: #f8927e;
					-webkit-border-radius: 50%;
					border-radius: 50%;
					color: #fff;
					width: 20px;
					height: 20px;
					line-height: 20px;
					z-index: 100;
					text-align: center;
				}

				&.fix_position_cart {
					.show-cart {
						&:before {
							top: 10px;
						}
					}
					.counter-number {
						top: 32px;
					}
				}

				.mini-cart-wrap {
					top: 76px;
					.cart-subtotal-price {
						float: right;
						color: #444;
						font-weight: 600;
						* {
							font-size: 19px;
						}
					}
					&.cart-0 {
						padding-bottom: 0;
						padding: 23px 0;
						text-align: center;
						.woocommerce-mini-cart__empty-message {
							margin-bottom: 0;
						}
					}
				}
			}
		}

	}

	.bot-section-wrap {
		border-top: 1px solid #ebebeb;
		#mega-menu-primary {
			> li {
				> a {
					text-transform: uppercase !important;
				}
			}
			> li.mega-menu-item {
				padding: 0 10px;
				&:first-child {
					padding-left: 0;
					a {
						padding-left: 0;
					}
				}
			}

			.mega-sub-menu {
				li {
					a{
						text-transform: initial !important;
					}
				}
			}

			.mega-menu-flyout.mega-toggle-on {
				.mega-sub-menu {
					li {
						a{
							border-bottom: 1px solid #d7d7d7;
							padding: 15px 30px;
						}
						
					}
				}

			}
		}
	}
	span {
		&.mega-toggle-label-open {
			color: #fff;
		}
	}
}