.header-9.site-header{
	.header-top-right-wrapper{
		.header-top-right{
			margin-top:0px;
		}
	}
	nav#site-navigation{
		ul#mega-menu-primary{
			>li.mega-menu-item{
				>a.mega-menu-link{
					font-weight: bold !important;
					text-transform: uppercase;
					
				}
			}
			li.mega-menu-item{
				a.mega-menu-link{
					font-size: 16px;
				}
			}
		}
	}
	.wrap9{
		justify-content: space-between;
		.header-top-right{
			padding-left:0px;
			margin-bottom: 0px;
			text-align: right;
			li{
				display: inline-block;
				line-height: 50px;
				cursor:pointer;
				&:not(:last-child):after{
					content:'|';
					margin-left:9px;
					margin-right:9px;
					font-size: inherit;
				}
				.header-sub-language{
					margin-left:-7px;
					display: inline-block;
				    position: relative;
				    ul{
				      position: absolute;
				      text-align:left;
				      background: #fff;
				      z-index: 200;
				      visibility: hidden;
				      opacity: 0;
				      padding-left: 0;
				      border:1px solid #000;
				      transition: 0.5s;
				      width: 110px;
				      li{
				        padding:10px 15px !important;
				        border: none;
				        list-style-type: none;
				        line-height: normal;
				        &:not(:last-child){
				          border-bottom:1px solid #fff;
				        }
				        a{
				          text-decoration: none;
				        }
				      }
				    }
				    .has-arrow{
				      &:after{
				        content:'\f108';
				        font-family: 'printcart-ico';
				        font-size: inherit;
				        color: inherit;
				        margin-left:5px;
				      }
				    }
				    &:hover{
				      ul{
				        visibility: visible;
				        opacity: 1;
				      }
				    }
				}
				a{
					text-decoration: none;
				}
				i{
					font-size: 14px;
				}
			}
		}
	}
	.top-section-wrap{
		border-bottom:1px solid;
		padding-top:14px;
	}
	.middle-section-wrap{
		padding-top: 5px;
		padding-bottom: 4px;
		.header-right-cart-search{
			height: 50px;
			.cart-wrapper{
				position: relative;
				margin-right:24px;
				.show-cart{
					&:before{
						content:'\e803';
						font-family: 'printcart-ico';
						font-size: 18px;
					}
					.text,.price-wrapper{
						display: none;
					}
				}
				.counter-number{
					position: absolute;
					top:0px;
					right:0px;
					width: 17px;
					height: 17px;
					font-size: 12px;
					background:#50abb4;
					color:#fff;
					border-radius: 100px;
					top:-2px;
					right:-8px;
					text-align: center;
				}
			}
			.header9-search{
				i{
					font-size: 18px;
					vertical-align: bottom;
					cursor: pointer;
				}
			}
			.middle-right-content{
				margin-top:15px;
				display: flex;
				justify-content: flex-end;
			}
			.header-cart-wrap{
				position: relative;
				cursor: pointer;
				.mini-cart-section{
					position: absolute;
					left:auto !important;
					right:0px !important;
					top:40px;
				}
			}
		}
		.text-search,.search_text{
			display: none;
		}
		.search_text{
			position: fixed;
			top:0;
			left:0;
			width: 100%;
			height: 100%;
			background:rgba(0,0,0,0.9);
			z-index: 200000000;
			form{
				position: absolute;
				top:50%;
				left:50%;
				width: 30%; 
				transform: translateY(-50%) translateX(-50%);
				input{
					background: transparent;
			    border: 2px solid #777;
			    color: #fff;
			    font-size: 16px;
			    min-width: 250px;
			    padding: 0 15px;
			    border-radius: 30px;
				}
				.search-button{
					position: absolute;
					right:10px;
					left:auto !important;
					top:auto !important;
					button{
						background-color: transparent;
						i{
							color:#777 !important;
						}
					}
				}
			}
			>i{
				position: absolute;
				font-size: 30px;
				color:#fff;
				top:10px;
				right:10px;
			}
		}
	}
}

@media screen and (max-width: 991px){
	
}

@media screen and (max-width: 575px){
	.header-9.site-header{
		.logo-header,.login{
			width:auto;
		}
		.middle-section-wrap{
			.middle-section{
				justify-content: space-between;
			}
			.header-right-wrap-top,
			.header-right-cart-search{
				width: auto;		
			}
		}
	}
}

@media screen and (max-width: 425px){
	.header-9.site-header {
		.logo-header,	.login{
			width:100%;
		}
		.wrap9.row{
			flex-direction: column-reverse;
		}
		.main-logo{
			margin:0px auto;
		} 
		.wrap9 ul.header-top-right{
			text-align: center;
			margin-bottom:15px;
		}
	}
}