.header-1
{
	margin-bottom: 0;

	.top-section-wrap
	{
    	font-size: 12.63px;
    	/* .header-top-leff */
    	ul.header-top-left
    	{
    		margin: 0;
    		padding: 0;
    		list-style: none;

    		> li {
    			position: relative;
    			display: inline-block;
	    		border-right: 2px solid #ccc;
			    line-height: 13px;
			    padding-right: 10px;
			    margin-right: 5px;

			    .fa
			    {
			        margin-right: 7px;
			    }

			    &.visible,
			    &:last-child
			    {
			    	margin-right: 0;
			    	padding-right: 0;
			    	border-right: 0;
			    }

			    .header-sub-language {
			    	position: relative;
			    	display: inline-block;

				    ul {
				    	display: none;
					    margin: 0;
					    list-style: none;
					    position: absolute;
					    top: 27px;
					    padding: 0px;
					    opacity: 0.95;

					    li {
					    	a{
					    		display: block;
					    		padding: 5px 35px 5px 10px;
					    	}
					    }
				    }
			    }

		    	&.top-header-language,
		    	&.top-header-currency {

			    	span.has-arrow {
			    		cursor: pointer;

			    		&:after {
						    content: '\f108';
						    font-family: "printcart-ico";
						    font-weight: normal;
						    font-style: normal;
						    margin: 0px 0px 0px 6px;
						    text-decoration: none;
						}
			    	}

		    	}

    		}
    	}
		
		/* .header-top-right */
		.header-top-right
		{
			float: right;
			ul {
				margin: 0;
				padding: 0;
				list-style: none;

				li {
					display: inline-block;
					margin-right: 25px;
					@include media-breakpoint-down(md) {
						margin-right: 10px;
					}

					&:last-child
					{
						margin-right: 0;
					}
					a
					{
						color: #fff;
						&:hover
						{
							color: #000;
						}
					}
				}
			}
		}

	}

	/* alt-header-middle */
	.middle-section-wrap
	{
		.header-searchbox-content {
		    border-radius: 3px;
		    -moz-border-radius: 3px;
		    -webkit-border-radius: 3px;
			.form.minisearch {
			    display: table;
			    width: 100%;
				.field.searchbox {
				    display: table-cell;
				    vertical-align: top;
				    width: 100%;
					.input-content {
					    display: table-cell;
					    width: 100%;
					    vertical-align: top;
						.input-searchbox {
						    height: 46px;
						    padding-left: 20px;
						    line-height: 1.66;
					    	background-color: #fff;
					        font-size: 100%;
				            width: 100%;
				            border-bottom-left-radius: 25px;
    						border-top-left-radius: 25px;
    						border: 1px solid #d1d3d4;
    						border-right: 0;
						}
					}
					.select-cat {
					    display: table-cell;
					    vertical-align: top;
					    position: relative;
					    border-top: 1px solid #d1d3d4;
					    border-bottom: 1px solid #d1d3d4;

					    &:before{
						    content: '';
						    display: block;
						    width: 1px;
						    height: 24px;
						    background-color: #e5e5e5;
						    position: absolute;
						    left: 0;
						    top: 50%;
						    margin-top: -12px;
					    }

					    select {
						    width: 195px;
						    border: none;
						    height: 44px;
						    padding-left: 15px;
					    }
					}
					.search-autocomplete {
					    display: none;
					    margin-top: -15px;
					    overflow: hidden;
					    position: absolute;
					    z-index: 3;
					}
				}
				.actions {
				    display: table-cell;
				    vertical-align: top;

				    .btn-searchbox {
					    opacity: 1;
					    border-radius: 0 3px 3px 0;
					    -moz-border-radius: 0 3px 3px 0;
					    -webkit-border-radius: 0 3px 3px 0;
					    border: none;
					    line-height: 35px;
					    white-space: nowrap;
					    text-transform: uppercase;
					    font-weight: 400;
					    position: relative;
					    padding: 0 20px !important;
					    color: #fff !important;
					    height: 46px;
					    margin: 0px;
					    -webkit-border-bottom-right-radius: 25px;
					    border-bottom-right-radius: 25px;
					    -webkit-border-top-right-radius: 25px;
						border-top-right-radius: 25px;
						display: block;
				    }
				}
			}
		}

		.middle-right-content {
			float: right;
			.customer-action {
			    padding: 0 0 0 45px;
			    position: relative;
			    display: inline-block;
				vertical-align: top;
				cursor: pointer;
				&:before {
					font-family: 'printcart-ico';
				    content: '\f105';
				    position: absolute;
				    left: 0;
				    top: -3px;
				    font-size: 33px;
				}
				.customer-links {
					font-weight: 600;
				}

				.display-name {
					font-weight: 500;
				}

				.nb-account-dropdown {
					position: absolute;
					background: #fff;
					-webkit-box-shadow: 3px 3px 10px -2px #5c5c5c;
					box-shadow: 3px 3px 10px -2px #5c5c5c;
					padding: 0px;
					-webkit-border-radius: 2px;
					border-radius: 2px;
					-webkit-transition: all .2s ease;
					-o-transition: all .2s ease;
					transition: all .2s ease;
					top: 76px;
					z-index: 99;
					min-width: 250px;
					&:before {
					    content: "\A";
					    border-style: solid;
					    border-width: 20px 108px 23px 0;
					    border-color: transparent transparent transparent transparent;
					    position: absolute;
						left: 0;
						top: -42px;
						right: 50%;
					}
					ul {
						margin: 0;
						padding: 0;
						list-style: none;
						li {
							border-bottom: 1px solid #d7d7d7;
							padding: 15px 30px;
							a{
							    text-decoration: none;
							    line-height: 24px;
							}
							&:hover {
								background: #fafafa;
							}
						}
					}
				}

			}

			.minicart-header {
			    display: inline-block;
			    vertical-align: top;
			    margin-left: 45px;
				position: relative;
				cursor: pointer;

			    .show-cart {
				    vertical-align: top;
				    padding-left: 41px;
				    position: relative;
					&:after {
						font-family: 'printcart-ico';
					    content: '\f104';
					    position: absolute;
					    left: 0;
						top: -5px;
						font-size: 37px;
					}
					.text {
						font-weight: 600;
					}
					.price-wrapper {
						display: block;
						.price {
							font-weight: 500;
						}
					}
			    }
			    .counter-number{
					position: absolute;
				    bottom: 0;
				    background: #000;
				    border-radius: 50%;
				    color: #fff;
				    width: 21px;
				    height: 21px;
				    z-index: 100;
				    text-align: center;
			    }

			    .mini-cart-wrap {
			    	top: 76px;
			    	.cart-subtotal-price {
			    		float: right;
			    		 color: #444;
    					font-weight: 600;
    					* {
    						font-size: 19px;
    					}
			    	}
			    	&.cart-0 {
			    		padding-bottom: 0;
					    padding: 23px 0;
					    text-align: center;
			    		.woocommerce-mini-cart__empty-message {
			    			margin-bottom: 0;
			    		}
			    	}
			    }
			}
		}

	}

	.bot-section-wrap {
		border-top: 1px solid #ebebeb;
		#mega-menu-primary {
			> li {
				> a {
					text-transform: uppercase !important;
				}
			}
			> li.mega-menu-item {
				padding: 0 10px;
				&:first-child {
					padding-left: 0;
					a {
						padding-left: 0;
					}
				}
			}

			.mega-sub-menu {
				li {
					a{
						text-transform: initial !important;
					}
				}
			}

			.mega-menu-flyout.mega-toggle-on {
				.mega-sub-menu {
					li {
						a{
							border-bottom: 1px solid #d7d7d7;
    						padding: 15px 30px;
						}
						
					}
				}

			}
		}
	}
}