@mixin margin-padding-border-right-0 {
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
}
@mixin display-none {
	display: none;
}
.header-8 {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	z-index: 100;
	display: block;
	margin: 0 auto;
	.header-top-left-wrapper {
		@include media-breakpoint-down(md) {
			text-align: center;
		}
		a {
			text-decoration: none;
		}
		.widget {
			margin: 0px;
		}
	}
	.top-section-wrap {
		height: 47px;
		ul {
			&.header-top-left {
				margin: 0;
				padding: 0;
				list-style: none;
				& > li {
					position: relative;
					display: inline-block;
					border-right: 2px solid #ccc;
					line-height: 13px;
					padding-right: 10px;
					margin-right: 5px;					
					@include media-breakpoint-only(lg) {
						font-size: 13px;
					}
					&.visible {
						@include margin-padding-border-right-0;
					}
					&:last-child {
						@include margin-padding-border-right-0;
					}
					&.top-header-language, &.top-header-currency {
						span {
							&.has-arrow {
								cursor: pointer;
								&:after {
									content: '\f108';
									font-family: "printcart-ico";
									font-weight: normal;
									font-style: normal;
									margin: 0px 0px 0px 6px;
									text-decoration: none;
								}
							}
						}
					}

					&.top-header-join-free, 
					&.top-header-login, 
					&.top-header-logout,
					&.top-header-your-account {
						span {
							@include media-breakpoint-down(xs) {
								display: none;
							}
						}
					}
				}
			}
		}
		.header-top-right-wrapper {
			text-align: right;
			.top-right-header-text {
				font-size: 18px;
				@include media-breakpoint-only(lg) {
					font-size: 13px;
				}
				@media (max-width: 1367px) {
					font-size: 16px;
				}
			}
			a {
				position: relative;
				bottom: 2px;
				text-decoration: none;
				background-color: #fc6058;
				color: #fff;
				padding: 4px 15px;
				border-radius: 5px;
				margin-left: 25px;
				text-align: center;
				vertical-align: middle;
				font-size: 18px;
				font-weight: bold;
				@include media-breakpoint-only(lg) {
					font-size: 14px;
				}
				@media (max-width: 1367px) {
					font-size: 14px;
				}
			}
		}
	}
	.middle-section-wrap {
		.middle-right-content {
			float: right;
			.customer-action {
				@include display-none;
			}
			.header-cart-wrap {
				.show-cart {
					.text {
						@include display-none;
					}
					.price-wrapper {
						@include display-none;
					}
				}
			}
			.header-search-wrap {
				margin-left: 15px;
				margin-right: 5px;
				display: inline-block;
				.search-form {
					.nb-input-group {
						@include display-none;
					}
					&:before {
						position: absolute;
						content: '\e90b';
						font-family: 'printcart-ico';
						color: #000;
						font-size: 20px;
						right: 15px;
						top: 0px;
					}
					&.visible {
						.nb-input-group {
							display: block;
						}
					}
					.nb-input-group {
						@include display-none;
						.search-button {
							display: block;
							position: absolute;
							top: 50%;
							right: 35%;
							& > button {
								background: transparent;
								& > i {
									color: #777 !important;
								}
							}
						}
						.search-field {
							-webkit-appearance: none;
							visibility: visible;
							position: absolute;
							top: 50%;
							left: 50%;
							background: transparent;
							border: 2px solid #777;
							color: #fff;
							font-size: 16px;
							min-width: 250px;
							padding: 0 15px;
							-webkit-box-shadow: none;
							box-shadow: none;
							width: 30%;
							-webkit-transform: translateX(-50%);
							-ms-transform: translateX(-50%);
							transform: translateX(-50%);
							-webkit-border-radius: 20px;
							border-radius: 20px;
						}
					}
					&:before {
						content: '\e90b';
						font-family: 'printcart-ico';
						color: #000;
						font-size: 20px;
					}
				}
				&.popup_content {
					background: rgba(0, 0, 0, 0.9);
					width: 100%;
					height: 100%;
					position: fixed;
					top: 0;
					right: 0;
					z-index: 9999;
					-webkit-transition: all .4s ease-out;
					-o-transition: all .4s ease-out;
					transition: all .4s ease-out;
					margin-right: 0;
				}
			}
			.search_text {
				margin-right: 20px;
				.text-search {
					@include display-none;
				}
			}
			.minicart-header {
				.show-cart {
					&:before {
						font-family: 'printcart-ico';
						content: '\a911';
						position: absolute;
						right: 58px;
						top: 0px;
						font-size: 25px;
						color: #000;
					}
				}
				.counter-number {
					position: absolute;
					top: 2px;
					right: 45px;
					background: #fc6058;
					-webkit-border-radius: 50%;
					border-radius: 50%;
					color: #fff;
					width: 21px;
					height: 21px;
					line-height: 21px;
					z-index: 100;
					text-align: center;
				}
			}
			#netbase-responsive-toggle {
				@include media-breakpoint-up(lg) {
					@include display-none;
				}
				i.fa.fa-bars {
					font-size: 21px;
					position: relative;
					top: 3px;
				}
			}
			.close_popup {
				position: fixed;
				top: 20%;
				right: 10%;
				width: 30px;
				height: 30px;
				cursor: pointer;
				z-index: 9999;
				display: none;
				&:before {
					-webkit-transition: all .4s ease-out;
					-o-transition: all .4s ease-out;
					transition: all .4s ease-out;
					content: ' ';
					width: 40px;
					height: 2px;
					display: block;
					-webkit-transform: translate(-5px, 14px) rotate(-45deg);
					-ms-transform: translate(-5px, 14px) rotate(-45deg);
					transform: translate(-5px, 14px) rotate(-45deg);
					background-color: #fff;
				}
				&:after {
					-webkit-transition: all .4s ease-out;
					-o-transition: all .4s ease-out;
					transition: all .4s ease-out;
					content: ' ';
					width: 40px;
					height: 2px;
					display: block;
					-webkit-transform: translate(-5px, 12px) rotate(45deg);
					-ms-transform: translate(-5px, 12px) rotate(45deg);
					transform: translate(-5px, 12px) rotate(45deg);
					background-color: #fff;
				}
			}
		}
	}
	#primary-menu {
		ul {
			li {
				a {
					&:after {
						content: '\e800';
						font-family: 'printcart-ico';
						font-size: 20px;
					}
				}
			}
		}
	}
	span {
		&.mega-toggle-label-open {
			color: #fff;
		}
	}

	.main-navigation .menu-main-menu-wrap #mega-menu-wrap-primary #mega-menu-primary > li.mega-menu-item > a.mega-menu-link {
		font-weight: 700;
	}
}