.header-6.site-header{
	.mini-cart-section {
		.mini-cart-wrap {
			width: 390px;
		}
	}

}

.blog .post .read-more-link > a {
    padding: 6px 17px !important;
    position: relative;
    top: -1px;
}