.header-7.site-header{
	margin-bottom:0px;
	.header-top{
		padding-top:20px;
		.header7-top-left-wrapper{
			margin-top:11px;
			.header7-top-left{
				padding-left:0px;
				list-style-type: none;
				margin-bottom:0px;
				.top-header-currency{
					display: flex;
					font-size: 16px;
				}
				li{
					float:left;
					&:not(:last-child):after{
						content :'|';
						margin-left:5px;
						margin-right: 10px;
					}
				}
				.header-sub-language{
					margin-left:5px;
					display: inline-block;
					position: relative;
					ul{
						position: absolute;
						text-align:left;
						background: #fff;
						z-index: 200;
						visibility: hidden;
						opacity: 0;
						padding-left: 0;
						border:1px solid #000;
						transition: 0.5s;
						width: 110px;
						li{
							padding:10px 15px !important;
							border: none;
							list-style-type: none;
							&:not(:last-child){
								border-bottom:1px solid #fff;
							}
							a{
								text-decoration: none;
							}
						}
					}
					.has-arrow{
						&:after{
							content:'\f108';
							font-family: 'printcart-ico';
							font-size: inherit;
							color: inherit;
							margin-left:5px;
						}
					}
					&:hover{
						ul{
							visibility: visible;
							opacity: 1;
						}
					}
				}
			}
		}
		.header7-top-right-wrapper{
			margin-top:-3px;
			.header7-top-right{
				text-align: right;
				.nb-account-dropdown{
					top:52px;
					left:auto !important;
					right:0px !important;
					nav ul{
						margin-top:0px;
					}
				}
				.customer-action{
					position: relative;
					text-align: left;
					display: inline-block;
					padding-left:55px;
					height: 55px;
					.display-name{
						font-weight: bold;
					}
					.customer-links {
						font-weight: bold;
						a{
							font-weight: bold;
							text-decoration: none;
						}
					}
					.nb-account-dropdown{
						position: absolute;
						z-index: 20;
						width:200%;
						left:0px;
						background:#fff;
						transition: 0.5s;
						nav{
							ul{
								list-style-type: none;
								padding-left:0px;
								margin-bottom:0px;
								li {
									a{
										display: block;
										padding:15px;
										text-decoration: none;
									}
									&:not(:last-child){
										border-bottom: 1px solid #ebebeb
									}
								}
							}
						}
					}
					&:before{
						font-family: 'printcart-ico';
						content: '\f105';
						position: absolute;
						left: 0;
						top: -3px;
						font-size: 40px;
					}
					.top-title{
						margin-top: 4px;
						margin-bottom: -4px;
					}
				}
				.header-cart-wrap{
					display: inline-block;
					text-align: left;
					vertical-align: top;
					margin-left: 45px;
					position: relative;
					.counter-number{
						position: absolute;
						bottom: 0;
						font-size: 14.05px;
						background: #000;
						-webkit-border-radius: 50%;
						border-radius: 50%;
						color: #fff;
						width: 21px;
						height: 21px;
						z-index: 1000;
						text-align: center;
					}
					.show-cart{
						padding-left: 50px;
						position: relative;
						z-index: 200;
						&:after{
							font-family: 'printcart-ico';
							content: '\f104';
							position: absolute;
							left: 0;
							top: -5px;
							font-size: 40px;
						}
						.text{
							margin-top: 4px;
							display: inline-block;
						}
						.price-wrapper{
							display: block;
							margin-top:-3px;
						}
						.df-text{
							font-weight: bold;
						}
					}
					.mini-cart-section{
						top:52px;
						right:0px !important;
						left:auto !important;
					}
				}
			}
		}
		.logo-header{
			text-align: center;
			.main-logo{
				display: inline-block;
			}
		}
	}
	.header7-middle{
		position: relative;
		.header7-search{
			position: absolute;
			right:5px;
			top: 50% !important;
			transform: translateY(-50%);
			>i{
				font-size: 18px;
				cursor: pointer;
				padding:10px;
			}
		}		
	}
	.search_text{
		.icon-search-1{
			display: none;
		}
	}
	div.search_text{
		position: fixed;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		background:rgba(0,0,0,0.9);
		z-index: 200000000;
		display: none;
		form{
			position: absolute;
			top:50%;
			left:50%;
			width: 45%;
			transform: translateY(-50%) translateX(-50%);
			input{
				background: transparent;
				border: 2px solid #777;
				color: #fff;
				font-size: 16px;
				padding: 0 15px;
				border-radius: 30px;
			}
			.search-button{
				position: absolute;
				right:10px;
				left:auto !important;
				top:auto !important;
				button{
					background-color: transparent;
					i{
						color:#777 !important;
					}
				}
			}
		}
		>i{
			position: absolute;
			font-size: 30px;
			color:#fff;
			top:10px;
			right:10px;
		}
	}
	.middle-section-wrap{
		padding-top:15px;
		padding-bottom: 14px;
	}
	nav#site-navigation{
		ul#mega-menu-primary{
			text-align:center;
			li{
				a{
					text-transform: uppercase;
					font-size: 16px;
					font-weight: 400;
				}
			}
			li.mega-menu-item{
				a.mega-menu-link{
					font-weight: 400 !important;
				}
			}
		}
	}
}

@media screen and (max-width: 1199px){
	.header-7.site-header {
		.header-top {
			.header7-top-right-wrapper {
				.header7-top-right {
					.header-cart-wrap{
						margin-left:15px;
					}
				}
			}
		}
	}
}

@media screen and (max-width:991px){
	.header-7.site-header{
		nav#site-navigation{
			margin-top:7px;
			button{
				margin-top:0px;
			}
		}
		.header7-middle {
			.header7-search{
				top: 40% !important;
			}
		}
	}
	.height9{
		height:auto !important;
		border-top-color: #fff !important;
	}
	.header-7.site-header {
		.header7-middle {
			padding-top:10px;
			padding-bottom:10px;
			text-align: right;
		}
		.left7{
			margin-bottom:35px;
		}
		.header-top{
			margin-bottom:15px;
			.logo-header{
				text-align: left;
			}
		}
		.header7-middle{
			padding-top: 0px;
			text-align: left;
		}
	}
	.header7-top-left-wrapper{
		text-align: center;
		.header7-top-left{
			display: inline-block;
		}
	}
} 

@media screen and (max-width:576px){
	.header-7.site-header {
		.header-top {
			.logo-header{
				text-align: center;
				flex:0 0 100%;
				max-width: 100%;
				margin-bottom:20px;
			}
			.right7{
				flex:0 0 100%;
				max-width: 100%;
				.header7-top-right{
					text-align: center;
				}
			}
		}
	}
}

@media screen and (max-width:480px){
	.header-7.site-header {
		.header-top {
			.left7{
				margin-bottom:20px;
			}
			.header7-top-left-wrapper {
				margin-top:0px;
				.header7-top-left{
					margin-top:0px;
				}
			}
			.header7-top-right-wrapper{
				.header7-top-right {
					.customer-action {
						.nb-account-dropdown{
							left:0 !important;
							right:auto !important;
						}
					}
				}
			}
		}
		.mini-cart-section {
			.mini-cart-wrap{
				width: 270px;
			}
		}
	}
}