.icon-header-section {
  &:before {
    bottom: -2px;
    z-index: 10;
    opacity: 0;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
}

.icon-header-section {
  align-self: center;
}

.icon-header-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //text-align: right;
  padding-left: 15px;
  .nb-account-dropdown {
    display: none;
    position: absolute;
    left: -50px;
    top: 45px;
    z-index: 9;
    width: 250px;
    background-color: #fff;
    margin-top: 0;
    margin-bottom: 0;
    padding: 30px;
    box-shadow: 3px 3px 10px -2px #5c5c5c;
    ul {
      list-style-type: none;
      padding-left: 0;
      margin: 0;
      li:not(:last-of-type) {
        a {
          border-bottom: 1px solid;
        }
      }
    }
    a {
      display: block;
      padding-top: 8px;
      padding-bottom: 8px;
      text-transform: uppercase;
    }
  }
  .header-cart-wrap {
    display: inline-block;
    position: relative;
    z-index: 100;
  }
  .header-account-wrap, .header-cart-wrap {
    margin-right: 5px;
  }
  i {
    font-size: 16px;
  }
  .nb-cart-section {
    display: inline-block;
    margin-top: -5px;
    &:before {
      font-size: 18px;
    }
  }
}

.customer-action {
  .nb-account-dropdown {
    opacity: 0;
    visibility: hidden;
  }
  &:hover {
    .nb-account-dropdown {
      opacity: 1;
      visibility: visible;
    }
  }
}

.mini-cart-section {
  //opacity: 0;
  //visibility: hidden;
  display: none;
  z-index: 99999999 !important;
  //transition: all .2s ease;
}

.mini-cart-section {
  position: absolute;
  top: 76px;
  //&.show {
  //  display: block;
  //}
  .mini-cart-container {
    position: relative;
    &:before {
    content: "\A";
    border-style: solid;
    border-width: 20px 108px 23px 0;
    border-color: transparent transparent transparent transparent;
    position: absolute;
    right: 0;
    top: -42px;
    }
  }
  .mini-cart-wrap {

    background: #fff;
    width: 370px;
    box-shadow: 3px 3px 10px -2px rgba(92,92,92,1);
    border-radius: 2px;
    transition: all .2s ease;
    z-index: 9 !important;
    padding-bottom: 30px;
    padding: 15px;
  }

  .mini_cart_item {
    float: left;
    position: relative;
    width: 100%;
    padding: 15px 20px;
    border-bottom: 1px solid #d7d7d7;
    .mini-cart-pd-image {
      display: inline-block;
      width: 80px;
      padding-right: 15px;
      float: left;
    }
    .minicart-pd-meta {
      display: inline-block;
      float: left;
      width: -webkit-calc(100% - 50px);
      width: -moz-calc(100% - 50px);
      width: calc(100% - 80px);
      text-align: left;
      padding-right: 15px;
      > a {
        display: block;
      }
      .quantity {
        display: inline-block;
        float: left;
      }
    }
    .remove {
      position: absolute;
      right: 15px;
      color: #ccc;
    }
    &:first-child {
      padding-top: 0;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  .cart_list {
    float: left;
    width: 100%;
    padding: 20px 0px 0;
    list-style-type: none;
    max-height: 350px;
    overflow-x: auto;
    scrollbar-color:#888 #f1f1f1;
    scrollbar-width: thin;
    &::-webkit-scrollbar{
        width: 3px;  
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1; 
    }
    &::-webkit-scrollbar-thumb {
        background: #888; 
        border-radius: 30px;
    }
  }

  .total {
    display: inline-block;
    width: 100%;
    border-top: 1px solid;
    padding-top: 22px;
    margin-bottom: 22px;
    line-height: 24px;
    padding: 22px 30px 0;
    text-align:right;
  }
  .buttons {
    display: flex;
    margin-bottom: 0;
    padding: 0 30px;
    .button {
      display: inline-block;
      text-decoration: none;
      height: 40px;
      line-height: 35px;
      width: 50%;
      text-align: center;
      
      &:first-child {
        margin-right: 7.5px;
      }
      &:last-child {
        margin-left: 7.5px;
      }
    }
  }
}

